@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

.log {
  background-color: mat.m2-get-color-from-palette(gio.$mat-basic-palette, white);
  border-radius: 4px;
  border: 1px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker20');

  margin: 8px 0 8px 0;

  &__header {
    display: flex;
    flex-direction: row;
    border-radius: 4px 4px 0 0;
    background-color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'default');
    padding: 16px 24px;

    &__title {
      @include mat.m2-typography-level($typography, body-1);
    }
  }

  &__data {
    &__tabs {
      &__body {
        background-color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'default');
        padding: 12px 16px;
        white-space: pre-wrap;
      }
    }
  }

  &__row {
    margin-top: 8px;
    margin-bottom: 8px;

    &__cell {
      display: flex;
      flex-direction: row;
    }

    &__sub-cell {
      margin: 8px 0 8px 12px;
      display: flex;
      flex-direction: row;
    }

    &__property {
      margin-right: 4px;
      white-space: nowrap;
      color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'lighter40');
      @include mat.m2-typography-level($typography, body-2);
    }

    &__value {
      word-break: break-all;
      @include mat.m2-typography-level($typography, body-2);
    }

    &__accordion {
      margin: 0 -12px;
    }
  }
}
