@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

.summary {
  margin-bottom: 16px;

  &__row {
    display: flex;
    flex-direction: row;
    margin: 4px 0;
  }

  &__label {
    margin-right: 4px;
    white-space: nowrap;
    color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'lighter40');
    @include mat.m2-typography-level($typography, body-2);
  }

  &__value {
    word-break: break-all;
    @include mat.m2-typography-level($typography, body-2);
  }
}

.log {
  background-color: mat.m2-get-color-from-palette(gio.$mat-basic-palette, white);
  border-radius: 4px;
  border: 1px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker20');
  margin: 8px 0;

  &__header {
    display: flex;
    flex-direction: row;
    border-radius: 4px 4px 0 0;
    background-color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'default');
    padding: 16px 24px;

    &__title {
      @include mat.m2-typography-level($typography, body-1);
    }
  }

  &__section {
    margin-top: 16px;

    &__title {
      margin-bottom: 8px;
      @include mat.m2-typography-level($typography, subtitle-2);
    }
  }

  &__row {
    margin: 8px 0;

    &__cell {
      display: flex;
      flex-direction: row;
    }

    &__sub-cell {
      margin: 8px 0 8px 12px;
      display: flex;
      flex-direction: row;
    }

    &__property {
      margin-right: 4px;
      white-space: nowrap;
      color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'lighter40');
      @include mat.m2-typography-level($typography, body-2);
    }

    &__value {
      word-break: break-all;
      @include mat.m2-typography-level($typography, body-2);
    }
  }

  &__accordion {
    display: block;
    margin: 0 -12px;
  }

  &__empty {
    padding: 16px 0;
    @include mat.m2-typography-level($typography, body-2);
  }
}
