@use '../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.mat-column-id {
  width: 25%;
}

.mat-column-name {
  width: 25%;
}

.mat-column-description {
  width: 50%;
}

.centered-cell {
  display: flex;
  justify-content: center;
}

.add-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 16px;
  flex: 1 1 auto;
}
