:host {
  display: block;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;

  .custom-date {
    width: 212px;
  }

  .form__timeframe {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}

.errors {
  width: 100%;
}
