@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

@use '../../../scss/gio-layout' as gio-layout;

$foreground: map.get(gio.$mat-theme, foreground);

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.org-settings-tags {
  &__tags-card {
    &__headerRightBtn {
      margin: auto 0 auto auto;
    }
    margin-bottom: 16px;

    .mat-column-actions {
      width: 128px;
    }
  }

  &__entrypoints-card {
    &__headerRightBtn {
      margin: auto 0 auto auto;
    }
    &__content {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      &__env {
        margin-bottom: 8px;

        &__config {
          display: flex;
          flex-direction: row;
          gap: 16px;

          &__form-field-entrypoint {
            flex: 2 1 auto;
          }

          &__form-field-port,
          &__form-field-entrypoint {
            &__icon {
              color: mat.m2-get-color-from-palette($foreground, disabled);
            }
          }
        }
      }
    }

    .mat-column-actions {
      width: 128px;
    }

    & + & {
      margin-top: 16px;
    }
  }
}
