@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

.quick-filters {
  display: flex;
  flex-direction: column;

  background-color: mat.get-color-from-palette(gio.$mat-basic-palette, white);
  padding: 16px 24px;
  border-bottom: 1px solid mat.get-color-from-palette(gio.$mat-dove-palette, darker10);

  &__row {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;
  }

  &__selectors {
    display: flex;
    flex-direction: row;
  }

  &__period,
  &__applications,
  &__plans {
    padding: 0;
    margin-right: 16px;
  }

  &__chip {
    background-color: mat.get-color-from-palette(gio.$mat-dove-palette, darker10);
    color: mat.get-color-from-palette(gio.$mat-dove-palette, darker10-contrast);

    &__key {
      @include mat.typography-level($typography, body-1);
    }

    &__value {
      @include mat.typography-level($typography, body-2);
      margin-left: 2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px;
    }
  }

  .mat-standard-chip {
    min-height: 24px;
    height: 24px;
  }

  &__applied {
    display: flex;
    flex-direction: row;
  }
}
