@use 'sass:map';
@use '../../../../scss/gio-layout' as gio-layout;
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

:host {
  @include gio-layout.gio-responsive-content-container;
}

.subscription {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__row {
    display: flex;
    border-bottom: 1px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker10');

    & > div {
      flex: 1 1 100%;
      padding: 8px;
    }
  }
  &__footer {
    display: flex;
    padding-top: 56px;
    gap: 8px;
  }
  &__api-keys {
    &__subtitle {
      padding-bottom: 24px;
    }
    &__id {
      display: flex;
      height: inherit;
      align-items: center;
      gap: 8px;
    }
    &__actions {
      display: flex;
      justify-content: flex-end;
    }
    &__footer {
      display: flex;
      padding-top: 56px;
      gap: 8px;
    }
    &__table-wrapper {
      margin-top: 8px;
    }
  }
}

#subscription-application {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
