@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

tr.mat-mdc-row {
  height: 28px;

  .empty-cell {
    color: mat.m2-get-color-from-palette(gio.$mat-smoke-palette, 'darker20');
  }
}

.table-widget {
  margin-top: 0 !important;
  margin-bottom: 6px;
  border-top-width: 0;
}
