.gio-chart-pie {
  &__chart {
    display: block;
  }

  &__no-data {
    display: flex;
    justify-content: center;
  }

  .highcharts-container,
  .highcharts-container svg {
    width: 100% !important;
    height: 100% !important;
  }
}
