@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use 'src/scss/gio-layout' as gio-layout;

$foreground: map.get(gio.$mat-theme, foreground);
$typography: map.get(gio.$mat-theme, typography);

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.go-to-dashboard {
  float: right;
}

.logging {
  &-card {
    &__enable-toggle {
      width: 100%;
      padding: 0;
    }

    &__conditionEL__form-field {
      width: 100%;
      margin: 24px 0;
    }

    &__content-modes,
    &__scope-modes,
    &__logging-modes {
      margin-top: 24px;

      &__card-group {
        text-align: center;
        margin-top: 8px;

        .card__content {
          display: flex;
          flex-direction: column;
          align-items: center;

          &__icon {
            width: 40px;
            height: 40px;
            margin-bottom: 8px;
          }

          &__title {
            @include mat.m2-typography-level($typography, subtitle-2);
          }

          &__description {
            max-width: 144px;
            @include mat.m2-typography-level($typography, caption);
          }
        }
      }

      .disabled {
        color: mat.m2-get-color-from-palette($foreground, disabled);
      }
    }
  }

  &-banner {
    margin: 24px 0;
  }
}
