@use 'sass:map';
@use '@angular/material/index' as mat;
@use '@gravitee/ui-particles-angular/index' as gio;

.empty {
  padding: 32px 8px 32px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__icon {
    background: mat.m2-get-color-from-palette(gio.$mat-primary-palette, 'lighter');
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 24px;
  }

  &__action {
    margin-top: 24px;
  }
}
