@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use 'sass:map';

$typography: map.get(gio.$mat-theme, typography);
$row-height: 36px;
$disappear-on-drag-transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

.flat-tree {
  @include mat.tree-overrides(
    (
      node-min-height: $row-height,
    )
  );
  background: transparent;
}

.tree {
  &__empty-state {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
  }

  &__row {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: mat.m2-get-color-from-palette(gio.$mat-space-palette, lighter80);

      .tree__button.more-actions {
        opacity: 1;
        visibility: visible;
      }
    }

    &.selected {
      @include mat.m2-typography-level($typography, 'subtitle-2');
      color: mat.m2-get-color-from-palette(gio.$mat-primary-palette, darker40);
      background-color: mat.m2-get-color-from-palette(gio.$mat-primary-palette, lighter80);

      .tree__button.more-actions {
        opacity: 1;
        visibility: visible;
      }
    }

    &.unpublished:not(.selected) {
      .tree__icon__type,
      .tree__label,
      .tree__icon__status {
        $unpublished-color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, darker60);
        color: $unpublished-color;
        fill: $unpublished-color;
      }

      .tree__button.more-actions,
      .tree__button.more-actions mat-icon {
        color: initial;
      }
    }
  }

  &__button {
    @include mat.icon-button-overrides(
      (
        state-layer-size: 28px,
        icon-size: 16px,
      )
    );
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    &.more-actions {
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 0.2s ease,
        visibility 0.2s ease;
      background-color: transparent;
    }
  }

  &__spacer {
    width: 25px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-left: 4px;
  }

  &__label {
    padding-left: 8px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &.selected {
      @include mat.m2-typography-level($typography, 'subtitle-2');
      color: mat.m2-get-color-from-palette(gio.$mat-primary-palette, darker40);
    }
  }

  &__menu-item-delete {
    color: mat.m2-get-color-from-palette(gio.$mat-error-palette, default);
    fill: mat.m2-get-color-from-palette(gio.$mat-error-palette, default);

    :hover {
      background-color: mat.m2-get-color-from-palette(gio.$mat-error-palette, lighter);
    }
  }

  &__menu-item-delete--disabled {
    color: mat.m2-get-color-from-palette(gio.$mat-error-palette, darker40);
    fill: mat.m2-get-color-from-palette(gio.$mat-error-palette, darker40);
    opacity: 0.8;
  }

  &__drag {
    &-placeholder {
      height: $row-height;
      border: 2px dashed mat.m2-get-color-from-palette(gio.$mat-dove-palette, darker40);
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      margin: 5px 0;
      border-radius: 2px;
    }

    &-preview {
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow:
        0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
      background-color: #fff;
      padding: 0 16px;
      height: $row-height;
      display: flex;
      align-items: center;
      gap: 8px;
      opacity: 0.9;

      mat-icon {
        margin-right: 8px;
      }
    }
  }
}

mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * Drag and drop animation handling
 */

.cdk-drag-animating {
  transition: $disappear-on-drag-transition;
}

/* Fix for the list animating when sorting */
.flat-tree.cdk-drop-list-dragging .tree__row:not(.cdk-drag-placeholder) {
  transition: $disappear-on-drag-transition;
}
