@use 'sass:map';
@use '../../../../../scss/gio-layout' as gio-layout;
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

:host {
  @include gio-layout.gio-responsive-content-container;
}

.back-button {
  margin-bottom: 24px;
  a {
    display: flex;
    align-items: center;

    mat-icon {
      height: 16px;
      width: 16px;
    }
  }
}
