md-sidenav {
	width: 256px;
	min-width: 256px;
	max-width: 256px;
}

.sidenav-list {
 	padding: .5rem 1.5rem 1rem;
	color: #fff;
}

.sidenav-list a {
	color: #fff;
}

.sidenav-list ng-md-icon {
	fill: #fff;
}

.sidenav-list-button {
	width:100%; 
	text-align:left; 
	margin: 0px;
	text-transform: none;
}

#sidenav-user-name {	
	font-size: 1.725rem;
  white-space: nowrap;
  color: #fff;
}

#sidenav-footer a {
  color: #B1B7BD;
}

#sidenav-footer ng-md-icon {
	fill: #B1B7BD;
}
