.gv-forms {
  width: 960px;
  h1 {
    font-size: 2em;
    margin: 16px 0 4px;
  }

  .md-subheader {
    margin: 12px 0;
  }

  .gv-forms-header {
    a, div {
      padding: 0 0 4px 12px;
    }
  }

  .gv-back-to {
    background-color: #fff;
    fill: #707070;
    border: 1px solid #e2e5e7;
  }

  .gv-form-danger {
    h2 {
      color: #d73a49;
    }
    .gv-form-content {
      border-color: #d73a49;
    }
    .gv-form-danger-text {
      font-size: 1.1em;
      font-weight: 500;
    }
  }
  .gv-form {
    .md-errors-spacer {
      display: none;
    }
    .gv-input-container-dense {
      margin: 0;
    }
    .gv-filters {
      margin: 16px 0 32px;
    }
    .ipsum{
      font-size: 11px;
      line-height: 14px;
      color: grey;
    }

    background-color: #fff;
    margin: 6px 0;
  }

  h2 {
    color: #000;
    font-size: 1.4em;
    padding: 16px 0 4px;
    margin: 0;
  }

  h3 {
    font-size: 1.3em;
  }
  .gv-form-content {
    border: 1px solid #e2e5e7;
    border-radius: 4px;
    padding: 16px;

    .hint{
      position: initial;
      bottom: -18px !important;
    }
  }

}
.gv-forms.gv-forms-fluid {
  width: 100%;
  min-width: 960px;
}
