md-toolbar.topnavbar {
  max-height: 54px;
  height: 54px;
  min-height: 54px;
  position: fixed;
  z-index: 100;
}

.topnavbar-brand {
  margin-left: 4px;
  a {
    text-decoration: none;
    img {
      max-width: 80px;
      max-height: 50px;
    }
  }
}

.gv-navbar-link:hover, .gv-navbar-link:focus {
  color: inherit;
}

.gv-navbar-help-button {
  min-width: 0px;
  margin-right: 0px;
}

.gv-navbar-user-link {
  padding-top: 2px;
  margin-top: 2px;
  font-size: 12px;
  text-transform: none;
  min-width: initial;
  img {
    vertical-align: middle;
    border-radius: 20px;
    height: 40px;
    width: 40px;
  }
}

.gv-menu-content {
  padding-bottom: 0;

  h5 {
    margin-bottom: 0;
  }

  .gv-menu-content-main {
    padding-bottom: 8px;

    img{
      width: 60px;
      height: 60px;
      border-radius: 30px;
    }

    .gv-menu-content-links {
      padding: 10px 8px;
      border-left: 1px solid rgb(45,50,62);
    }
  }

  .gv-menu-content-footer {
    background-color: #F5F5F5;
  }
}

.gv-menu-badge {
  margin-left: 5px;
}

.gv-menu-badge-alert {
  font-size: 5px;
  padding: 3px 4px;
  float: left;
  position: absolute;
  top: 2px;
  right: 0;
  z-index: 2;
  width: 14px;
  height: 14px;
  background-clip: padding-box;
  border-radius: 50%;
}
