md-toolbar.topnavbar {
  max-height: 54px;
  height: 54px;
  min-height: 54px;
  position: fixed;
  //dialog popup has a zindex value of 80
  z-index: 75;
}

.topnavbar-brand {
  margin-left: 4px;
  a {
    text-decoration: none;
    img {
      max-width: 80px;
      max-height: 50px;
    }
  }
}

.gv-navbar-link:hover, .gv-navbar-link:focus {
  color: inherit;
}

.gv-navbar-button {
  min-width: 0;
  margin-right: 0;
}

.gv-navbar-user-link {
  padding-top: 2px;
  margin-top: 2px;
  font-size: 12px;
  text-transform: none;
  min-width: initial;
  img {
    vertical-align: middle;
    border-radius: 20px;
    height: 40px;
    width: 40px;
  }
}

.gv-menu-content {
  padding-bottom: 0;
  border-radius: 4px;
  min-width: 180px;

  h5 {
    margin-bottom: 0;
  }
  small {
    color: grey;
  }

  .gv-menu-content-main {
    padding: 0 8px;

    img{
      width: 42px;
      height: 42px;
      border-radius: 30px;
      margin: 5px 5px 5px 0;
    }

    .gv-menu-content-links {
      padding: 10px 0;
      a {
        padding: 2px 2px 2px 5px;
        width: 100%;
        color: rgb(51, 51, 51);
        text-decoration: none;
        border-radius: 4px;
      }
      a:hover {
        color: white;
        background-color: rgb(0, 108, 171);
        //background-color: #2DAAE1;
        //background-color: rgb(84, 163, 255);
        text-shadow: 0 1px 0 rgba(0,0,0,.1);
      }
    }
  }

  .gv-menu-content-footer {
    background-color: #F5F5F5;
  }
}

.gv-menu-badge {
  margin-left: 5px;
}

.gv-menu-badge-alert {
  font-size: 5px;
  padding: 3px 4px;
  float: left;
  position: absolute;
  top: 2px;
  right: 0;
  z-index: 2;
  width: 14px;
  height: 14px;
  background-clip: padding-box;
  border-radius: 50%;
}
