md-toolbar.topnavbar {
  max-height: 54px;
  height: 54px;
  min-height: 54px;
  position: fixed;
  z-index: 100;
}

.topnavbar-brand {
  margin-left: 4px;
  a {
    text-decoration: none;
    img {
      max-width: 80px;
      max-height: 50px;
    }
  }
}

.gv-navbar-link:hover, .gv-navbar-link:focus {
  color: inherit;
}

.gv-navbar-user-link {
  padding-top: 2px;
  margin-top: 2px;
  font-size: 12px;
  text-transform: none;
  img {
    vertical-align: middle;
    width: 32px;
    height: 32px;
  }
}

.gv-menu-content {
  padding-bottom: 0;

  h5 {
    margin-bottom: 0;
  }

  .gv-menu-content-main {
    padding-bottom: 8px;

    img{
      width: 54px;
      height: 54px;
    }

    .gv-menu-content-links {
      padding: 10px 8px;
      border-left: 1px solid rgb(45,50,62);
    }
  }

  .gv-menu-content-footer {
    background-color: #F5F5F5;
  }
}
