.api-events-timeline {
  .timeline:before {
    width: 1px;
  }

  .timeline li timeline-badge {
    z-index: 0;
    box-shadow: none;
    height: 40px;
    width: 40px;
    line-height: 40px;
    left: 51%;
  }

  .timeline li timeline-panel {
    padding: 7px;
  }

  &__timeline-icon {
    --gv-icon--c: white;
    --gv-icon--s: 28px;
  }

  &__timeline-date-icon {
    --gv-icon--s: 14px;
  }
}
