@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

.card {
  &__endpoint-group-name,
  &__endpoint-group-lb {
    &__label {
      @include mat.m2-typography-level($typography, subtitle-2);
    }

    &__label,
    &__hint {
      padding: 0 12px 0 12px;
    }

    &__form-field {
      width: 100%;
      margin-bottom: 8px;
    }
  }
}
