@use 'sass:map';
@use '@angular/material/index' as mat;
@use '@gravitee/ui-particles-angular/index' as gio;

@use '../../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.cluster-configuration {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.configuration-card {
  &__field {
    width: 100%;
    margin-bottom: 8px;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
