@use 'sass:map';
@use '../../../../../node_modules/@angular/material/index' as mat;
@use '../../../../../node_modules/@gravitee/ui-particles-angular/index' as gio;

@use '../../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.cluster-configuration {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.configuration-card {
  &__field {
    width: 100%;
    margin-bottom: 8px;
  }
}
