@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

@use '../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-full-width-content-container;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  //position: relative;
  min-height: 600px;
  background-color: mat.get-color-from-palette(gio.$mat-basic-palette, white);

  :host-context(.breadcrumb) {
    height: calc(100% - 16px /* Remove margin-top*/);
    margin-top: 16px;
    border-top: 1px solid mat.get-color-from-palette(gio.$mat-dove-palette, darker20);

    .gio-policy-studio-layout {
      &__tab-content {
        --gv-policy-studio--h: calc(100vh - 185px - 76px - 16px);
      }
    }
  }

  .gio-policy-studio-layout {
    &__header {
      //position: relative;
      display: flex;
      background-color: mat.get-color-from-palette(gio.$mat-basic-palette, white);

      &__nav {
        flex: 1;

        &__icon {
          margin-left: 5px;
          height: 20px;
          width: 20px;
        }
      }
    }

    &__tab-content {
      flex: 1 1 auto;
      --gv-policy-studio--h: calc(100vh - 185px);

      &.save-bar-opened {
        --gv-policy-studio--pb: 84px;
      }
    }

    &__save-bar {
      //position: absolute;
      width: 50%;
      margin: 0 25%;
    }
  }
}
