@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

@use '../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-full-width-content-container;
  display: flex;
  flex-direction: column;
}

.gio-policy-studio-layout {
  &__header {
    position: relative;
    display: flex;
    background-color: mat.get-color-from-palette(gio.$mat-decorative-palette, 'surface');

    &__title {
      align-items: center;
      color: mat.get-color-from-palette(gio.$mat-primary-palette, 'default');
      display: flex;
      padding: 14px;
      position: absolute;
    }

    &__nav {
      flex: 1;
    }
  }

  &__tab-content {
    background-color: white;
    flex: 1 1 auto;
    --gv-policy-studio--h: calc(100vh - 105px);

    &__dirty {
      --gv-policy-studio--h: calc(100vh - 160px);
    }
  }

  &__save-bar {
    position: absolute;
    bottom: 0;
    padding: 20px 12px 20px 22px;
    width: 99%;
  }
}
