@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use '../../../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.api-portal-access-groups {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__body {
    display: flex;
    flex-direction: column;

    &__read-only-groups {
      display: flex;
      gap: 14px;

      .mat-body-2 {
        white-space: nowrap;
      }
    }
  }

  &__actions {
    display: flex;
    gap: 16px;
  }
}
