@use 'src/scss/gio-layout' as gio-layout;

.home-overview {
  padding: 24px;
  display: flex;
  flex-flow: column;
  gap: 14px;

  &__time-selector {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__row {
    display: flex;
    gap: 14px;
  }

  &__card {
    width: 100%;
    flex: 1 1 100%;
    min-height: 250px;
  }
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;

  gio-loader {
    width: 32px;
  }
}
