@use 'src/scss/gio-layout' as gio-layout;

.home-overview {
  padding: 24px;
  display: flex;
  flex-flow: column;
  gap: 14px;

  &__row {
    display: flex;
    gap: 14px;
  }

  &__card {
    width: 100%;
    flex: 1 1 100%;
  }
}
