!.gitignore

target/
.idea/
*.iml
.DS_Store

# eclipse
.settings/
.project
.classpath
/bin/

# dependencies
node_modules
/node

# TODO
# gravitee-rest-api-standalone/gravitee-rest-api-standalone-distribution/src/main/resources/license/*
# gravitee-rest-api-standalone/gravitee-rest-api-standalone-distribution/src/main/resources/logs/*
# gravitee-rest-api-standalone/gravitee-rest-api-standalone-distribution/src/main/resources/data/*
# gravitee-rest-api-standalone/gravitee-rest-api-standalone-distribution/src/main/resources/plugins/*

# used in makefile as working directory
.working/
# used
.logs/
# -- Cicd : Git ignore the [.circleci/**/*] which contains
# files which do not need to be commited (password to artifactory)
#.circleci/**/*
# -- Cicd : Do not git ignore the [!./.circleci/config.yml] which contains
# the pipeline definition
#!./.circleci/config.yml
# -- Cicd : Git ignore the [gpg.script.snippet.sh] which contains
# secrets (password to artifactory)
gpg.script.snippet.sh
# -- Cicd : The [graviteebot.gpg.priv.key] file contains secrets
# which should not be commited
graviteebot.gpg.priv.key
# -- Cicd : The [.secrethub.credential] file contains secrets
# which should not be commited
graviteebot.gpg.pub.key
# -- Cicd : The [.secrets.json] file contains secrets
# which should not be commited
.secrets.json

# Cypress
gravitee-apim-cypress/cypress/videos/
