@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

@use 'src/scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
}

$typography: map.get(gio.$mat-legacy-theme, typography);
$foreground: map.get(gio.$mat-legacy-theme, foreground);

.cors-card {
  &__enable-toggle {
    padding-bottom: 16px;
    width: 100%;

    mat-slide-toggle {
      margin: 0 8px;
    }
  }

  &__allow-origin,
  &__allow-methods,
  &__allow-headers,
  &__allow-credentials,
  &__max-age,
  &__expose-headers,
  &__run-policies {
    padding-bottom: 16px;

    &:last-child {
      padding-bottom: 0;
    }

    &__label,
    &__hint {
      padding: 0 0.75em 0 0.75em;
      margin-bottom: 0;
    }

    &__label {
      @include mat.typography-level($typography, body-2);
    }

    &__form-field,
    &__enable-toggle {
      width: 100%;
    }

    &.disabled {
      color: mat.get-color-from-palette($foreground, disabled);
    }
  }

  &__allow-origin {
    margin-top: 16px;
  }
}
