openapi: 3.0.3
info:
    title: Gravitee.io APIM - Management API - Installation - Deprecated
    description: |-
        This is the OpenAPI specification for our new version of APIM Management API.
    contact:
        email: team-apim@graviteesource.com
    license:
        name: Apache 2.0
        url: http://www.apache.org/licenses/LICENSE-2.0.html
    version: 2.0.0

security:
    - CookieAuth: []

servers:
    - url: "{protocol}://{managementAPIHost}/management/v2"
      description: APIM Management API v2 - Default base URL
      variables:
          protocol:
              description: The protocol you want to use to communicate with the mAPI
              default: https
              enum:
                  - https
                  - http
          managementAPIHost:
              description: The domain of the server hosting your Management API
              default: localhost:8083

tags:
    - name: Installation
      description: Base resources about the installation

paths:
    /license:
        get:
            tags:
                - Installation
            summary: Get the license gravitee is running on.
            description: |-
                Returns the license information of the gravitee instance.

                User must be authenticated.
            operationId: getGraviteeLicense
            deprecated: true
            responses:
                "200":
                    description: |-
                        The license and its features. If there is no license, then the features will be empty.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/GraviteeLicense"
                default:
                    $ref: "#/components/responses/Error"

components:
    schemas:
        Error:
            type: object
            properties:
                httpStatus:
                    type: integer
                    format: int32
                    description: The error code
                    example: 400
                message:
                    type: string
                    description: The error message
                    example: Bad request
                technicalCode:
                    type: string
                    description: A technical code to identify the error
                    example: invalid.import.definition
                parameters:
                    type: object
                    description: A map of parameters to be used in the error message
                    additionalProperties:
                        type: string
                details:
                    type: array
                    description: A list of details about the error
                    items:
                        type: object
                        properties:
                            message:
                                type: string
                                description: The error message
                                example: Bad request
                            location:
                                type: string
                                description: The json path of the field in error.
                                example: updateApi.properties[0].key
                            invalidValue:
                                type: object
                                description: The invalid value.
        GraviteeLicense:
            type: object
            properties:
                tier:
                    type: string
                    description: The tier gravitee is running on.
                    example: "tier-planet"
                packs:
                    type: array
                    items:
                        type: string
                    description: The packs included in the tier gravitee is running on.
                    example:
                        - "pack-observability"
                        - "pack-event-native"
                features:
                    type: array
                    items:
                        type: string
                    description: The features included in the tier gravitee is running on.
                    example:
                        - feature-debug-mode
                        - feature-datadog-reporter
                expiresAt:
                    type: string
                    format: date-time
                    description: The date (as timestamp) when the license will expire.
                    example: 1581256457163
    responses:
        Error:
            description: Generic error response
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/Error"

    securitySchemes:
        CookieAuth:
            type: apiKey
            in: cookie
            name: Auth-Graviteeio-APIM
