@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use '../../../scss/gio-layout' as gio-layout;

$typography: map.get(gio.$mat-theme, typography);

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.api-creation-get-started {
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    margin-top: 32px;

    &__card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1 1 40%;
      border: 1px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker20');
      border-radius: 8px;
      padding: 18px 14px;

      mat-icon {
        width: 24px;
        height: 24px;
      }

      &__action {
        display: flex;
        gap: 8px;

        .mat-icon {
          width: 20px;
          height: 20px;
          margin-left: 8px;
        }
      }

      .mat-body {
        margin-top: 8px;
        padding-bottom: 30px;
      }
    }

    &--v2 {
      display: flex;
      gap: 8px;
      align-items: center;

      .mat-body {
        color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'lighter40');
      }
    }
  }

  &__header {
    margin-bottom: 36px;

    &__title {
      margin-bottom: 4px;
    }

    &__description {
      color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'lighter40');
    }
  }

  &__path-based {
    text-align: right;
    padding: 24px 0 0 0;
  }
}
