@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use '../../../scss/gio-layout' as gio-layout;

$typography: map.get(gio.$mat-theme, typography);

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.api-creation-get-started {
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;

    margin-top: 32px;

    &__card {
      flex: 1 1 40%;
      border: 1px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker20');
      border-radius: 8px;

      &__header {
        display: flex;
        justify-content: space-between;
        padding: 24px 32px 12px 32px;

        &__title {
          margin-bottom: 0;
        }

        .gio-badge-neutral {
          margin-left: 0;
          margin-top: 8px;
        }
      }

      &__action {
        .mat-icon {
          margin-left: 8px;
        }
      }

      .mat-body {
        padding: 0 32px 24px 32px;
      }
    }

    .api-designer-card,
    .api-v4-creation-card {
      &__img {
        width: 100%;
        aspect-ratio: 1.5;
        padding: 24px 24px 0 24px;
        margin: 0;

        img {
          max-height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }

    .api-v4-creation-card {
      &__img {
        background-color: mat.m2-get-color-from-palette(gio.$mat-cyan-palette, 'lighter60');
      }
    }

    .api-designer-card {
      &__img {
        background-color: mat.m2-get-color-from-palette(gio.$mat-blue-palette, 'lighter60');
      }
    }
  }

  &__header {
    margin-bottom: 36px;

    &__title {
      margin-bottom: 4px;
    }

    &__description {
      color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'lighter40');
    }
  }

  &__path-based {
    text-align: right;
    padding: 24px 0 0 0;
  }
}
