@use 'sass:map';
@use '@angular/material/index' as mat;
@use '@gravitee/ui-particles-angular/index' as gio;
@use '../../../scss/gio-layout' as gio-layout;

$foreground: map.get(gio.$mat-theme, foreground);

:host {
  @include gio-layout.gio-responsive-margin-container;
  display: flex;
  flex-direction: column;
}

.api-quality-rules {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__form {
    &__card {
      margin-bottom: 24px;

      &__form-field {
        width: 100%;

        &__icon {
          color: mat.m2-get-color-from-palette($foreground, disabled);
        }
      }
    }
  }

  &__actions {
    display: flex;
  }
}

.title {
  margin-bottom: 24px;
}

.separator-hr {
  background-color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker20');
  margin-top: 16px;
  margin-bottom: 10px;
  height: 1px;
}

.mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
