@use 'sass:map';
@use '@angular/material/index' as mat;
@use '@gravitee/ui-particles-angular/index' as gio;
@use '../../../scss/gio-layout' as gio-layout;

$foreground: map.get(gio.$mat-theme, foreground);

:host {
  @include gio-layout.gio-responsive-margin-container;
  display: flex;
  flex-direction: column;
}

.api-quality-rules {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__form {
    &__card {
      margin-bottom: 16px;

      &__form-field {
        width: 100%;

        &__icon {
          color: mat.m2-get-color-from-palette($foreground, disabled);
        }
      }
    }
  }

  &__actions {
    display: flex;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px;

  h3 {
    margin-bottom: 0;
  }
}
