@use '../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-content-container;
}

.org-settings-audit {
  &__filters {
    margin-bottom: 8px;

    &__field {
      margin-right: 16px;

      &.right {
        float: right;
      }
    }
  }

  &__table {
    .mat-column-date {
      min-width: 214px;
    }

    .mat-column-patch {
      .pre-wrapper {
        display: flex;
        align-items: center;
        pre {
          margin: 0 0 0 0;
        }
      }
    }

    .mat-column-targets {
      .targets {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: auto 1fr;
        line-height: 20px;
        &__target {
          font-weight: bold;
        }
      }
    }

    .mat-column-date,
    .mat-column-user,
    .mat-column-referenceType,
    .mat-column-reference,
    .mat-column-event,
    .mat-column-targets,
    .mat-column-patch {
      padding: 0 6px;
    }
  }
}
