@use 'sass:map';

@use '../../../../node_modules/@angular/material/index' as mat;
@use '../../../../node_modules/@gravitee/ui-particles-angular/index' as gio;
@use '../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.checkbox-container__checkbox {
  flex-basis: calc(50% - 8px);
  margin: 4px;
}

.notifications-form__notifier {
  width: 100%;
  padding: 0;
}

.toggle-use-system-proxy {
  margin: 0 0 4px 0;
}
.notifications-form__title {
  margin-bottom: 16px;
}

.notifications-hooks-categories {
  margin-bottom: 20px;

  h6 {
    margin: 0;
  }
}
