.policy-studio-debug-inspector-body {
  display: flex;

  > * {
    // FIXME: Remove this when we will have a proper diff for the body
    width: 50%;
    max-height: 300px;
    overflow: auto;
  }
}
