@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

.step-2-entrypoints-1-list {
  &__banner {
    // Note: WIP - to be removed when we complete the banner
    display: none;

    border-radius: 4px;
    background-color: mat.m2-get-color-from-palette(gio.$mat-primary-palette, 'lighter');
    height: 106px;
    margin: 24px 0;

    &__container {
      width: 369px;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
    }
    &__title {
      color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'lighter10');
      width: 369px;
    }
    &__icon {
      vertical-align: bottom;
    }
  }
}
