@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

.option {
  &__badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;

    .gio-badge-neutral {
      text-transform: none;
    }
  }

  &__kafka-title {
    gap: 4px;
  }
}
