@use 'sass:map';
@use '@angular/material/index' as mat;
@use '@gravitee/ui-particles-angular/index' as gio;

.subscription-creation {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__api-option {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }
}
