.subscription-creation {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__api-option {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;

    &__text {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
  }
}

::ng-deep .subscriptions__table__reference-type {
  display: block;
  font-size: 12px;
  color: var(--gio-text-disabled-color, #757575);
  margin-top: 2px;
}
