@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use '../../../../../scss/gio-layout' as gio-layout;

$typography: map.get(gio.$mat-theme, typography);
