.portal-view-container {
  h3 {
    font-size: 36px;
    line-height: 42px;
  }

  .portal-view-description {
    padding-right: 20px;
    p {
      color: rgba(0,0,0,0.65);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
    .portal-view-description-title {
      img {
        max-width: 120px;
        max-height: 60px;
        width: auto;
        height: auto;
      }
      span {
        color: #333333;
        font-size: 26px;
        padding-left: 24px;
      }
    }
  }

  .portal-view-highlight-api {
    .portal-view-highlight-api-view-header {
      width: 100%;
      height: 100%;
      max-height: 160px;
      min-height: 160px;
      border-bottom: 1px solid #f1f1f1;
    }

    md-card-content {
      p {
        margin-top: 10px;
        color: rgba(0,0,0,0.65);
        font-size: 14px;
      }
    }

    md-card-actions {
      .portal-view-highlight-api-information {
        padding: 24px;
        border-top:1px solid rgba(0,0,0,0.12);
        h5 {
          border: 0;
          color: #181818;
          font-size: 16px;
          font-weight: normal;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .portal-view-more-apis {
    margin-top: 64px;
    border-top: 1px solid rgba(0,0,0,0.12);
  }
}
