@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

:host {
  background-color: mat.get-color-from-palette(gio.$mat-decorative-palette, 'surface');
  display: flex;
  flex-direction: column;
  height: 100%;
}

.policy-studio-debug-inspector {
  &__header {
    background-color: mat.get-color-from-palette(gio.$mat-decorative-palette, 'lighter-background');
    border-bottom: 2px solid mat.get-color-from-palette(gio.$mat-decorative-palette, 'divider');
    height: 56px;
    padding: 16px;
    display: flex;
    align-items: center;

    @include mat.typography-level($typography, 'body-2');

    > * {
      margin: 0;
    }
  }
  &__content {
    flex: 1 1 auto;
    height: 100%;
    overflow: auto;
    position: relative;

    &__wrapper {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;

      &__title {
        display: flex;
        height: 50px;
        padding: 16px 0;

        @include mat.typography-level($typography, 'body-2');

        > * {
          flex: 1;
          padding: 0 8px;
        }
      }

      :host-context(.save-bar-opened) & {
        padding-bottom: 16px +74px;
      }
    }
  }

  &__tree-node {
    border-top: 1px solid mat.get-color-from-palette(gio.$mat-decorative-palette, 'divider');

    &__error-icon {
      color: mat.get-color-from-palette(gio.$mat-error-palette, 'default');
      margin-right: 5px;
    }
  }

  &__tree-node-content {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    min-height: 36px;

    > * {
      flex: 1;
      width: 100%;
    }
  }
}

@mixin diff() {
  .added {
    background-color: mat.get-color-from-palette(gio.$mat-success-palette, 'lighter');
    color: mat.get-color-from-palette(gio.$mat-success-palette, 'darker');

    .input {
      visibility: hidden;
    }
  }

  .deleted {
    background-color: mat.get-color-from-palette(gio.$mat-error-palette, 'lighter');
    color: mat.get-color-from-palette(gio.$mat-error-palette, 'darker');

    .output {
      visibility: hidden;
    }
  }
  .updated {
    background-color: mat.get-color-from-palette(gio.$mat-warning-palette, 'lighter');
    color: mat.get-color-from-palette(gio.$mat-warning-palette, 'darker');
  }
}
