.documentation-pages-list {
  &__container {
    display: flex;
    flex-flow: column;
    gap: 24px;
    padding: 24px;
  }

  &__table {
    &__name {
      display: flex;
      max-width: 450px;
      cursor: pointer;
      gap: 8px;
      padding-left: 8px;
      align-items: center;

      &__header {
        padding-left: 18px;
      }

      p {
        margin-bottom: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      mat-icon {
        flex: 0 0 24px;
      }
    }

    &__status {
      flex: 1 1 100%;
      span:first-child {
        margin-left: 0;
      }
    }

    &__actions {
      display: flex;
      gap: 8px;
      flex: 1 0 auto;
    }
    .mat-column-actions {
      max-width: 232px;
    }
  }
}

.empty-icon-button {
  min-width: 40px;
}

.no-pointer {
  cursor: initial;
}

// Override Material Design icon button size using ::ng-deep to penetrate view encapsulation
:host ::ng-deep .mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 15% !important;
  width: var(--mdc-icon-button-state-layer-size) !important;
  height: var(--mdc-icon-button-state-layer-size) !important;
  padding: 12px !important;
}
