@use 'src/scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-content-container;
}
.only-configured-button {
  margin-left: 16px;
}

.mat-column-picture {
  width: 0%;
  padding-right: 16px;
}
.mat-column-name {
  padding-right: 16px;
}
.mat-column-states {
  width: 124px;
  padding-right: 16px;
}
.mat-column-availability {
  width: 372px;
  padding: 8px 16px 8px 0;

  .chart {
    display: flex;
    &__gauge {
      width: 56px;
      height: 56px;
      margin-right: 16px;
    }
  }
}
.mat-column-actions {
  width: 0%;
}
