@use 'sass:map';
@use '../../../../scss/gio-layout' as gio-layout;
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

:host {
  @include gio-layout.gio-responsive-content-container;
}

.back-button {
  margin-bottom: 24px;
}

.endpoint-card {
  &__header {
    &__group-name {
      display: flex;
      flex-direction: row;
      margin-bottom: 16px;

      .gio-badge-primary {
        margin: auto 8px;
      }

      .mat-h3 {
        margin: auto 0;
      }

      mat-icon {
        margin-right: 4px;
      }
    }
  }

  &__form {
    &__field {
      width: 100%;
      padding-bottom: 12px;
    }

    &__section {
      padding: 8px;
      margin-bottom: 16px;
      border: 1px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker20');
      border-radius: 8px;
    }

    &__tab-content {
      padding: 24px 0;
    }
  }
}
