@use '../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.no-tools-content {
  display: flex;
  flex-flow: column;
  gap: 24px;
  align-items: center;
  height: 70px;
  justify-content: center;
}
.title-and-subtitle {
  flex: 1;
}
mat-card-header {
  align-items: center;
}
mat-card-content {
  padding-top: 16px;
  display: flex;
  flex-flow: column;
  gap: 24px;
}
