@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

.more-filters {
  &__body {
    &__title {
      width: 100%;
      margin-bottom: 16px;
      @include mat.m2-typography-level($typography, subtitle-2);
    }

    &__block {
      display: flex;
      flex-direction: column;

      mat-form-field {
        padding-bottom: 0;
      }
    }
  }
}
