@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
$typography: map.get(gio.$mat-theme, typography);

.header {
  border-bottom: 2px solid mat.get-color-from-palette(gio.$mat-dove-palette, 'darker10');

  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__breadcrumb {
    display: flex;
    align-items: flex-end;

    * {
      margin-right: 8px;
    }
    .mat-icon {
      cursor: pointer;
    }

    &__item {
      @include mat.typography-level($typography, 'body-2');
      color: mat.get-color-from-palette(gio.$mat-space-palette, 'default');
      cursor: pointer;
    }

    &__item:last-of-type:not(:only-of-type) {
      @include mat.typography-level($typography, 'body-2');
      color: mat.get-color-from-palette(gio.$mat-space-palette, 'default');
      background-color: mat.get-color-from-palette(gio.$mat-dove-palette, 'default');
    }
  }
}
