@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

.health-availability-time-frame {
  &__chart {
    display: block;
    height: 56px;
    width: 300px;
  }

  &__no-data {
    display: flex;
    justify-content: center;
  }
}

// Hack to share color to highcharts
.theme-color {
  display: none;
  &__bad {
    color: mat.m2-get-color-from-palette(gio.$mat-error-palette, 'default');
  }

  &__warning {
    color: mat.m2-get-color-from-palette(gio.$mat-warning-palette, 'default');
  }

  &__good {
    color: mat.m2-get-color-from-palette(gio.$mat-success-palette, 'default');
  }
}
