.gravitee-analytics-timeframe-active {
  background-color: silver;
}

md-table-pagination .buttons > .label {
  color: grey !important;
}

.gravitee-analytics-top-hits-table > tbody > tr {
  height: 28px !important;
}

.gravitee-analytics-total {
  font-size: 20px;
  font-weight: bold;
}
