@import '../../../../scss/gio-layout';

:host {
  @include gio-responsive-margin-container;
}

.org-settings-new-user {
  &__card {
    &__form-field {
      width: 100%;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 16px;
  }
}
