@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

.table-wrapper {
  border-top: 0;
  margin-top: 0 !important;
}

.table {
  &__empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
  }

  .mat-column-timestamp {
    min-width: 220px;
    width: 220px;
  }

  .mat-column-method,
  .mat-column-endpoint,
  .mat-column-responseTime,
  .mat-column-actions,
  .mat-column-status {
    width: 0;
  }
}
