@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

.logs-table {
  border-radius: 40px 4px 0 0;

  &-row:first-child > * > .log-row {
    border-radius: 40px 4px 0 0;
  }

  &-row {
    border-bottom: 1px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, darker10);
  }

  &-card {
    border-radius: 4px;
  }

  &__banner {
    margin: 8px;
  }
}
