@use '@angular/material' as mat;

@import '../../gravitee-apim-baros/src/tokens/primitive.css';
@import '../../gravitee-apim-baros/src/tokens/semantic.css';
@import '../../gravitee-apim-baros/src/tokens/component.css';

html {
    @include mat.theme((
        color: (
            primary: mat.$orange-palette,
        ),
        typography: 'Nunito Sans',
        density: -2,
    ));
}

@import './shared/scss/material-overrides';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap');

mat-sidenav-content {
    overflow: hidden !important;
}

body {
    margin: 0;
    font-family: var(--baros-font-sans);
    background-color: var(--background);
    color: var(--foreground);
}
