@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use 'src/scss/gio-layout' as gio-layout;

.gio-instance-details-environment {
  @include gio-layout.gio-responsive-margin-container;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;

    &__card {
      &__title {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      & table {
        width: 100%;

        & td.mat-cell:not(:first-of-type) {
          overflow-wrap: anywhere;
        }

        & td.mat-cell,
        th.mat-header-cell {
          padding: 0 8px;
        }
      }
    }
  }

  &__started {
    color: #429f46 !important;
    text-transform: capitalize;
  }

  &__stopped {
    color: red !important;
    text-transform: capitalize;
  }
}
