.mat-column-version {
  text-align: left;
  width: 0%;
  white-space: nowrap;
}

.mat-column-checkbox {
  width: 0%;
  white-space: nowrap;
}

.mat-column-action {
  width: 0%;
  white-space: nowrap;
}

.pre-wrapper {
  display: flex;
  flex-direction: row-reverse;
}
