@use 'sass:map';

@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use '../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-content-container;
  display: flex;
  flex-direction: column;
}

.api-product-create {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__header {
    margin-bottom: 1.5rem;
  }

  &__title {
    margin: 0 0 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: mat.m2-get-color-from-palette(gio.$mat-smoke-palette, 'darker80');
  }

  &__instructions {
    margin: 0 0 1.5rem 0;
    color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'lighter40');
    font-size: 0.875rem;
  }

  &__form-card {
    flex: 1;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    gap: 1rem;
  }
}

.back-link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  margin-bottom: 1rem;
  border: none;
  background: none;
  color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'default');
  text-decoration: none;
  cursor: pointer;
  font-size: 0.875rem;
  font-family: inherit;

  mat-icon {
    font-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
  }

  &:hover {
    color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'darker');
    text-decoration: underline;
  }
}

.form-section {
  &__title {
    margin: 0 0 1.5rem 0;
    font-size: 1.125rem;
    font-weight: 600;
    color: mat.m2-get-color-from-palette(gio.$mat-smoke-palette, 'darker80');
  }
}

.form-row {
  margin-bottom: 1rem;

  mat-form-field {
    width: 100%;
  }

  &--inline {
    display: flex;
    gap: 1rem;
    align-items: flex-start;

    .form-field--name {
      flex: 1;
    }

    .form-field--version {
      flex: 0 0 12.5rem;
    }
  }
}

.cancel-button {
  color: mat.m2-get-color-from-palette(gio.$mat-smoke-palette, 'darker80');
  border-color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker10');
  background-color: white;

  &:hover {
    background-color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'lighter40');
  }
}

.create-button {
  background-color: mat.m2-get-color-from-palette(gio.$mat-primary-palette, 'default');
  color: mat.m2-get-color-from-palette(gio.$mat-primary-palette, 'default-contrast');
  font-weight: 500;
  min-width: 11.25rem;

  &:hover:not(:disabled) {
    background-color: mat.m2-get-color-from-palette(gio.$mat-primary-palette, 'darker');
  }

  &:disabled {
    background-color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker10');
    color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'lighter40');
  }
}
