@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
$typography: map.get(gio.$mat-theme, typography);

.header {
  margin-bottom: 24px;
  display: flex;
  gap: 12px;

  &__title {
    flex: 1 1 100%;
    display: flex;
    gap: 4px;
    flex-flow: column;
  }

  &__subtitle {
    color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'lighter40');
    @include mat.m2-typography-level($typography, 'body-2');
  }

  &__actions {
    align-self: center;
    flex: 1 0 auto;
  }
}
