.gio-metadata-dialog {
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__datepicker {
    display: flex;
  }

  &__form {
    display: flex;
    flex-direction: column;

    &__row {
      display: flex;
      gap: 8px;
      mat-form-field {
        flex: 1 1 100%;
      }
    }
  }
}
