.gio-metadata-dialog {
  &__title {
    display: flex;
    padding-bottom: 32px;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin: 0;
    }
  }

  &__datepicker {
    display: flex;
  }

  &__form {
    display: flex;
    flex-direction: column;

    &__row {
      display: flex;
      gap: 8px;
      mat-form-field {
        flex: 1 1 100%;
      }
    }

    &__footer {
      display: flex;
      justify-content: flex-end;
      gap: 14px;
    }
  }
}
