@use '../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.user-support-new-ticket {
  flex: 1 1 auto;

  &__form-field {
    display: flex;
    width: 100%;
    flex-direction: column;

    &__content-field {
      // Default text area height
      height: 200px;
    }
  }
}
