#page-content {
  font-size: 14px;
}

.raml-console-show-more-less {
  display: none;
}

.sidenav-fixed {
  position:fixed;
  top: 60px;
}

#sidenav {
  margin-left: 30px;

  ul {
    list-style-type: none;

    li {
      outline: none;
    }

    li.sidenav_item {
      display: list-item;
      border-left: 2px solid #F1F1F1;
      position: relative;
      margin-bottom: 0;
      padding: 1px 0;

      span {
        line-height: 1.2;
        color: #A6A5A5;
        display: block;
        margin: 6px;
        padding-left: 8px;
        text-decoration: none;
        font-size: 12px;
      }
    }

    li.active {
      border-left: 2px solid #11939A;
    }

    li.active span, li.sidenav_item:hover span {
      -webkit-transition: all .4s ease!important;
      color: #11939A;
    }
  }
}

.markdown-page {
  ul {
    list-style-type: disc;
  }

  p.box {
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
  }

  p.tip {
    border-left: 4px solid #004085;

    strong {
      color: #004085;
    }

    h2 {
      @extend strong;
    }

    h3 {
      @extend strong;
    }
  }

  p.warn {
    border-left: 4px solid #f0ad4e;

    strong {
      color: #f0ad4e;
    }

    h2 {
      @extend strong;
    }

    h3 {
      @extend strong;
    }
  }

  p.alert {
    position: relative;
    border-left: 4px solid #dc3545;

    strong {
      color: #dc3545;
    }

    h2 {
      @extend strong;
    }

    h3 {
      @extend strong;
    }

    :before {
      background-color: #dc3545;
      border-radius: 100%;
      color: #fff;
      content: '!';
      font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
      font-size: 14px;
      font-weight: 700;
      left: -12px;
      line-height: 20px;
      position: absolute;
      size: 20px;
      text-align: center;
      top: 11px;
      width: 20px;
      height: 20px
    }
  }
}

.gv-page-draft-banner {
  $color: #ce4844;
  border: 1px solid #eee;
  border-left: 5px solid #ce4844;
  border-radius: 3px;
  color: $color;
  padding: 2px 10px 10px 10px;
  margin-top: 20px;
}

.swagger-ui .operation {
  border: 1px solid #eee;
  border-radius: 3px;
}

.swagger-ui .operation .description {
  font-size: 16px;
  padding: .5em;
  margin: 0;
}

.swagger-ui .operation .http-method {
  font-size: 16px;
  padding: .5em;
  display: table-cell;
  float: left;
  border-top-left-radius: 1px;
  margin-right: 0;
  min-width: 68px;
  text-align: center;
  width: inherit;
  font-weight: bold;
}

.swagger-ui .operation .path {
  color: #fff;
  font-size: 16px;
  padding: .5em;
  display: table-cell;
  float: left;
  border-top-left-radius: 1px;
  margin-right: .4em;
  min-width: 68px;
  width: inherit;
  font-weight: bold;
}

.swagger-ui .operation {
  border-radius: 3px;
}

.swagger-ui .get {
  border: 1px solid #2392f7;
}

.swagger-ui .get .path {
  background-color: #2392f7;
}

.swagger-ui .get .content {
  background-color: #fff;
  border: none;
}

.swagger-ui .get .heading {
  background-color: #e7f0f7;
  border: none;
}

.swagger-ui .get .http-method {
  background-color: #2392f7;
}
.swagger-ui .get h5,
.swagger-ui .get .h5,
.swagger-ui .get .description {
  color: #2392f7;
}
.swagger-ui .get a.hide-try-it {
  color: #2392f7;
}

.swagger-ui .options {
  border: 1px solid #bdc3c7;
}

.swagger-ui .options .path {
  background-color: #bdc3c7;
}

.swagger-ui .options .content {
  background-color: #fff;
  border: none;
}

.swagger-ui .options .heading {
  background-color: #f9f9fa;
  border: none;
}

.swagger-ui .options .http-method {
  background-color: #bdc3c7;
}
.swagger-ui .options h5,
.swagger-ui .options .h5,
.swagger-ui .options .description {
  color: #bdc3c7;
}
.swagger-ui .options a.hide-try-it {
  color: #bdc3c7;
}

.swagger-ui .delete {
  border: 1px solid #e30012;
}

.swagger-ui .delete .heading {
  background-color: #f5e8e8;
  border: none;
}

.swagger-ui .delete .http-method {
  background-color: #e30012;
}
.swagger-ui .delete .path {
  background-color: #e30012;
}

.swagger-ui .delete .content {
  background-color: #fff;
  border: none;
}

.swagger-ui .delete h5,
.swagger-ui .delete .h5,
.swagger-ui .delete .description {
  color: #e30012;
}
.swagger-ui .delete a.hide-try-it {
  color: #c8787a;
}

.swagger-ui .post {
  border: 1px solid #13c20f;
}

.swagger-ui .post .heading {
  border: none;
}

.swagger-ui .post .http-method {
  background-color: #13c20f;
}

.swagger-ui .post .content {
  background-color: #fff;
  border: none;
}
.swagger-ui .post .path {
  background-color: #13c20f;
}

.swagger-ui .post h5,
.swagger-ui .post .h5,
.swagger-ui .post .description {
  color: #13c20f;
}
.swagger-ui .post a.hide-try-it {
  color: #6fc992;
}

.swagger-ui .put {
  border: 1px solid #ff9000;
}

.swagger-ui .put .heading {
  border: none;
}

.swagger-ui .put .content {
  background-color: #fff;
  border: none;
}

.swagger-ui .put .http-method {
  background-color: #ff9000;
}
.swagger-ui .put .path {
  background-color: #ff9000;
}
.swagger-ui .put h5,
.swagger-ui .put .h5,
.swagger-ui .put .description {
  color: #ff9000;
}
.swagger-ui .put a.hide-try-it {
  color: #dcb67f;
}
