#page-content {
  font-size: 14px;
}

.raml-console-show-more-less {
  display: none;
}

.sidenav-fixed {
  position:fixed;
  top: 60px;
}

#sidenav {
  margin-left: 30px;

  ul {
    list-style-type: none;

    li {
      outline: none;
    }

    li.sidenav_item {
      display: list-item;
      border-left: 2px solid #F1F1F1;
      position: relative;
      margin-bottom: 0;
      padding: 1px 0;

      span {
        line-height: 1.2;
        color: #A6A5A5;
        display: block;
        margin: 6px;
        padding-left: 8px;
        text-decoration: none;
        font-size: 12px;
      }
    }

    li.active {
      border-left: 2px solid #35a0d4;
    }

    li.active span, li.sidenav_item:hover span {
      -webkit-transition: all .4s ease!important;
      color: #35a0d4;
    }
  }
}

.markdown-page {
  ul {
    list-style-type: disc;
  }

  p.box {
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
  }

  p.tip {
    border-left: 4px solid #004085;

    strong {
      color: #004085;
    }

    h2 {
      @extend strong;
    }

    h3 {
      @extend strong;
    }
  }

  p.warn {
    border-left: 4px solid #f0ad4e;

    strong {
      color: #f0ad4e;
    }

    h2 {
      @extend strong;
    }

    h3 {
      @extend strong;
    }
  }

  p.alert {
    position: relative;
    border-left: 4px solid #dc3545;

    strong {
      color: #dc3545;
    }

    h2 {
      @extend strong;
    }

    h3 {
      @extend strong;
    }

    :before {
      background-color: #dc3545;
      border-radius: 100%;
      color: #fff;
      content: '!';
      font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
      font-size: 14px;
      font-weight: 700;
      left: -12px;
      line-height: 20px;
      position: absolute;
      size: 20px;
      text-align: center;
      top: 11px;
      width: 20px;
      height: 20px
    }
  }
}

.gv-page-draft-banner {
  $color: #ce4844;
  border: 1px solid #eee;
  border-left: 5px solid #ce4844;
  border-radius: 3px;
  color: $color;
  padding: 2px 10px 10px 10px;
  margin-top: 20px;
}

/* Remove all previous style for swagger documentation */
#swagger-container {
  all: initial;
  thead, tbody, tr, td {
    background: initial;
  }

  td {
    line-height: 15px;
  }

  select {
    padding: initial;
  }

  li {
    min-width: 80px;
  }

  code {
    background: initial;
    color: green;
    top: initial;
  }

  table {
    border: initial;
    background: initial;
    padding: initial;
  }

  pre {
    background: initial;
    padding: initial;
    border: initial;
  }

  @import '~swagger-ui-dist/swagger-ui';

  a.tablelinks {
    color: #3b4151;
  }

  .description {
    line-height: 1.4em;
  }

  a.tablinks {
    margin-right: 1em;
  }

  div.response-content-type.controls-accept-header small {
    font-size: 0.8em;
  }
  
  td.col.parameters-col_description {
    font-size: 0.8em;
  }

  th.header-col {
    min-width: 120px;
  }
}
