.raml-console-show-more-less {
  display: none;
}

.sidenav-fixed {
  position:fixed;
  top: 60px;
}

#sidenav {
  margin-left: 30px;

  ul {
    list-style-type: none;

    li {
      outline: none;
    }

    li.sidenav_item {
      display: list-item;
      border-left: 2px solid #F1F1F1;
      position: relative;
      margin-bottom: 0;
      padding: 1px 0;

      span {
        line-height: 1.2;
        color: #A6A5A5;
        display: block;
        margin: 6px;
        padding-left: 8px;
        text-decoration: none;
        font-size: 12px;
      }
    }

    li.active {
      border-left: 2px solid #11939A;
    }

    li.active span, li.sidenav_item:hover span {
      -webkit-transition: all .4s ease!important;
      color: #11939A;
    }
  }
}

.markdown-page {
  ul {
    list-style-type: disc;
  }
}
