@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@import '../../../../node_modules/diff2html/bundles/css/diff2html.min.css';

// ⚠️ !! Encapsulation disabled for this file
gio-diff {
  // Remove header bar added by diff2html
  .d2h-file-header {
    display: none;
  }

  .gio-diff {
    background-color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'default');

    &__header {
      display: flex;
      flex-direction: row;

      border-top: 2px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker10');
      align-items: center;
      padding: 8px;

      &__output-format {
        display: flex;
        align-items: center;
        height: 36px;
      }
      &__noChanges {
        padding-left: 16px;
        font-style: italic;
      }
    }

    &__content {
      background-color: mat.m2-get-color-from-palette(gio.$mat-basic-palette, white);
      &__row {
        display: flex;

        &__gv-code {
          .mat-mdc-form-field {
            width: 100%;
          }

          flex: 1 1 50%;
          overflow: auto;
          position: relative;
          min-height: 420px;

          &.single {
            flex: 1 1 auto;
          }

          &__copy-icon {
            position: absolute;
            right: 8px;
            top: 8px;
          }
        }
      }
    }
  }
}
