@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

.title {
  @include mat.m2-typography-level($typography, 'body-1');
  padding: 16px;
  border-bottom: 1px mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker10') solid;
}

.card {
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    border-bottom: 1px mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker10') solid;
    flex: 1 1 100%;

    &:last-child {
      border-bottom: none;
    }

    &__label {
      @include mat.m2-typography-level($typography, 'caption');
    }

    &__value {
      @include mat.m2-typography-level($typography, 'headline-6');
    }
  }
}
