@use 'sass:map';
@use '../../node_modules/@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$foreground: map.get(gio.$mat-theme, foreground);
$background: map.get(gio.$mat-theme, background);

dl.gio-description-list {
  display: flex;
  flex-flow: row wrap;

  dt {
    flex: 1 1 30%;
    padding: 4px 8px;
    color: mat.get-color-from-palette($foreground, disabled);
  }

  dd {
    flex: 1 1 70%;
    margin: 0;
    padding: 4px 8px;
  }

  dd ~ dd,
  dd ~ dt {
    border-top: 1px solid mat.get-color-from-palette($foreground, divider);
  }
}
