@use 'sass:map';
@use '../../node_modules/@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

@import '@danielmoncada/angular-datetime-picker/assets/style/picker.min';

$background: map.get(gio.$mat-theme, background);

$error-background-color: mat.m2-get-color-from-palette(gio.$mat-error-palette, default);
$error-color: mat.m2-get-color-from-palette(gio.$mat-error-palette, default-contrast);

$success-background-color: mat.m2-get-color-from-palette(gio.$mat-success-palette, default);
$success-color: mat.m2-get-color-from-palette(gio.$mat-success-palette, default-contrast);

$snackbar-button: mat.m2-get-color-from-palette(gio.$mat-basic-palette, white);

.gio-snack-bar-success {
  --mdc-snackbar-container-color: #{$success-background-color};
  --mdc-snackbar-supporting-text-color: #{$success-color};
  --mat-snack-bar-button-color: #{$snackbar-button};
  white-space: pre-wrap;
}

.gio-snack-bar-error {
  --mdc-snackbar-container-color: #{$error-background-color};
  --mdc-snackbar-supporting-text-color: #{$error-color};
  --mat-snack-bar-button-color: #{$snackbar-button};
  white-space: pre-wrap;
}

.mdc-button__label {
  white-space: nowrap;
}

/**
 * Reset `box-sizing` for all elements
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
