@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

@use '@danielmoncada/angular-datetime-picker/assets/style/picker.min';

$background: map.get(gio.$mat-theme, background);

$error-background-color: mat.m2-get-color-from-palette(gio.$mat-error-palette, default);
$error-color: mat.m2-get-color-from-palette(gio.$mat-error-palette, default-contrast);

$success-background-color: mat.m2-get-color-from-palette(gio.$mat-success-palette, default);
$success-color: mat.m2-get-color-from-palette(gio.$mat-success-palette, default-contrast);

$snackbar-button: mat.m2-get-color-from-palette(gio.$mat-basic-palette, white);

.gio-snack-bar-success {
  --mat-snackbar-container-color: #{$success-background-color};
  --mat-snackbar-supporting-text-color: #{$success-color};
  --mat-snack-bar-button-color: #{$snackbar-button};
  white-space: pre-wrap;
}

.gio-snack-bar-error {
  --mat-snackbar-container-color: #{$error-background-color};
  --mat-snackbar-supporting-text-color: #{$error-color};
  --mat-snack-bar-button-color: #{$snackbar-button};
  white-space: pre-wrap;
}

.mdc-button__label {
  white-space: nowrap;
}

/**
 * Override Material min-height: fit-content applied to svgIcons inside buttons and links
 */
button,
a {
  &[mat-button],
  &[mat-stroked-button],
  &[mat-flat-button],
  &[mat-raised-button] {
    .mat-icon[svgicon] {
      min-height: auto;
    }
  }
}

/**
 * Reset `box-sizing` for all elements
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
