// Correction of the styles applied to the menu when the bootstrap is disabled in favor of the material
@import '../constants';

@mixin material-layout-compatibility() {
  .sidenav-list {
    letter-spacing: initial;

    md-list-item {
      height: 40px;
      font-size: 14px;

      &.subheader {
        height: auto;
      }
    }

    h4 {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 18px;
      text-transform: uppercase;
      color: #fdfdfd;
      font-weight: 400;
      letter-spacing: 0.5px;
      padding: 15px 9px 8px;
      white-space: nowrap;
      overflow: hidden;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    hr {
      margin-top: 20px;
      margin-bottom: 20px;
      border: 0;
      border-top: 1px solid #eee;
    }
  }

  ng-md-icon {
    position: relative;
    top: 7px;
  }

  .gv-sub-menu {
    box-sizing: border-box;
    line-height: 1.42857143;

    p {
      margin: 0 0 10px;
    }

    .md-headline {
      font-size: 14.4px;
      font-weight: 400;
      line-height: 32px;
    }
  }

  .topnavbar {
    line-height: 1.42857143;
  }

  .md-content {
    padding-top: $navbarHeaderHeight;
    background-color: inherit;
    color: inherit;
  }

  code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
  }

  pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }
}
