// Correction of the styles applied to the menu when the bootstrap is disabled in favor of the material
@import '../constants';

@mixin material-layout-compatibility() {
  .gv-sub-menu {
    box-sizing: border-box;
    line-height: 1.42857143;

    p {
      margin: 0 0 10px;
    }

    .md-headline {
      font-size: 14.4px;
      font-weight: 400;
      line-height: 32px;
    }
  }

  .topnavbar {
    line-height: 1.42857143;
  }

  .md-content {
    padding-top: $navbarHeaderHeight;
    background-color: inherit;
    color: inherit;
  }

  code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
  }

  pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }
}
