@use 'sass:map';
@use '@angular/material/index' as mat;
@use '@gravitee/ui-particles-angular/index' as gio;

.title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  h2 {
    margin: 0;
  }
}

.field {
  width: 100%;
}

.actions {
  &__importInvalid {
    background-color: mat.m2-get-color-from-palette(gio.$mat-error-palette, default);
    color: mat.m2-get-color-from-palette(gio.$mat-error-palette, default-contrast);
  }
}
