@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.policy-studio-debug-card {
  height: 100%;
  min-height: 1000px;

  .policy-studio-debug {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    height: 100%;

    &__request {
      flex: 0 1 356px;
      min-height: 100%;

      border-right: 2px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker10');
    }

    &__response {
      flex: 1 1 auto;
      min-height: 100%;
      display: flex;
    }

    &__response__container {
      width: 100%;
      position: relative;
      flex: 1 1 auto;
    }

    policy-studio-debug-response {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}
