.table-wrapper {
  border-top: 0;
}

.table {
  &__empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
  }
}

.visible-columns-menu {
  display: flex;
  flex-direction: column;

  mat-checkbox {
    margin-right: 32px;
  }
}

.apply-visible-columns {
  display: block;
  margin: 0 auto;
  width: 90%;
  margin-top: 4px;
}
