@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

.form {
  &__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2%;
  }

  &__enabled-form-field {
    margin: 0 auto;
  }

  &__name-form-field,
  &__rules-form-field,
  &__severity-form-field {
    width: 49%;
  }

  &__description-form-field {
    width: 100%;
  }
}

.form-card {
  margin: 20px 6px;
}

.separator-hr {
  background-color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker20');
  margin: 16px 0;
  height: 1px;
}

.hidden {
  display: none;
}

.disabled-option {
  color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker40');
}
