@import 'home/_home';

@import 'api/_api';
@import 'api/documentation/_documentation';

@import 'components/navbar/_navbar';
@import 'components/starRating/_star.rating';

a, a:active, a:hover, a:visited {
  text-decoration: none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#header {
  padding-top: 70px;
  padding-bottom: 30px;
}

.main-container {
  min-height: calc(100vh - 120px);
}

#main-content {
  min-height: calc(100vh - 120px);
}

#footer {
  color: #E1E2E1;
  min-height: 120px;
  div.footer-brand {
    min-height: 120px;
  }
  .footer-brand-content {
    height: 80%; border-left: 1px solid #020817;
    div#footer-logo {
      text-align: right;
      padding-right: 10px;
    }
    img {
      vertical-align: middle;
      max-width: 64px;
      max-height: 32px;
    }
  }

  .footer-links {
    display: flex;
    list-style-type: none;
  }

  .footer-links-section {
    //padding: 0 60px;
    h3 {
      font: 800 14px/16px Roboto,sans-serif;
    }
    ul {
      padding: 0;
      list-style-type: none;
      li {
        margin: 6px 0;
        a {
          text-decoration: none;
          font: 12px/14px Roboto,sans-serif;
        }
      }
    }
  }
}

#plans {
  min-height: calc(100vh - 440px);
  md-card-content {
    width: 100%;
    min-height: 250px;
    text-align: center;
  }
}

section, #main-content {
  &.small {
    min-height: 250px;
    padding: 20px 0px 20px 0px;
    i.main-logo {
      font-size: 180px;
      margin-right: 70px;
    }
  }
  &.tall {
    min-height: 450px;
    padding: 50px 0px 50px 0px;
    i {
      font-size: 200px;
      margin-right: 120px;
    }
    h2 {
      font: 400 24px/32px Roboto,sans-serif;
    }
  }
}

h2.section-title {
  text-align: center;
  color: #757575;
  font: 300 24px/32px Roboto,sans-serif;
}

h2.color-white {
  color: #FFF;
}

ol, ul {
  list-style: none;
}

input {
  color: #333;
}

.menu-active {
  background-color: #34a0d4 !important;
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
