@import 'home/_home';

@import 'api/_api';
@import 'api/documentation/_documentation';

@import 'application/_applications';

@import 'components/navbar/_navbar';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#header {
  background-color: rgb(45,50,62);
  padding-top: 70px;
  padding-bottom: 50px;
}

.main-container {
  min-height: calc(100vh - 120px);
}

#main-content {
  min-height: calc(100vh - 120px);
}

#footer {
  min-height: 120px;
  background-color: #EFEFEF;
  div.footer-brand {
    color: rgb(45,50,62);
    min-height: 120px;
  }
  .footer-brand-content {
    height: 80%; border-left: 1px solid rgb(45,50,62);
    img {
      vertical-align: middle;
      width: 32px;
      height: 32px;
    }
  }
}

#plans {
  md-card-content {
    width: 100%;
    min-height: 250px;
    text-align: center;
  }
}

section, #main-content {
  &.small {
    min-height: 250px;
    padding: 20px 0px 20px 0px;
    i.main-logo {
      font-size: 180px;
      margin-right: 70px;
    }
  }
  &.tall {
    min-height: 450px;
    padding: 50px 0px 50px 0px;
    i {
      font-size: 200px;
      margin-right: 120px;
    }
    h2 {
      font: 400 24px/32px Roboto,sans-serif;
    }
  }
  &.dark-theme {
    background-color: #34A0D4;
    .section-title {
      color: #fff;
    }
  }
  &.light-theme {
    background-color: #ebeff2;
    i, h2 {
      color: #757575;
    }
    h2 {
      font: 300 24px/32px Roboto,sans-serif;
    }
  }
}

h2.section-title {
  text-align: center;
  color: #757575;
  font: 300 24px/32px Roboto,sans-serif;
}

ol, ul {
  list-style: none;
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
