@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use '../../../../scss/gio-layout' as gio-layout;

:host {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  border-top: 1px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, darker20);
  border-bottom: 1px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, darker20);
}
