@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

@use '../../../scss/gio-layout' as gio-layout;
$foreground: map.get(gio.$mat-theme, foreground);

:host {
  display: block;
}

.notifications {
  &__actions {
    display: flex;
    flex-direction: row;
  }
}

.mat-column-actions {
  width: 120px;
  max-width: 120px;
}
