@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

.form {
  display: flex;
  flex-direction: column;

  .field {
    flex: 1 1 auto;

    &.type {
      padding-bottom: 0;
    }
  }

  &__typeSubForm {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
  }

  .pathOrContent {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    gap: 16px;

    &__or {
      padding-top: 16px;
    }
  }
}
