@use '../../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.org-settings-new-user {
  &__card {
    margin-bottom: 16px;

    &__form-field {
      width: 100%;
    }

    &__user-type-group {
      &__button {
        flex: 1 1 15%;
        text-align: center;

        &__logo {
          font-size: 48px;
          margin-right: 24px;
        }
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 16px;
  }
}
