@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use '../../../../scss/gio-layout' as gio-layout;

$typography: map.get(gio.$mat-theme, typography);

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.group {
  &__card {
    margin-bottom: 24px;

    &__subtitle {
      margin-top: 10px;
    }
  }

  &__form {
    &__field {
      width: 80%;
    }

    &__actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: auto;
    }
  }
}

.mat-column-actions {
  width: 10%;
  padding: 0 5px;
}
