<html>
	<body style="text-align: center;">
		<header>
			<#include "header.html" />
		</header>
		<div style="margin-top: 50px; color: #424e5a;">
			<h3>Hi,</h3>
			<p>Application <b>${application.name}</b> has just asked for subscription to the API <b>${api.name}</b> with plan <b>${plan.name}</b>.</p>
			<#if plan.validation == 'MANUAL'>
				<p>This subscription needs to be approved.</p>
			</#if>

			<#if application.apiKeyMode == 'SHARED'>
				<p>
					Application <b>${application.name}</b> is using the shared API key mode.
					This means that API keys used by this subscription may be shared with others API subscriptions.
				</p>
			</#if>

			<#if subscription.request??>
				Message
				<p style="border: 1px solid grey; margin: 0 32px; padding: 16px; font-style: italic;">${subscription.request}</p>
			</#if>
      	</div>
	</body>
</html>
