@use 'sass:map';
@use '@angular/material/index' as mat;
@use '@gravitee/ui-particles-angular/index' as gio;
@use 'src/scss/gio-layout' as gio-layout;
$typography: map.get(gio.$mat-theme, typography);

:host {
  @include gio-layout.gio-responsive-content-container;
}

.mat-card {
  padding: 0;
}

.content {
  padding: 20px 24px;
}

.actions {
  padding: 20px 24px;
  border-top: 1px solid mat.get-color-from-palette(gio.$mat-dove-palette, 'darker10');
  display: flex;
  gap: 8px;
}
