@use '../../scss/gio-layout' as gio-layout;
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use '@gravitee/gravitee-markdown' as gmd;

:host {
  @include gio-layout.gio-responsive-content-container;

  & {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.actions {
  display: flex;
  gap: 16px;
  align-items: center;
}

gmd-form-editor {
  @include gmd.editor-overrides(
    (
      container-outline-color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker20'),
    )
  );
  flex-grow: 1;
  min-height: 0;
}
