@use '../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.org-settings-tags {
  &__add-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
  }

  &__tags-card {
    margin-bottom: 16px;

    .mat-column-actions {
      width: 104px;
    }
  }

  &__default-config-card {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
  }
}
