.form {
  display: flex;
  flex-direction: column;

  mat-form-field {
    flex: 1 1 auto;
    margin-bottom: 8px;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
