@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

@use '../../../scss/gio-layout' as gio-layout;

$foreground: map.get(gio.$mat-theme, foreground);

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.org-settings-tags {
  &__add-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;

    h2 {
      flex: 1 1 auto;
    }
  }

  &__tags-card {
    margin-bottom: 16px;

    .mat-column-actions {
      width: 128px;
    }
  }

  &__entrypoints-card {
    &__content {
      display: flex;
      flex-direction: column;

      &__form-field {
        &__icon {
          color: mat.m2-get-color-from-palette($foreground, disabled);
        }
      }
    }

    .mat-column-actions {
      width: 128px;
    }
  }
}
