@use '../../../../scss/layout' as layout;
@use '../../../../scss/theme' as app-theme;

:host {
  @include layout.medium-container();
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: layout.$container-content-padding-vertical layout.$container-content-padding-horizontal;
  max-width: app-theme.$inner-content-width;
  margin: 0 auto;
}

.documentation-subscribe__back-link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
