@use 'sass:map';
@use '@angular/material/index' as mat;
@use '@gravitee/ui-particles-angular/index' as gio;
$typography: map.get(gio.$mat-theme, typography);

:host {
  display: flex;
  padding: 18px 32px;
  align-items: center;
  border-bottom: 2px solid mat.get-color-from-palette(gio.$mat-dove-palette, 'darker10');
}

.header {
  &__action {
    display: flex;
    gap: 8px;
  }

  &__title {
    flex: 1 1 100%;
    margin: 0;
  }
}
