@use 'sass:map';
@use '@angular/material/index' as mat;
@use '@gravitee/ui-particles-angular/index' as gio;
$typography: map.get(gio.$mat-theme, typography);

.header {
  border-bottom: 2px solid mat.get-color-from-palette(gio.$mat-dove-palette, 'darker10');

  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 54px;

  &__action {
    display: flex;
    gap: 8px;
  }
}
