@use 'sass:map';
@use 'node_modules/@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

.policy-studio-debug-timeline-overview {
  background-color: mat.get-color-from-palette(gio.$mat-decorative-palette, 'surface');
  border-bottom: 2px solid mat.get-color-from-palette(gio.$mat-decorative-palette, 'divider');
  height: 40px;
  display: flex;
  align-items: center;

  &__left-client-app,
  &__right-client-app,
  &__center-target-backend {
    color: mat.get-color-from-palette(gio.$mat-neutral-palette, 'darker');
    flex: 0 0 24px;
    margin: 0 8px;
  }

  &__step {
    flex: 1 1 auto;
    height: 24px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;

    &__line {
      height: 4px;
      background-color: mat.get-color-from-palette(gio.$mat-primary-palette, 'lighter');

      &.color-green {
        background-color: mat.get-color-from-palette(gio.$mat-success-palette, 'default');
      }

      &.color-blue {
        background-color: mat.get-color-from-palette(gio.$mat-accent-palette, 'default');
      }

      &.color-grey {
        background-color: mat.get-color-from-palette(gio.$mat-content-palette, 'disabled');
      }

      &.color-red {
        background-color: mat.get-color-from-palette(gio.$mat-error-palette, 'default');
      }

      &::before {
        content: '•';
        display: block;
        text-align: center;
        color: transparent;
      }

      &.selected-start::before,
      &.selected-content::before,
      &.selected-end::before {
        color: mat.get-color-from-palette(gio.$mat-content-palette, 'default');
      }
    }

    &.disabled {
      cursor: initial;
    }

    &:hover:not(.disabled) > &__line::before {
      color: mat.get-color-from-palette(gio.$mat-content-palette, 'darker');
    }

    // Add margin between step
    & + & {
      margin-left: 2px;
    }
  }
}
