@use 'sass:map';
@use '@angular/material/index' as mat;
@use '@gravitee/ui-particles-angular/index' as gio;

.card {
  &__providers {
    display: flex;
    flex-direction: column;

    &__button {
      &__wrapper {
        display: flex;
        align-items: center;

        &__logo {
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }
        &__name {
          flex: 1 1 auto;
        }
      }

      // Default color for all providers
      &--graviteeio_am {
        --mat-button-protected-label-text-color: #1b1d3c;
        --mat-button-protected-container-color: #86c3d0;
      }
      &--google {
        --mat-button-protected-label-text-color: #fff;
        --mat-button-protected-container-color: #4285f4;
      }
      &--github {
        --mat-button-protected-label-text-color: #fff;
        --mat-button-protected-container-color: #444;
      }
      &--oidc {
        --mat-button-protected-label-text-color: #fff;
        --mat-button-protected-container-color: #000000;
      }

      & + & {
        margin-top: 12px;
      }
    }
  }
}
