<header class="subscription-details__header">
  <h1 class="m3-headline-medium">Subscription details</h1>
  <button mat-stroked-button color="warn">
    Close subscription
  </button>
</header>
<section class="subscription-details__info">
  <dl>
    <div class="subscription-details__info__row">
      <dt>
        <span class="material-icons">check_circle</span>
        <span>Status</span>
      </dt>
      <dd>Active</dd>
    </div>
    <div class="subscription-details__info__row">
      <dt>
        <span class="material-icons">folder</span>
        <span>Subscribed API</span>
      </dt>
      <dd>
        <a class="link-primary" routerLink="#">Payments API</a>
      </dd>
    </div>
    <div class="subscription-details__info__row">
      <dt>
        <span class="material-icons">star</span>
        <span>Plan</span>
      </dt>
      <dd>Standard</dd>
    </div>
    <div class="subscription-details__info__row">
      <dt>
        <span class="material-icons">web_asset</span>
        <span>Application</span>
      </dt>
      <dd>
        <a class="link-primary" routerLink="#">Checkout integration</a>
      </dd>
    </div>
    <div class="subscription-details__info__row">
      <dt>
        <span class="material-icons">schedule</span>
        <span>Created</span>
      </dt>
      <dd>2024-02-18</dd>
    </div>
    <div class="subscription-details__info__row">
      <dt>
        <span class="material-icons">tag</span>
        <span>ID</span>
      </dt>
      <dd class="id-value">
        7df9d1a3-c01e-40e1-b9d1-a3c01e70e14a
<!--          <button mat-icon-button aria-label="Copy ID" (click)="copyToClipboard('7df9...')">-->
        <span class="material-icons copy-icon" aria-label="Copy ID">content_copy</span>
      </dd>
    </div>
  </dl>
</section>

<div class="card usage-card">
  <div class="card-header">
    <h3 class="mat-title-medium">Subscription usage</h3>
    <button mat-stroked-button>Refresh</button>
  </div>
  <div class="card-content">
    <p class="usage-note">Subscription quota resets on 1st of Jan, 2026</p>
    <div class="usage-stats">
      <div class="usage-labels">
        <strong>Total calls sent</strong>
        <span>20 of 10,000 (1% used)</span>
      </div>
      <mat-progress-bar mode="determinate" value="1"></mat-progress-bar>
      <div class="usage-remaining">9,980 (99%) remaining</div>
    </div>
  </div>
</div>

<div class="card api-card">
  <h3 class="mat-title-medium card-title">Calling the API</h3>
  <div class="input-group">
    <label>Base URL</label>
    <div class="field-with-copy">
      <input readonly type="text" value="https://apim-master-gateway.team-apim.gravitee.dev/cardapi/getuserstatus">
      <button mat-icon-button><mat-icon>content_copy</mat-icon></button>
    </div>
  </div>
  <div class="input-group">
    <div class="field-with-copy">
      <input readonly type="text" value='curl --header "X-Gravitee-Api-Key: f4312..." ...'>
      <button mat-icon-button><mat-icon>content_copy</mat-icon></button>
    </div>
  </div>
</div>
