.gravitee-login-container {
  background: $bgColor;
  height: 100%;
  padding-top: 100px;
  position: fixed;
  width: 100%;

  & label {
    color: #fff !important;
    font-size: 2em;
    font-weight: 200;
  }
  & input {
    color: #fff !important;
    font-size: 1.3em;
  }
}

.gravitee-login-content {
  margin: 0 auto;
  width: 300px;
}


.gravitee-login-header {
  padding-bottom: 100px;

  & a {
    margin: 0 auto;

    & img {
      height: 200px;
    }
  }

  & label {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    margin: 0 auto;
  }
}
