.gravitee-login-container {
  background: $bgColor;
  padding-top: 100px;

  & label {
    color: #fff !important;
  }
  & input {
    color: #fff !important;
  }
}

.gravitee-login-content {
  margin: 0 auto;
  width: 300px;

  & md-input-container {
    margin-top: 0px;
  }
}

.gravitee-login-header {
  padding-bottom: 30px;
  text-align: center;

  & a {
    margin: 10px auto;

    & img {
      height: 100px;
    }
  }

  & label {
    font-size: 28px;
    font-weight: 400;
    margin: 0 auto;
  }
}
