@use 'sass:map';

@use '../../../node_modules/@angular/material/index' as mat;
@use '../../../node_modules/@gravitee/ui-particles-angular/index' as gio;
@use '../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-content-container;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  h1 {
    margin-bottom: 0;
  }
}
