openapi: 3.0.0
info:
  title: Gravitee.io Portal Rest API
  description: API dedicated to the devportal part of Gravitee
  termsOfService: terms
  contact:
    name: The Gravitee Team
    url: https://gravitee.io
    email: contact@graviteesource.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  version: "3.0.0"
servers:
  - url: http://demo.gravitee.io/portal/{envId}
    description: The portal API for a given environment
    variables:
      envId:
        default: DEFAULT
        description: ID of the environment
tags:
  - name: Analytics
    description: All about application analytics
  - name: Api
    description: All about APIs
  - name: Applications
    description: All about applications
  - name: Documentation
    description: All about documentation of the portal
  - name: Portal
    description: All about portal configurations
  - name: Subscription
    description: All about subscriptions
  - name: User
    description: All about the current user
  - name: Users
    description: All about the portal users

security:
  - BasicAuth: []
  - CookieAuth: []

paths:
  /apis:
    get:
      tags:
        - Api
      parameters:
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/apiContextPathQueryParam'
        - $ref: '#/components/parameters/apiLabelQueryParam'
        - $ref: '#/components/parameters/apiVersionQueryParam'
        - $ref: '#/components/parameters/apiNameQueryParam'
        - $ref: '#/components/parameters/apiViewQueryParam'
        - $ref: '#/components/parameters/apiCategoryQueryParam'
      summary: List APIs
      description: |
        List public APIs for anonymous requests.
        List all the APIs the current user is allowed to view for authenticated requests.
        
        The list can be filtered according to query parameters.
        
        By default the list is sorted by alphabetic order.
        If a **cat** query param is sent, a specific sorting can be applied. Please refer to **cat** description for detail.
      operationId: getApis
      security: []
      responses:
        200:
          description: List accessible APIs for current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApisResponse'
        500:
          $ref: '#/components/responses/InternalServerError'
  /apis/{apiId}:
    parameters:
      - $ref: '#/components/parameters/apiIdParam'
    get:
      tags:
        - Api
      parameters:
        - $ref: '#/components/parameters/apiIncludeParam'
      summary: Get the API definition
      description:  |
        Get the detail of an API.
        
        This API has to be accessible by the current user, otherwise a 404 will be returned.
      operationId: getApiByApiId
      security: []
      responses:
        200:
          description: API definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api'
        404:
          $ref: '#/components/responses/APINotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
  /apis/{apiId}/pages:
    parameters:
      - $ref: '#/components/parameters/apiIdParam'
    get:
      tags:
        - Api
        - Documentation
      parameters:
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/homePageQueryParam'
        - $ref: '#/components/parameters/parentPageQueryParam'
      summary: List API pages
      description: |
        List all documentation pages of an API.
        
        This API has to be accessible by the current user, otherwise a 404 will be returned.
      operationId: getPagesByApiId
      security: []
      responses:
        200:
          $ref: '#/components/responses/PagesSuccess'
        404:
          $ref: '#/components/responses/APINotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
  /apis/{apiId}/pages/{pageId}:
    parameters:
      - $ref: '#/components/parameters/apiIdParam'
      - $ref: '#/components/parameters/pageIdParam'
    get:
      tags:
        - Api
        - Documentation
      summary: Get an API page
      description: |
        Get an API page.

        This API has to be accessible by the current user, otherwise a 404 will be returned.
      operationId: getPageByApiIdAndPageId
      security: []
      responses:
        200:
          $ref: '#/components/responses/PageSuccess'
        404:
          description: API or Page not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          $ref: '#/components/responses/InternalServerError'
  /apis/{apiId}/picture:
    parameters:
      - $ref: '#/components/parameters/apiIdParam'
    get:
      tags:
        - Api
      summary: Get the API's picture
      description: |
        Get the API's picture.

        This API has to be accessible by the current user, otherwise a 404 will be returned.
      operationId: getPictureByApiId
      security: []
      responses:
        200:
          $ref: '#/components/responses/PictureSuccess'
        404:
          $ref: '#/components/responses/APINotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
  /apis/{apiId}/plans:
    parameters:
      - $ref: '#/components/parameters/apiIdParam'
    get:
      tags:
        - Api
      parameters:
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'

      summary: List plans for an API
      description: |
        List plans for an API.

        This API has to be accessible by the current user, otherwise a 404 will be returned.
      operationId: getApiPlansByApiId
      security: []
      responses:
        200:
          description: List accessible plans for current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlansResponse'
        404:
          $ref: '#/components/responses/APINotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
  /apis/{apiId}/ratings:
    parameters:
      - $ref: '#/components/parameters/apiIdParam'
    get:
      tags:
        - Api
      parameters:
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
      summary: List ratings for an API
      description: |
        List ratings for an API.

        This API has to be accessible by the current user, otherwise a 404 will be returned.
      operationId: getApiRatingsByApiId
      security: []
      responses:
        200:
          description: List of subscriptions
          content:
            application/json:
              schema:  
                $ref: '#/components/schemas/RatingsResponse'
        404:
          $ref: '#/components/responses/APINotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Api
      summary: Create a rating for an API
      description: |
        Create a rating for an API.

        This API has to be accessible by the current user, otherwise a 404 will be returned.

        The current must have API_RATING[CREATE] permission to create a rating.
      operationId: createApiRatingForApi
      requestBody:
        description: Use to add a rating to an api
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatingInput'
      responses:
        201:
          description: Created Rating
          content:
            application/json:
              schema:  
                $ref: '#/components/schemas/Rating'
        400:
          description: Rating for this api and this user already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Rating service is not activated or user does not have sufficient rights to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          $ref: '#/components/responses/APINotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'

  /applications:
    get:
      tags:
        - Applications
      parameters:
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
      summary: List all the applications accessible to authenticated user.
      description: |
        List all the applications accessible to authenticated user.
        
        User must have MANAGEMENT_APPLICATION[READ] and PORTAL_APPLICATION[READ] permission.
      operationId: getApplications
      responses:
        200:
          description: List of Applications.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationsResponse'
        403:
          $ref: '#/components/responses/PermissionError'
        500:
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Applications
      requestBody:
        description: Use to create an application.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationInput'
      summary: Create an application
      description: |
        Create an application.
        
        User must have MANAGEMENT_APPLICATION[CREATE] permission.
      operationId: createApplication
      responses:
        201:
          description: Created application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        400:
          description: Bad Request if body is empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          $ref: '#/components/responses/PermissionError'
        500:
          $ref: '#/components/responses/InternalServerError'
  /applications/{applicationId}:
    parameters:
      - $ref: '#/components/parameters/applicationIdParam'
    get:
      tags:
        - Applications
      summary: Get an application.
      description: |
        Get an application.
        
        User must have the APPLICATION_DEFINITION[READ] permission.
      operationId: getApplicationByApplicationId
      responses:
        200:
          description: One application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          $ref: '#/components/responses/ApplicationNotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Applications
      requestBody:
        description: Use to update an application.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
      summary: Update an application.
      description: |
        Update an application.
        
        User must have APPLICATION_DEFINITION[UPDATE] permission.
      operationId: updateApplicationByApplicationId
      responses:
        200:
          description: Updated application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        400:
          description: Bad Request if body is empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          $ref: '#/components/responses/ApplicationNotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
    delete: 
      tags:
        - Applications
      summary: Delete an application
      description: |
        Delete an application.
        
        User must have the APPLICATION_DEFINITION[DELETE] permission.
      operationId: deleteApplicationByApplicationId
      responses:
        204:
          description: No-Content
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          $ref: '#/components/responses/ApplicationNotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
  /applications/{applicationId}/picture:
    parameters:
      - $ref: '#/components/parameters/applicationIdParam'
    get:
      tags:
        - Applications
      summary: Get the application's picture
      description: |
        Get the application's picture.
        
        User must have APPLICATION_DEFINITION[READ] permission.
      operationId: getApplicationPictureByApplicationId
      responses:
        200:
          $ref: '#/components/responses/PictureSuccess'
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          $ref: '#/components/responses/ApplicationNotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
  /applications/{applicationId}/notifications:
    parameters:
      - $ref: '#/components/parameters/applicationIdParam'
    get:
      tags:
        - Applications
      summary: Get application notifications settings
      description: |
        Get application notifications settings.
        
        User must **at least** have APPLICATION_NOTIFICATION[READ] permission to get **portal** notification settings.
        
        User must **also** have APPLICATION_NOTIFICATION[CREATE | UPDATE | DELETE] permission to get **generic** notification settings.
      operationId: getNotificationsByApplicationId
      responses:
        200:
          description: List of notification configs
          content:
            application/json:
              schema:  
                $ref: '#/components/schemas/NotificationConfigsResponse'
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          $ref: '#/components/responses/ApplicationNotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Applications
      requestBody:
        description: Use to create an notification
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericNotificationConfig'
      summary: Create notification settings.
      description: |
        Create notification settings.
        
        User must have APPLICATION_NOTIFICATION[READ] permission to create a **portal** notification.
        
        User must have APPLICATION_NOTIFICATION[CREATE] permission to create a **generic** notification.
      operationId: createApplicationNotification
      responses:
        200:
          description: Created notification config.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PortalNotificationConfig'
                  - $ref: '#/components/schemas/GenericNotificationConfig'
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          $ref: '#/components/responses/ApplicationNotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Applications
      requestBody:
        description: Use to update a portal notification config.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortalNotificationConfig'
      summary: Update a portal notification for an application.
      description: |
        Update a portal notification for an application.
        
        User must have APPLICATION_NOTIFICATION[READ] permission to update a **portal** notification.
      operationId: updatePortalApplicationNotification
      responses:
        200:
          description: Updated portal notification config.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortalNotificationConfig'
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          $ref: '#/components/responses/ApplicationNotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError' 
  /applications/{applicationId}/notifications/{notificationId}:
    parameters:
      - $ref: '#/components/parameters/applicationIdParam'
      - $ref: '#/components/parameters/notificationIdParam'
    put:
      tags:
        - Applications
      requestBody:
        description: Use to update a generic notification.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericNotificationConfig'
      summary: Update a generic notification for an application.
      description: |
        Update a generic notification for an application.
        
        User must have APPLICATION_NOTIFICATION[UPDATE] permission to update a **generic** notification.
      operationId: updateGenericApplicationNotification
      responses:
        200:
          description: Updated generic notification config.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericNotificationConfig'
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          description: Application or Notification not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          $ref: '#/components/responses/InternalServerError'
    delete: 
      tags:
        - Applications
      summary: Delete a notification
      description: |
        Delete a notification.
        
        User must have APPLICATION_NOTIFICATION[DELETE] permission to delete a **generic** notification.
      operationId: deleteApplicationNotificationByNotificationId
      responses:
        204:
          description: No-Content
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          description: Application or Notification not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          $ref: '#/components/responses/InternalServerError' 
  /applications/{applicationId}/members:
    parameters:
      - $ref: '#/components/parameters/applicationIdParam'
    get:
      tags:
        - Applications
      parameters:
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
      summary: List application members
      description: |
        List application members.
        
        User must have the APPLICATION_MEMBER[READ] permission.
      operationId: getMembersByApplicationId
      responses:
        200:
          description: List of members
          content:
            application/json:
              schema:  
                $ref: '#/components/schemas/MembersResponse'
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          $ref: '#/components/responses/ApplicationNotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Applications
      requestBody:
        description: Use to create a member.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberInput'
      summary: Create an application member
      description: |
        Create an application member.
        
        User must have the APPLICATION_MEMBER[CREATE] permission.
      operationId: createApplicationMember
      responses:
        201:
          description: Created member
          content:
            application/json:
              schema:  
                $ref: '#/components/schemas/Member'
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          $ref: '#/components/responses/ApplicationNotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
  /applications/{applicationId}/members/_transfer_ownership:
    parameters:
      - $ref: '#/components/parameters/applicationIdParam'
    post:
      tags:
        - Applications
      requestBody:
        description: Use to transfer ownership of an application.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferOwnershipInput'
      summary: Transfer the ownership of the application
      description: |
        Transfer the ownership of the application.
        
        User must have the APPLICATION_MEMBER[UPDATE] permission.
      operationId: transferMemberOwnership
      responses:
        204:
          description: No-Content
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          $ref: '#/components/responses/ApplicationNotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
  /applications/{applicationId}/members/{memberId}:
    parameters:
      - $ref: '#/components/parameters/applicationIdParam'
      - $ref: '#/components/parameters/memberIdParam'
    get:
      tags:
        - Applications
      summary: Get an application member
      description: |
        Get an application member.
        
        User must have the APPLICATION_MEMBER[READ] permission.
      operationId: getApplicationMemberByApplicationIdAndMemberId
      responses:
        200:
          description: A member
          content:
            application/json:
              schema:  
                $ref: '#/components/schemas/Member'
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          description: Application or Member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Applications
      requestBody:
        description: Use to update a member.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberInput'
      summary: Update an application member.
      description: |
        Update an application member.
        
        User must have the APPLICATION_MEMBER[UPDATE] permission.
      operationId: updateApplicationMemberByApplicationIdAndMemberId
      responses:
        200:
          description: Updated member.
          content:
            application/json:
              schema:  
                $ref: '#/components/schemas/Member'
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          description: Application or Member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Applications
      summary: Remove an application member
      description: |
        Remove an application member.
        
        User must have the APPLICATION_MEMBER[DELETE] permission.
      operationId: deleteApplicationMember
      responses:
        204:
          description: No-Content
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          description: Application or Member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          $ref: '#/components/responses/InternalServerError'
  /applications/{applicationId}/analytics:
    parameters:
      - $ref: '#/components/parameters/applicationIdParam'
    get:
      tags:
        - Applications
        - Analytics
      parameters:
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/fromQueryParam'
        - $ref: '#/components/parameters/toQueryParam'
        - $ref: '#/components/parameters/intervalQueryParam'
        - $ref: '#/components/parameters/queryQueryParam'
        - $ref: '#/components/parameters/fieldQueryParam'
        - $ref: '#/components/parameters/analyticTypeQueryParam'
        - $ref: '#/components/parameters/analyticRangeQueryParam'
        - $ref: '#/components/parameters/analyticAggregationQueryParam'
        - $ref: '#/components/parameters/analyticOrderQueryParam'
      summary: Get Application analytics
      description: |
        Get the application analytics.
        
        User must have the APPLICATION_ANALYTICS[READ] permission.
      operationId: getApplicationAnalytics
      responses:
        200:
          description: Analytics
          content:
            application/json:
              schema:
                oneOf:
                  -  $ref: '#/components/schemas/DateHistoAnalytics'
                  -  $ref: '#/components/schemas/GroupByAnalytics'
                  -  $ref: '#/components/schemas/CountAnalytics'
        400:
          description: Invalid query params.
          content:
            application/json:
              schema:  
                $ref: '#/components/schemas/ErrorResponse'
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          $ref: '#/components/responses/ApplicationNotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
  /applications/{applicationId}/logs:
    parameters:
      - $ref: '#/components/parameters/applicationIdParam'
    get:
      tags:
        - Applications
        - Analytics
      parameters:
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/fromQueryParam'
        - $ref: '#/components/parameters/toQueryParam'
        - $ref: '#/components/parameters/queryQueryParam'
        - $ref: '#/components/parameters/fieldQueryParam'
        - $ref: '#/components/parameters/logOrderQueryParam'
      summary: Get Application logs
      description: |
        Get the application logs.
        
        User must have the APPLICATION_LOG[READ] permission.
      operationId: getApplicationLogs
      responses:
        200:
          description: List of logs
          content:
            application/json:
              schema:  
                $ref: '#/components/schemas/LogsResponse'
        400:
          description: Invalid query params.
          content:
            application/json:
              schema:  
                $ref: '#/components/schemas/ErrorResponse'
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          $ref: '#/components/responses/ApplicationNotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
  /applications/{applicationId}/logs/_export:
    parameters:
      - $ref: '#/components/parameters/applicationIdParam'
    post:
      tags:
        - Applications
        - Analytics
      parameters:
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/fromQueryParam'
        - $ref: '#/components/parameters/toQueryParam'
        - $ref: '#/components/parameters/queryQueryParam'
        - $ref: '#/components/parameters/fieldQueryParam'
        - $ref: '#/components/parameters/logOrderQueryParam'
      summary: Export application logs as CSV
      description: |
        Export application logs as CSV.
        
        User must have the APPLICATION_LOG[READ] permission.
      operationId: exportApplicationLogsByApplicationId
      responses:
        200:
          description: CSV export of the logs
          content:
            text/plain:
              schema:  
                type: string
        400:
          description: Invalid query params.
          content:
            application/json:
              schema:  
                $ref: '#/components/schemas/ErrorResponse'
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          $ref: '#/components/responses/ApplicationNotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
  /applications/{applicationId}/logs/{logId}:
    parameters:
      - $ref: '#/components/parameters/applicationIdParam'
      - $ref: '#/components/parameters/logIdParam'
    get:
      tags:
        - Applications
        - Analytics
      parameters:
        - $ref: '#/components/parameters/logTimestampQueryParam'
      summary: Get a specific log of an application
      description: |
        Get a specific log of an application.
        
        User must have the APPLICATION_LOG[READ] permission.
      operationId: getApplicationLogByApplicationIdAndLogId
      responses:
        200:
          description: A log
          content:
            application/json:
              schema:  
               $ref: '#/components/schemas/Log'
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          description: Application or Log not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          $ref: '#/components/responses/InternalServerError'      
  /applications/{applicationId}/_renew_secret:
    parameters:
      - $ref: '#/components/parameters/applicationIdParam'
    post:
      tags:
        - Applications
      summary: Renew the client secret for an OAuth2 application
      description: |
        Renew the client secret for an OAuth2 application.
        
        User must have the APPLICATION_DEFINITION[UPDATE] permission.
      operationId: renewApplicationSecret
      responses:
        200:
          description: Updated application with a new secret.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          $ref: '#/components/responses/ApplicationNotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'

  /pages:
    get:
      tags:
        - Documentation
      parameters: 
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/homePageQueryParam'
        - $ref: '#/components/parameters/parentPageQueryParam'
      summary: List portal pages
      description: |
        List all portal documentation pages
      operationId: getPages
      security: []
      responses:
        200:
          $ref: '#/components/responses/PagesSuccess'
        500:
          $ref: '#/components/responses/InternalServerError'
  /pages/{pageId}:
    parameters:
      - $ref: '#/components/parameters/pageIdParam'
    get:
      tags:
        - Documentation
      parameters:
        - $ref: '#/components/parameters/pageIdParam'
      summary: Get a portal page
      description: |
        Get a specific portal documentation page.
      operationId: getPageByPageId
      security: []
      responses:
        200:
          $ref: '#/components/responses/PageSuccess'
        404:
          description: Page not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          $ref: '#/components/responses/InternalServerError'
  
  /subscriptions:
    get:
      tags:
        - Subscription
      parameters:
        - $ref: '#/components/parameters/subscriptionApiQueryParam'
        - $ref: '#/components/parameters/subscriptionApplicationQueryParam'
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
      description: |
        List all subscriptions, filtered by api and/or by application. At least an api or an application must be provided.
        
        User must have the APPLICATION_SUBSCRIPTION[READ] permission to list subscription with application query param.\
        User must have the API_SUBSCRIPTION[READ] permission to list subscription with api query param.
        
      operationId: getSubscriptions
      responses:
        200:
          description: List of Subscriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionsResponse'
        400:
          description: At least an api or an application must be provided.
          content:
            application/json:
              schema:  
                $ref: '#/components/schemas/ErrorResponse'
        403:
          $ref: '#/components/responses/PermissionError'
        500:
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Subscription
      requestBody:
        description: Use to create a subscription.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionInput'
      summary: Create a subscription.
      description: |
        Create a new subscription.
        
        User must have APPLICATION_SUBSCRIPTION[CREATE] permission.
      operationId: createSubscription
      responses:
        200:
          description: Created subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        400:
          description: Input must not be null.
          content:
            application/json:
              schema:  
                $ref: '#/components/schemas/ErrorResponse'
        403:
          $ref: '#/components/responses/PermissionError'
        500:
          $ref: '#/components/responses/InternalServerError'        
  /subscriptions/{subscriptionId}:
    parameters:
      - $ref: '#/components/parameters/subscriptionIdParam'
    get:
      tags:
        - Subscription
      parameters:
        - $ref: '#/components/parameters/subscriptionIncludeQueryParam'

      summary: Get a subscription.
      description: |
        Get a subscription.
        
        User must have API_SUBSCRIPTION[CREATE] or APPLICATION_SUBSCRIPTION[CREATE] permission.
      operationId: getSubscriptionBuySubscriptionId
      responses:
        200:
          description: One subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          description: Subscription not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          $ref: '#/components/responses/InternalServerError'        
  /subscriptions/{subscriptionId}/_close:
    parameters:
      - $ref: '#/components/parameters/subscriptionIdParam'
    post:
      tags:
        - Subscription
      summary: Close a subscription
      description: |
        Close a subscription.
        
        User must have APPLICATION_SUBSCRIPTION[DELETE] permission.
      operationId: closeSubscription
      responses:
        204:
          description: No-Content
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          description: Subscription not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          $ref: '#/components/responses/InternalServerError'       
  /subscriptions/{subscriptionId}/keys/_renew:
    parameters:
      - $ref: '#/components/parameters/subscriptionIdParam'
    post:
      tags:
        - Subscription
      requestBody:
        description: Use to renew keys of a subscription.
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      summary: Renew a key subscription.
      description: |
        Renew a key subscription.
        
        User must have API_SUBSCRIPTION[UPDATE] or APPLICATION_SUBSCRIPTION[UPDATE] permission.
      operationId: renewKeySubscription
      responses:
        201:
          description: Renewed Key.
          content:
            application/json:
              schema:  
                $ref: '#/components/schemas/Key'
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          description: Subscription not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          $ref: '#/components/responses/InternalServerError'       
  /subscriptions/{subscriptionId}/keys/{keyId}/_revoke:
    parameters:
      - $ref: '#/components/parameters/subscriptionIdParam'
      - name: keyId
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - Subscription
      summary: Revoke a key subscription.
      description: |
        Revoke a key subscription.
        
        User must have API_SUBSCRIPTION[UPDATE] or APPLICATION_SUBSCRIPTION[UPDATE] permission.
      operationId: revokeKeySubscription
      responses:
        204:
          description: No-Content
        403:
          $ref: '#/components/responses/PermissionError'
        404:
          description: Subscription or Key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          $ref: '#/components/responses/InternalServerError'

  /users:
    get:
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
      summary: List platform users.
      description: |
        List platform users.
        
        User must have the MANAGEMENT_USERS[READ] permission.
      operationId: getUsers
      responses:
        200:
          description: List of platform users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
        403:
          $ref: '#/components/responses/PermissionError'
        500:
          $ref: '#/components/responses/InternalServerError'
  /users/registration:
    post:
      tags:
        - Users
      summary: Register a new user.
      description: |
        Register a new user for the portal. As a result, an email is sent with an activation link.
        
        User registration must be enabled.\
        A SMTP server must have been configured.
      operationId: registerNewUser
      requestBody:
        description: Used to register a new User.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterUserInput'
      responses:
        200:
          description: User successfully registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        500:
          $ref: '#/components/responses/InternalServerError'
  /users/registration/_finalize:
    post:
      tags:
        - Users
      summary: Finalize user registration.
      description: |
        Create a new user for the portal.
        
        User registration must be enabled.
      operationId: finalizeUserRegistration
      requestBody:
        description: Used to finalize a user registration.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinalizeRegistrationInput'
      responses:
        200:
          description: User successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        500:
          $ref: '#/components/responses/InternalServerError'
  /user:
    get:
      tags:
        - User
      summary: Get the authenticated user
      description: |
        Get information about the authenticated user.
      operationId: getCurrentUser
      responses:
        200:
          description: The current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        500:
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - User
      requestBody:
        description: Use to update a user.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      summary: Modify current user information.
      description: |
        Modify current user information.
        
        Only the current user can modify his/her information.
      operationId: updateCurrentUser
      responses:
        200:
          description: Updated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: Input must not be null.
          content:
            application/json:
              schema:  
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Not allowed to modify another user.
          content:
            application/json:
              schema:  
                $ref: '#/components/schemas/ErrorResponse'
        500:
          $ref: '#/components/responses/InternalServerError'
  /user/notifications:
    get:
      tags:
       - User
      parameters:
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
      summary: Retrieve user's notifications
      description: |
        Retrieve current user's notifications.
      operationId: getCurrentUserNotifications
      responses:
        200:
          description: List of notifications
          content:
            application/json:
              schema:  
                $ref: '#/components/schemas/PortalNotificationsResponse'
        500:
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
       - User
      summary: Delete all notifications of the current user
      description: |
        Delete all notifications of the current user.
      operationId: deleteAllCurrentUserNotifications
      responses:
        204:
          description: No-Content
        500:
          $ref: '#/components/responses/InternalServerError'        
  /user/notifications/{notificationId}:
    parameters:
        - $ref: '#/components/parameters/notificationIdParam'
    delete:
      tags:
       - User
      summary: Delete a specific notification of the current user
      description: |
        Delete a specific notification of the current user.
      operationId: deleteCurrentUserNotificationByNotificationId
      responses:
        204:
          description: No-Content
        404:
          description: Notification not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          $ref: '#/components/responses/InternalServerError'
  /user/avatar:
    get:
      tags:
        - User
      summary: Retrieve user's avatar
      description: |
        Retrieve user's avatar.
      operationId: getCurrentUserAvatar
      responses:
        200:
          $ref: '#/components/responses/PictureSuccess'
        500:
          $ref: '#/components/responses/InternalServerError'

  /tickets:
    post:
      tags:
        - Portal
      requestBody:
        description: a new ticket to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketInput'
      summary: Create a ticket.
      description: |
        Create a ticket. This ticket can aim :
          * a specific application
          * a specific API
          * the gravitee portal
        
        User must be authenticated to use this service.
      operationId: createTicket
      responses:
          201:
            description: Created
          500:
            $ref: '#/components/responses/InternalServerError'
  /views:
    get:
      tags:
        - Portal
      parameters:
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
      summary: Get a View list
      description: |
        Get all views of the platform.
      operationId: getViews
      security: []
      responses:
        200:
          description: List of Views
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewsResponse'
        500:
          $ref: '#/components/responses/InternalServerError'
  /views/{viewId}:
    parameters:
      - $ref: '#/components/parameters/viewIdParam'
    get:
      tags:
        - Portal
      summary: Get a View
      description: |
        Get a specific view.
      operationId: getViewByViewId
      security: []
      responses:
        200:
          description: One View
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
        404:
          description: View not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          $ref: '#/components/responses/InternalServerError'
  /views/{viewId}/picture:
    parameters:
      - $ref: '#/components/parameters/viewIdParam'
    get:
      tags:
        - Portal
      summary: Get picture of a View
      description: |
        Get the picture of a view.
      operationId: getPictureByViewId
      security: []
      responses:
        200:
          $ref: '#/components/responses/PictureSuccess'
        404:
          description: View not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          $ref: '#/components/responses/InternalServerError'
  /configuration:
    get:
      tags: 
        - Portal
      summary: Get portal configuration.
      operationId: getPortalConfiguration
      description: |
        Get all the portal configuration from the platform settings.
      security: []
      responses:
        200:
          description: Portal configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationResponse'
        500:
          $ref: '#/components/responses/InternalServerError'
  /configuration/identities:
    get:
      tags: 
        - Portal
      summary: Get the identity provider list.
      operationId: getPortalIdentityProviders
      description: |
        Get all the identity providers that can used in the portal.
      security: []
      responses:
        200:
          description: List of identity providers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationIdentitiesResponse'
        500:
          $ref: '#/components/responses/InternalServerError'
  /info:
    get:
      tags: 
        - Portal
      summary: Get portal information.
      operationId: getPortalInformation
      description: |
        Get some information about the portal (version, ...).
      security: []
      responses:
        200:
          description: API information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Info'
        500:
          $ref: '#/components/responses/InternalServerError'


  /auth/login:
    post:
      tags: 
        - Authentication
      operationId: login
      description: |
        Used to get a Gravitee token. This token is mandatory for all the secured resources of the Portal API.
      parameters: 
        - name: Authorization
          in: header
          required: true
          description: Basic authentication.
          schema:
            type: string
      responses:
        200:
          $ref: '#/components/responses/AuthSuccess'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        500:
          $ref: '#/components/responses/InternalServerError'
  /auth/logout:
    post:
      tags: 
        - Authentication
      operationId: logout
      description: |
        User need to be authenticated to logout.
      responses:
        200:
          description: An empty cookie
          headers:
            set-cookie:
              description: Empty cookie
              schema:
                type: string
                example: Auth-Graviteeio-APIM=;Path=/;Expires=Thu, 01-Jan-1970 00:00:00 GMT;Max-Age=0;HttpOnly        
        500:
          $ref: '#/components/responses/InternalServerError'
  /auth/oauth2/{identity}:
    post:
      tags: 
        - Authentication
      security: []
      parameters:
        - $ref: '#/components/parameters/authIdentityParam'
      operationId: exchangeAuthorizationCode
      description: |
        Used to get a gravitee token from an Authorization code (PayloadInput.code). Portal API authenticates the user with the specified IDP ({identity} path param).
      requestBody:
        description: OAuth2 payload for authentication.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadInput'
      responses:
        200:
          $ref: '#/components/responses/AuthSuccess'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          description: Identity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          $ref: '#/components/responses/InternalServerError'
  /auth/oauth2/{identity}/_exchange:
    post:
      tags: 
        - Authentication
      security: []
      parameters:
        - $ref: '#/components/parameters/authIdentityParam'
        - name: token
          in: query
          required: true
          schema:
            type: string
      operationId: tokenExchange
      description: |
        Used to get a gravitee token from a IdentityProvider token. Portal API authenticates the user with the specified IDP ({identity} path param).
      responses:
        200:
          $ref: '#/components/responses/AuthSuccess'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          description: Identity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          $ref: '#/components/responses/InternalServerError'
components:
  requestBodies:
    pictureUpdateInputBody:
      description: Use to update a picture.
      content:
        'image/*':
          schema:
            type: string
            format: binary
  parameters:
    ##############
    # Path Param #
    ##############
    apiIdParam: 
      name: apiId
      in: path
      required: true
      description: Id of an API.
      schema:
        type: string
    applicationIdParam: 
      name: applicationId
      in: path
      required: true
      description: Id of an application.
      schema:
        type: string
    logIdParam: 
      name: logId
      in: path
      required: true
      description: Id of a log.
      schema:
        type: string
    memberIdParam: 
      name: memberId
      in: path
      required: true
      description: Id of a member.
      schema:
        type: string
    notificationIdParam: 
      name: notificationId
      in: path
      required: true
      description: Id of a notification.
      schema:
        type: string
    pageIdParam: 
      name: pageId
      in: path
      required: true
      description: Id of a documentation page.
      schema:
        type: string
    subscriptionIdParam: 
      name: subscriptionId
      in: path
      required: true
      description: Id of a subscription.
      schema:
        type: string
    viewIdParam: 
      name: viewId
      in: path
      required: true
      description: Id of a View.
      schema:
        type: string
    authIdentityParam:
      name: identity
      in: path
      required: true
      schema:
        type: string
    ###############
    # Query Param #
    ###############
    
    #Pagination
    pageNumberParam:
      name: page
      in: query
      required: false
      description: The page number for pagination.
      schema:
        type: integer
        default: 1
    pageSizeParam:
      name: size
      in: query
      required: false
      description: The number of items per page for pagination.
      schema:
        type: integer
        default: 10
        
    #Apis filtering
    apiContextPathQueryParam:
      name: context-path
      in: query
      required: false
      description: The context-path of an API.
      schema:
        type: string
    apiLabelQueryParam:
      name: label
      in: query
      required: false
      description: One of the labels of an API.
      schema:
        type: string
    apiVersionQueryParam:
      name: version
      in: query
      required: false
      description: The version of an API.
      schema:
        type: string
    apiNameQueryParam:
      name: name
      in: query
      required: false
      description: The name of an API.
      schema:
        type: string
    apiViewQueryParam:
      name: view
      in: query
      required: false
      description: One of the view linked with an API.
      schema:
        type: string
    apiCategoryQueryParam:
      name: cat
      in: query
      required: false
      description: |
        Name of a CATEGORY. A category is a static filter used to pre-select some APIs. It can be combined with others query params.
          - FEATURED : top APIs. Sorted by alphabetical order.
          - MINE : APIs subscribed by the current user. Sorted by alphabetical order.
          - STARRED: Rated APIs. Sorted by Ratings DESC, nb of ratings DESC, alphabetic order.
          - TRENDINGS: Subscribed APIs. Sorted by number of subscriptions DESC, alphabetic order.
      schema:
        $ref: '#/components/schemas/CategoryApiQuery'
    apiCategoryExcludedQueryParam:
      name: -cat
      in: query
      required: false
      description: |
        Name of a CATEGORY to exclude. Excluded category has priority over category. A category is a static filter used to pre-select some APIs. It can be combined with others query params.
          - FEATURED : not in top APIs. Sorted by alphabetical order.
          - MINE : APIs not subscribed by the current user. Sorted by alphabetical order.
          - STARRED: not rated APIs. Sorted by Ratings DESC, nb of ratings DESC, alphabetic order.
          - TRENDINGS: not subscribed APIs. Sorted by number of subscriptions DESC, alphabetic order.
      schema:
        $ref: '#/components/schemas/CategoryApiQuery'
    apiIncludeParam:
      name: include
      in: query
      required: false
      description: Comma-separated list of related objects to include in the response.
      schema:
        type: array
        items:
          type: string
          enum:
            - pages
            - plans
    
    #Pages filtering
    homePageQueryParam:
      name: homepage
      in: query
      required: false
      description: If true, only the documentation homepage of the portal is returned.
      schema:
        type: boolean
    parentPageQueryParam:
      name: parent
      in: query
      required: false
      description: The name of the parent documentation page. If not null, only this page and its children are returned.
      schema:
        type: string
    
    #Analytics & logs filtering
    fromQueryParam:
      name: from
      in: query
      required: false
      description: Lower bound of timestamp for filtering.
      schema:
        type: integer
        format: int64
    toQueryParam:
      name: to
      in: query
      required: false
      description: Upper bound of timestamp for filtering. Must be greater than *from* query param.
      schema:
        type: integer
        format: int64
    queryQueryParam:
      name: query
      in: query
      required: false
      description: Query used for filtering.
      schema:
        type: string
    fieldQueryParam:
      name: field
      in: query
      required: false
      description: Field used for filtering. **required** when type is **GROUP_BY**.
      schema:
        type: string
    intervalQueryParam:
      name: interval
      in: query
      required: false
      description: Interval for time search. Must be >= 1 000 and <= 1 000 000 000.
      schema:
        type: integer
        minimum: 1000
        maximum: 1000000000
    analyticTypeQueryParam:
      name: type
      in: query
      required: false
      description: |
        Type of analytics that is expected :
          - GROUP_BY :
              Used to group total hits by a specific field (Application, Status, Path, ...).\
              Query params :
              - from
              - to
              - interval
              - query
              - field
              - order
              - ranges
          - DATE_HISTO : 
              Used to retrieve total hits per range of time, on a specific time interval.\
              Query params :
              - from
              - to
              - interval
              - query
              - aggs
          - COUNT : 
              Used to retrieve total hits, on a specific time interval.\
              Query params :
              - from
              - to
              - interval
              - query
      schema:
        type: string
        enum:
          - GROUP_BY
          - DATE_HISTO
          - COUNT
    analyticRangeQueryParam:
      name: range
      in: query
      required: false
      description: |
        Used with GROUP_BY type only.
        
        A semicolon separated list of "from:to" elements. **/!\\ Different from *from* and *to* query params**
      example: "ranges=100:199;200:299;300;599"
      schema:
        type: string
    analyticAggregationQueryParam:
      name: aggs
      in: query
      required: false
      description: |
        Used with DATE_HISTO type only.
        
        A semicolon separated list of "type:field" elements. **/!\\ Different from *type* and *field* query params**\
        Type can be **FIELD**, **AVG**, **MIN**, **MAX**
      example: "aggs=avg:response-time;avg:api-response-time"
      schema:
        type: string
    analyticOrderQueryParam:
      name: order
      in: query
      required: false
      description: |
        Used with GROUP_BY type only. 
        
        A colon separated list of "type:field" elements. **/!\\ Different from *type* and *field* query params**\
        By default, sort is ASC. If *type* starts with '-', the order sort is DESC.\
        Currently, only **AVG** is supported.
      example: "order=-avg:response-time"
      schema:
        type: string
    logOrderQueryParam:
      name: order
      in: query
      required: false
      description: Order used to sort the result list.
      schema:
        type: string
        enum:
          - ASC
          - DESC
        default: ASC
    logTimestampQueryParam:
      name: timestamp
      in: query
      required: false
      description: Used to select the right index
      schema:
        type: integer
        format: int64
    
    #Subscriptions filtering
    subscriptionApiQueryParam:
      name: apiId
      in: query
      required: false
      description: Id of an api.
      schema:
        type: string
    subscriptionApplicationQueryParam:
      name: applicationId
      in: query
      required: false
      description: Id of an application.
      schema:
        type: string
    subscriptionIncludeQueryParam:
      name: include
      in: query
      required: false
      description: Comma-separated list of related objects to include in the response.
      schema:
        type: array
        items:
          type: string
          enum:
            - keys
  schemas:
    #####################
    # Responses Objects #
    #####################
    ErrorResponse:
      properties:
        errors : 
          description: List of errors
          type: array
          items:
            $ref: '#/components/schemas/Error'
    
    ApisResponse:
      properties:
        data:
          description: List of API.
          type: array
          items:
            $ref: '#/components/schemas/Api'
        metadata:
            $ref: '#/components/schemas/MetadataMap'
        links:
          $ref: '#/components/schemas/Links'
    ApplicationsResponse:
      properties:
        data:
          description: List of applications.
          type: array
          items:
            $ref: '#/components/schemas/Application'
        metadata:
            $ref: '#/components/schemas/MetadataMap'
        links:
          $ref: '#/components/schemas/Links'
    PagesResponse:
      properties:
        data:
          description: List of pages.
          type: array
          items:
            $ref: '#/components/schemas/Page'
        metadata:
            $ref: '#/components/schemas/MetadataMap'
        links:
          $ref: '#/components/schemas/Links'
    RatingsResponse:
      properties:
        data:
          description: List of ratings.
          type: array
          items:
            $ref: '#/components/schemas/Rating'
        metadata:
            $ref: '#/components/schemas/MetadataMap'
        links:
          $ref: '#/components/schemas/Links'
    PlansResponse:
      properties:
        data:
          description: List of data.
          type: array
          items:
            $ref: '#/components/schemas/Plan'
        metadata:
            $ref: '#/components/schemas/MetadataMap'
        links:
          $ref: '#/components/schemas/Links'
    MembersResponse:
      properties:
        data:
          description: List of members.
          type: array
          items:
            $ref: '#/components/schemas/Member'
        metadata:
            $ref: '#/components/schemas/MetadataMap'
        links:
          $ref: '#/components/schemas/Links'
    UsersResponse:
      properties:
        data:
          description: List of users.
          type: array
          items:
            $ref: '#/components/schemas/User'
        metadata:
            $ref: '#/components/schemas/MetadataMap'
        links:
          $ref: '#/components/schemas/Links'
    ViewsResponse:
      properties:
        data:
          description: List of views.
          type: array
          items:
            $ref: '#/components/schemas/View'
        metadata:
            $ref: '#/components/schemas/MetadataMap'
        links:
          $ref: '#/components/schemas/Links'
    PortalNotificationsResponse:
      properties:
        data:
          description: List of portal notifications.
          type: array
          items:
            $ref: '#/components/schemas/PortalNotification'
        metadata:
            $ref: '#/components/schemas/MetadataMap'
        links:
          $ref: '#/components/schemas/Links'
    LogsResponse:
      properties:
        data:
          description: List of logs.
          type: array
          items:
            $ref: '#/components/schemas/Log'
        metadata:
            $ref: '#/components/schemas/MetadataMap'
        links:
          $ref: '#/components/schemas/Links'
    SubscriptionsResponse:
      properties:
        data:
          description: List of subscriptions.
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
        metadata:
            $ref: '#/components/schemas/MetadataMap'
        links:
          $ref: '#/components/schemas/Links'
    NotificationConfigsResponse:
      properties:
        data:
          description: List of NotificationConfig. It can be either GenericNotificationConfig or PersonalNotificationConfig
          type: array
          items:
            $ref: '#/components/schemas/NotificationConfig'
    ConfigurationIdentitiesResponse:
      properties:
        data:
          description: List of identity providers
          type: array
          items:
            $ref: '#/components/schemas/IdentityProvider'
        metadata:
            $ref: '#/components/schemas/MetadataMap'
        links:
          $ref: '#/components/schemas/Links'
    #####################
    # Resources Objects #
    #####################
    Error:
      properties:
        code:
          description: Code of the error
          type: string
        title:
          description: Title of the error
          type: string
        detail:
          description: Detail of the error
          type: string
    Api:
      description: |
        Describes an API.
      required:
        - id
        - name
        - version
        - description
        - owner
      properties:
        id: 
          description: Unique identifier of an API.
          type: string
        name: 
          description: Name of the API.
          type: string
        version: 
          description: Version of the API.
          type: string
        description:
          description: Description of the API.
          type: string
        draft:
          type: boolean
          description: Whether or not the API is public.
        entrypoints:
          description: List of all the avaible endpoints to call the API.
          type: array
          items:
            type: string
        labels: 
          description: List of labels linked to this API.
          type: array
          items:
            type: string
        owner:
          $ref: '#/components/schemas/User'
        views: 
          description: List of views this API belongs to.
          type: array
          items:
            type: string
        rating_summary: 
          $ref: '#/components/schemas/RatingSummary'
        _links:
          $ref: '#/components/schemas/ApiLinks'
        
        ###################
        # may be included #
        ###################
        pages:
          description: |
            Only returned with */apis/{apiId}*.
            Need *include* query param to contain 'pages'.
            
            The documentation pages of this API. Same as */apis/{apiId}/pages*.
          type: array
          items:
            $ref: '#/components/schemas/Page'
        plans:
          description: |
            Only returned with */apis/{apiId}*.
            Need *include* query param to contain 'plans'.

            The plans of this API. Same as */apis/{apiId}/plans*.
          type: array
          items:
            $ref: '#/components/schemas/Plan'
    Page:
      required:
        - id
        - name
        - type
        - order
      properties:
        id: 
          description: Unique identifier of a page.
          type: string
        name:
          description: Name of the page.
          type: string
        type:
          description: Type of documentation.
          type: string
          enum:
          - SWAGGER
          - MARKDOWN
          - FOLDER
          - ROOT
        order:
          description: Order of the documentation page in its folder.
          type: integer
        parent:
          description: Parent page. MAY be null.
          type: string
        updated_at:
          description: Last update date and time.
          type: string
          format: date-time
        content:
          description: Raw content of the page.
          type: string
        configuraton:
          description: Array of key-value about the page.
          type: array
          items:
            $ref: '#/components/schemas/PageConfiguration'
        metadata:
          description: Array of metadata about the page. This array is filled when the page has been fetched from a distant source (GitHub, GitLab, etc...).
          type: array
          items:
            $ref: '#/components/schemas/Metadata'
    Plan:
      required:
        - id
        - name
        - security
        - type
        - description
        - validation
        - order
        - comment_required
      properties:
        id: 
          description: Unique identifier of a plan.
          type: string
        name:
          description: Name of the plan.
          type: string
        security:
          description: Security used with this plan.
          type: string
          enum:
            - API_KEY
            - KEY_LESS
            - JWT
            - OAUTH2
        description:
          description: Description of the plan.
          type: string
        characteristics:
          description: List of additionnal terms to describe the plan.
          type: array
          items:
            type: string
        validation:
          description: Type of validation for subscription requests.
          type: string
          enum:
            - AUTO
            - MANUAL
        order:
          description: Priority order
          type: integer
        subscribed:
          description: True if at least one application linked to the current user has subscribed to this plan.
          type: boolean
        comment_required:
          description: True if a comment is required when a subscription is created.
          type: boolean
        comment_question:
          description: Content of the message sent to a user creating a subscription.
          type: string
    Rating:
      required:
        - id
        - title
        - value
        - comment
      properties:
        id: 
          description: Unique identifier of a rating.
          type: string
        title:
          description: Title of a rating.
          type: string
        value:
          description: Value of the rating. Integer between 1 and 5. 
          type: integer
        author:
          $ref: '#/components/schemas/User'
        date:
          description: Date and time of the rating.
          type: string
          format: date-time
        comment:
          description: Comment left by the author to explain the rating.
          type: string
        answers:
          description: Array of answers.
          type: array
          items:
            $ref: '#/components/schemas/RatingAnswer'
    Application:
      properties:
        id: 
          description: Unique identifier of an application.
          type: string
        name:
          description: Name of the application.
          type: string
        description:
          description: Description of the application.
          type: string
        applicationType:
          description: Type of the application (Web, Mobile, ...).
          type: string
        owner:
          $ref: '#/components/schemas/User'
        created_at:
          description: Creation date and time of the application.
          type: string
          format: date-time
        updated_at:
          description: Last update date and time of the application.
          type: string
          format: date-time
        groups:
          description: Array of groups associated to the application.
          type: array
          items:
            type: string
        picture:
          description: |
            Picture of the application. This attribute is only used to update a picture.\
            To get the application picture, use /application/{applicationId}/picture.
          type: string
          writeOnly: true
        settings:
          $ref: '#/components/schemas/ApplicationSettings'
        _links:
          $ref: '#/components/schemas/ApplicationLinks'
    NotificationConfig:
      description: A notificationConfig is a generic object that can represent either a GenericNotificationConfig or a PortalNotificationConfig.
      properties:
        configType:
          description: Configuration type. Can be GENERIC, or PORTAL. Used for inheritance.
          type: string
        name:
          description: Name of the notification config.
          type: string
        reference_type:
          description: Type of the subject of the notification configuration. For this API, it's always APPLICATION.
          type: string
        reference_id:
          description: Id of the subject of the notification configuration aka application identifier.
          type: string
        hooks:
          description: List of event that can be notified.
          type: array
          items:
            type: string
      discriminator:
        propertyName: configType
        mapping:
          GENERIC: '#/components/schemas/GenericNotificationConfig'
          PORTAL: '#/components/schemas/PortalNotificationConfig'
    GenericNotificationConfig:
      allOf:
        - $ref: "#/components/schemas/NotificationConfig"
        - type: object
          properties:
            id:
              description: Unique identifier of the generic notification config.
              type: string
            notifier:
              description: Type of notification system (Email, WebHook, ...).
              type: string
            config:
              description: Configuration of the notifier.
              type: string
            use_system_proxy:
              description: True if the notifier should use system proxy.
              type: boolean
              default: false
    PortalNotificationConfig:
      allOf:
        - $ref: "#/components/schemas/NotificationConfig"
        - type: object
          properties:
            user:
              description: User id of the creator of the notification config.
              type: string
    PortalNotification:
        properties:
          id: 
            description: Unique identifier of a portal notification.
            type: string
          title:
            description: Title of the portal notification.
            type: string
          message:
            description: Content of the notification.
            type: string
          created_at:
            description: Creation date and time of the notification.
            type: string
            format: date-time
    Member:
      properties:
        id: 
          description: Unique identifier of a member (user).
          type: string
        user:
          $ref: '#/components/schemas/User'
        created_at:
          description: Creation date and time of the member.
          type: string
          format: date-time
        updated_at:
          description: Last update date and time of the member.
          type: string
          format: date-time
        role:
          description: Role of the member. (OWNER, USER, ...).
          type: string

    DateHistoAnalytics:
      properties:
        timestamp:
          $ref: '#/components/schemas/Timerange'
        values:
          description: List of data buckets.
          type: array
          items:
            $ref: '#/components/schemas/Bucket'
    GroupByAnalytics:
      properties:
        values:
          description: Total hits by terms.
          type: object
          additionalProperties:
            type: integer
            format: int64
        metadata:
          $ref: '#/components/schemas/MetadataMap'
    CountAnalytics:
      properties:
        name:
          type: string
        hits:
          type: integer
          format: int64
    Log:
      properties:
        id: 
          description: Unique identifier of a log.
          type: string
        timestamp:
          description: Instant of the log.
          type: integer
          format: int64
        transactionId:
          description: Request identifier.
          type: string
        path:
          description: Path of the request.
          type: string
        method:
          $ref: '#/components/schemas/HttpMethod'
        status:
          description: HTTP status code of the request.
          type: integer
        responseTime:
          description: Request duration.
          type: integer
          format: int64
        requestContentLength:
          description: Request content length.
          type: integer
          format: int64
        responseContentLength:
          description: Response content length.
          type: integer
          format: int64
        plan:
          description: Plan used by the request.
          type: string
        api:
          description: API called by the request.
          type: string
        request:
          $ref: '#/components/schemas/Request'
        response:
          $ref: '#/components/schemas/Response'
        metadata:
          $ref: '#/components/schemas/MetadataMap'
        host:
          description: API Gateway host.
          type: string
        user:
          description: User identifier.
          type: string
        securityType:
          description: Security type of the request.
          type: string
        securityToken:
          description: Token used by the request.
          type: string
    Subscription:
      required:
        - id
        - api
        - application
        - plan
        - status
      properties:
        id: 
          description: Unique identifier of a subscription.
          type: string
        api:
          description: Subscribed API.
          type: string
        application:
          description: Subscribing application.
          type: string
        plan:
          description: Subscribed plan.
          type: string
        request:
          description: Comment of the user when asking for a subscription.
          type: string
        created_at:
          description: Creation date and time of the subscription.
          type: string
          format: date-time
        processed_at:
          description: Date and time when the subscription request was processed.
          type: string
          format: date-time
        start_at:
          description: Start date and time of the subscription.
          type: string
          format: date-time
        end_at:
          description: Expiration date and time of the subscription.
          type: string
          format: date-time
        status:
          description: Status of the subscription.
          type: string
          enum:
            - PENDING
            - ACCEPTED
            - REJECTED
        ###################
        # may be included #
        ###################
        keys:
          description: |
            Only returned with */subscriptions/{subscriptionId}*.
            Need *include* query param to contain 'keys'.
            
            List of APIKeys of the subscription.
          type: array
          items:
            $ref: '#/components/schemas/Key'
    User:
      properties:
        id: 
          description: Unique identifier of a user.
          type: string
        first_name:
          type: string
        last_name:
          type: string
        display_name:
          type: string
        email:
          type: string
        avatar:
          description: Avatar of the user. Used only for update.
          type: string
          writeOnly: true
        _links:
          $ref: '#/components/schemas/UserLinks'
    Token:
      properties:
        token_type:
          type: string
          enum:
            - BEARER
        token:
          type: string
    View:
      properties:
        id: 
          description: Unique identifier of a view.
          type: string
        name:
          type: string
        description:
          type: string
        default_view:
          type: boolean
        order:
          type: integer
        total_apis:
          type: integer
          format: int64
        _links:
          $ref: '#/components/schemas/ViewLinks'
    Info:
      properties:
        name:
          description: Name of the API.
          type: string
        version:
          description: Version of the API.
          type: string
    IdentityProvider:
      properties:
        id:
          description: Unique identifier of an identity provider.
          type: string
        name:
          description: Name of the identity provider.
          type: string
        description:
          description: Description of the identity provider.
          type: string
        client_id:
          description: ClientId of the identity provider.
          type: string
        email_required:
          description: true, if an email is required for this identity provider.
          type: boolean
        type:
          $ref: '#/components/schemas/IdentityProviderType'
        authorizationEndpoint:
          description: Authorization endpoint of the provider.
          type: string
        tokenIntrospectionEndpoint:
          description: Token introspection endpoint of the provider. (Gravitee.io AM and OpenId Connect only)
          type: string
        userLogoutEndpoint:
          description: User logout endpoint of the provider. (Gravitee.io AM and OpenId Connect only)
          type: string
        color:
          description: color to display for this provider. (Gravitee.io AM and OpenId Connect only)
          type: string
        display:
          description: Display style of the provider. (Google only)
          type: string
        requiredUrlParams:
          description: Required URL params of the provider. (Google only)
          type: array
          items:
            type: string
        optionalUrlParams:
          description: Optionnal URL params of the provider. (Github and Google only)
          type: array
          items:
            type: string
        scopes:
          description: Scope list of the provider.
          type: array
          items:
            type: string
        icon:
          description: Icon name to display for this provider.
          type: string
    ConfigurationResponse:
      properties:
        company:
          $ref: '#/components/schemas/ConfigurationCompany'
        portal:
          $ref: '#/components/schemas/ConfigurationPortal'
        authentication:
          $ref: '#/components/schemas/ConfigurationAuthentication'
        scheduler:
          $ref: '#/components/schemas/ConfigurationScheduler'
        documentation:
          $ref: '#/components/schemas/ConfigurationDocumentation'
        theme:
          $ref: '#/components/schemas/ConfigurationTheme'
        plan:
          $ref: '#/components/schemas/ConfigurationPlan'
        apiReview:
          $ref: '#/components/schemas/Enabled'
        analytics:
          $ref: '#/components/schemas/ConfigurationAnalytics'
        application:
          $ref: '#/components/schemas/ConfigurationApplication'
    ConfigurationCompany:
      properties:
        name:
          description : The company name
          type: string
    ConfigurationPortal:
      properties:
        title:
          description: The portal Title
          type: string
        entrypoint:
          description: Default entrypoint of the gateway.
          type: string
        apikeyHeader:
          description: Api-key Header. Used by portal to display the CURL command.
          type: string
        support:
          $ref: '#/components/schemas/Enabled'
        devMode:
          $ref: '#/components/schemas/Enabled'
        userCreation:
          $ref: '#/components/schemas/Enabled'
        apis:
          $ref: '#/components/schemas/ConfigurationPortalApis'
        analytics:
          $ref: '#/components/schemas/ConfigurationPortalAnalytics'
        rating:
          $ref: '#/components/schemas/ConfigurationPortalRating'
        uploadMedia:
          $ref: '#/components/schemas/ConfigurationPortalMedia'
    ConfigurationPortalApis:
      properties:
        tilesMode:
          $ref: '#/components/schemas/Enabled'
        viewMode:
          $ref: '#/components/schemas/Enabled'
        apiHeaderShowTags:
          $ref: '#/components/schemas/Enabled'
        apiHeaderShowViews:
          $ref: '#/components/schemas/Enabled'
    ConfigurationPortalAnalytics:
      properties:
        enabled:
          description: true if Google analytics is activated
          type: boolean
        trackingId:
          description: Tracking ID for Google analytics.
          type: string
    ConfigurationPortalRating:
      properties:
        enabled:
          description: true if rating service is activated
          type: boolean
        comment:
          $ref: '#/components/schemas/ConfigurationPortalRatingComment'
    ConfigurationPortalRatingComment:
      properties:
        mandatory:
          description: true if a comment is required to post a rating.
          type: boolean
    ConfigurationPortalMedia:
      properties:
        enabled:
          description: true if uploading images is allowed
          type: boolean
        maxSizeInBytes:
          description: Maximum size of uploaded images (in bytes)
          type: integer
    ConfigurationAuthentication:
      properties:
        forceLogin:
          $ref: '#/components/schemas/Enabled'
        localLogin:
          $ref: '#/components/schemas/Enabled'
        google:
          $ref: '#/components/schemas/ConfigurationGoogleAuthentication'
        github:
          $ref: '#/components/schemas/ConfigurationGithubAuthentication'
        oauth2:
          $ref: '#/components/schemas/ConfigurationOAuth2Authentication'
    ConfigurationGoogleAuthentication:
      properties:
        clientId:
          description: client Id if a Google Identity Provider is used
          type: string
    ConfigurationGithubAuthentication:
      properties:
        clientId:
          description: client Id if a Github Identity Provider is used
          type: string
    ConfigurationOAuth2Authentication:
      properties:
        clientId:
          description: client Id if an OAuth2 Identity Provider is used
          type: string
        name:
          description: name of the OAuth2 provider if used
          type: string
        color:
          description: color to display for an OAuth2 Identity Provider if used
          type: string
        authorizationEndpoint:
          description: Authorization endpoint of an OAuth2 Identity Provider if used
          type: string
        userLogoutEndpoint:
          description: User logout endpoint of an OAuth2 Identity Provider if used
          type: string
        scope:
          description: List of scopes of an OAuth2 Identity Provider if used
          type: array
          items:
            type: string
    ConfigurationScheduler:
      properties:
        tasksInSeconds:
          description: Number of seconds for task scheduler.
          type: integer
        notificationsInSeconds:
          description: Number of seconds for notification scheduler.
          type: integer
    ConfigurationDocumentation:
      properties:
        url:
          description: URL of the main documentation.
          type: string
    ConfigurationTheme:
      properties:
        name:
          description: Name of the custom theme.
          type: string
        logo:
          description: Logo used for the customization of the portal.
          type: string
        loader:
          description: Custom loader used for the customization of the portal.
          type: string
        css:
          description: Path to the CSS file used for the customization of the portal.
          type: string
    ConfigurationPlan:
      properties:
        security:
          $ref: '#/components/schemas/ConfigurationPlanSecurity'
    ConfigurationPlanSecurity:
      properties:
        apikey:
          $ref: '#/components/schemas/Enabled'
        oauth2:
          $ref: '#/components/schemas/Enabled'
        keyless:
          $ref: '#/components/schemas/Enabled'
        jwt:
          $ref: '#/components/schemas/Enabled'
    ConfigurationAnalytics:
      properties:
        clientTimeout:
          description: HTTP Client Timeout 
          type: integer
          format: int64
    ConfigurationApplication:
      properties:
        registration:
          $ref: '#/components/schemas/Enabled'
        types:
          $ref: '#/components/schemas/ConfigurationApplicationTypes'
    ConfigurationApplicationTypes:
      properties:
        simple:
          $ref: '#/components/schemas/Enabled'
        browser:
          $ref: '#/components/schemas/Enabled'
        web:
          $ref: '#/components/schemas/Enabled'
        native:
          $ref: '#/components/schemas/Enabled'
        backend_to_backend:
          $ref: '#/components/schemas/Enabled'
    #################
    # Input Objects #
    #################
    RatingInput:
      properties:
        title:
          type: string
        value:
          type: integer
          minimum: 0
          maximum: 5
        comment:
          type: string
    ApplicationInput:
      properties:
        name:
          type: string
        description:
          type: string
        groups:
          type: array
          items:
            type: string
        settings:
          $ref: '#/components/schemas/ApplicationSettings'
    MemberInput:
      properties:
        user:
          type: string
          description: User's technical identifier.
        reference:
          type: string
          description: User's reference for user providing from an identity provider.
        role:
          type: string
          description: Role's name
    SubscriptionInput:
      properties:
        application:
          description: Id of the application which subscribe
          type: string
        plan:
          description: Id of the plan to which the application subscribe
          type: string
        request:
          description: A request message to the api owner why a user want to subscribe
          type: string
    TransferOwnershipInput:
      properties:
        new_primary_owner:
          description: User identifier of the new Primary Owner of the application.
          type: string
        primary_owner_newrole:
          description: New role to be affected to the current PrimaryOwner.
          type: string
    PayloadInput:
      properties:
        client_id:
          type: string
          minLength: 1
        redirect_uri:
          type: string
          minLength: 1
        code:
          type: string
          minLength: 1
        state:
          type: string
    TicketInput:
      required:
        - subject
        - content
      properties:
        subject:
          description: Subject of the ticket.
          type: string
        content:
          description: Description of the ticket.
          type: string
        application:
          description: Application identifier concerned by the ticket.
          type: string
        api:
          description: Api identifer concerned by the ticket.
          type: string
        copy_to_sender:
          description: True if the author of the ticket wants to receive a copy of the ticket.
          type: boolean
          
    RegisterUserInput:
      required:
        - email
      properties:
        email:
          description: Valid email of the new user.
          type: string
        firstname:
          description: First name of the new user.
          type: string
        lastname:
          description: Last name of the new user.
          type: string
        confirmation_page_url:
          description: URL of the confirmation page to be used in the 'User Registration' email.
          type: string
    FinalizeRegistrationInput:
      required:
        - token
        - password
        - firstname
        - lastname
      properties:
        token:
          description: Token of the registered user to be validated.
          type: string
        password:
          description: Password of the registered user.
          type: string
        firstname:
          description: First name of the registered user.
          type: string
        lastname:
          description: Last name of the registered user.
          type: string
    #######################
    # Composition Objects #
    #######################
    ApplicationSettings:
      properties:
        app:
          $ref: '#/components/schemas/SimpleApplicationSettings'
        oauth:
          $ref: '#/components/schemas/OAuthClientSettings'
    SimpleApplicationSettings:
      properties:
        type:
          type: string
        client_id:
          type: string
    OAuthClientSettings:
      properties:
        client_secret:
          type: string
        client_id:
          type: string
        redirect_uris:
          type: array
          items:
            type: string
        client_uri:
          type: string
        logo_uri:
          type: string
        response_types:
          type: array
          items:
            type: string
        grant_types:
          type: array
          items:
            type: string
        application_type:
          type: string
        renew_client_secret_supported:
          type: boolean
    Metadata:
      description: Information about the page, if this page is from an external source.
      properties:
        name:
          type: string
        value:
          type: string
        order:
          type: string
    RatingSummary:
      properties:
        average:
          type: number
          format: double
        count:
          type: number
        one_star:
          type: number
          format: double
        two_star:
          type: number
          format: double
        three_star:
          type: number
          format: double
        four_star:
          type: number
          format: double
        five_star:
          type: number
          format: double
    PageConfiguration:
      description: Technical information about the page
      properties:
        key:
          type: string
        value:
          type: string
    RatingAnswer:
      properties: 
        author:
          $ref: '#/components/schemas/User'
        date:
          type: string
          format: date-time
        comment:
          type: string
    Key:
      description: Subscription Key
      properties:
        id:
          type: string
        api:
          type: string
        application:
          type: string
        plan:
          type: string
        paused:
          type: boolean
        revoked:
          type: boolean
        created_at:
          type: string
          format: date-time
        revoked_at:
          type: string
          format: date-time
    HttpMethod:
      type: string
      enum:
        - CONNECT
        - DELETE
        - GET
        - HEAD
        - OPTIONS
        - PATCH
        - POST
        - PUT
        - TRACE
        - OTHER
      default: OTHER
    HttpHeaders:
      description: List of String List
      type: array
      additionalProperties:
        type: array
        items:
          type: string
    Request:
      description: Request logged by the API Gateway
      properties:
        method:
          $ref: '#/components/schemas/HttpMethod'
        headers:
          $ref: '#/components/schemas/HttpHeaders'
        uri:
          type: string
        body:
          type: string
    Response:
      description: Response logged by the API Gateway
      properties:
        status:
          type: integer
        headers:
          $ref: '#/components/schemas/HttpHeaders'
        body:
          type: string
    MetadataMap:
      description: Map of Map of String
      type: object
      additionalProperties:
        type: object
        additionalProperties: 
          type: string
    Bucket:
      properties:
        buckets:
          type: array
          items:
            $ref: '#/components/schemas/Bucket'
        field:
          type: string
        name:
          type: string
        data:
          type: array
          items:
            type: number
        metadata:
            $ref: '#/components/schemas/MetadataMap'
    Timerange:
      properties:
        from:
          type: integer
          format: int64
        to:
          type: integer
          format: int64
        interval:
          type: integer
          format: int64
    CategoryApiQuery:
      type: string
      enum:
        - FEATURED
        - MINE
        - STARRED
        - TRENDINGS
    Enabled:
      properties:
        enabled:
          description: true, if the property is enabled
          type: boolean
    IdentityProviderType:
      description: type of Identity Provider
      type: string
      enum:
        - GOOGLE
        - GITHUB
        - GRAVITEEIO_AM
        - OIDC
    #################
    # Links Objects #
    #################
    Links:
      properties:
        self:
          type: string
        first:
          type: string
        last:
          type: string
        prev:
          type: string
        next:
          type: string
    ApiLinks:
      properties:
        self:
          type: string
        pages:
          type: string
        picture:
          type: string
        plans:
          type: string
        ratings:
          type: string
    ApplicationLinks:
      properties:
        self:
          type: string
        members:
          type: string
        notifications:
          type: string
        picture:
          type: string
    UserLinks:
      properties:
        self:
          type: string
        avatar:
          type: string
        notifications:
          type: string
    ViewLinks:
      properties:
        self:
          type: string
        highlighted_api:
          type: string
        picture:
          type: string

  responses:
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    PermissionError:
      description: Insufficient rights to access this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnauthorizedError:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    APINotFoundError:
      description: API not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ApplicationNotFoundError:
      description: Application not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    AuthSuccess:
      description: Auth token in payload and bearer in cookie
      headers:
        set-cookie:
          description: Auth cookie
          schema:
            type: string
[...]
