@use 'sass:map';
@use '@angular/material/index' as mat;
@use '@gravitee/ui-particles-angular/index' as gio;
@use '../../scss/gio-layout' as gio-layout;

$typography: map.get(gio.$mat-theme, typography);

:host {
  @include gio-layout.gio-responsive-content-container;
}

.page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  .page-title {
    @include mat.typography-level($typography, headline-6);
    margin: 0 0 4px 0;
  }

  .open-new-portal-button {
    width: fit-content;
    &__content {
      display: flex;
      align-items: center;
      gap: 8px;

      & mat-icon {
        width: 12px;
      }
    }
  }

  .description {
    color: mat.get-color-from-palette(gio.$mat-space-palette, 'lighter40');
    @include mat.typography-level($typography, body-2);
  }
}
