@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

.step-1-menu-item {
  &__line:not(:last-child) {
    border-bottom: 2px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker10');
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
}
