@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use '../../api-runtime-logs-proxy.component' as parent;

.card {
  @include parent.card;
}

.more-details {
  border: 1px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker20');
  border-radius: 8px;
}
