{
  "baseUrl": "{{ getenv "PORTAL_API_URL" "http://localhost/management/" }}",
  "loaderUrl": "assets/images/gravitee-loader.gif",
  "pagination": {
    "size": {
      "default": 10,
      "values": [5, 10, 25, 50, 100]
    }
  }
}