#
# Copyright (C) 2015 The Gravitee team (http://gravitee.io)
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

version: '3.8'

networks:
  apim:
    name: apim
  storage:
    name: storage

volumes:
  data-elasticsearch:
  data-mongo:

services:
  mongodb:
    image: circleci/mongo:${MONGODB_VERSION:-5}
    container_name: gio_apim_mongodb
    restart: always
    ports:
      - "30017:27017"
    volumes:
      - data-mongo:/data/db
      - ./.logs/apim-mongodb:/var/log/mongodb
    healthcheck:
      test: echo 'db.runCommand({serverStatus:1}).ok' | mongo admin --quiet | grep 1
      interval: 2s
      timeout: 10s
      retries: 5
    networks:
      - storage

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:${ELASTIC_VERSION:-7.7.0}
    container_name: gio_apim_elasticsearch
    restart: always
    volumes:
      - data-elasticsearch:/usr/share/elasticsearch/data
    environment:
      - http.host=0.0.0.0
      - transport.host=0.0.0.0
      - xpack.security.enabled=false
      - xpack.monitoring.enabled=false
      - cluster.name=elasticsearch
      - bootstrap.memory_lock=true
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile: 65536
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9200/_cat/health?h=st" ]
      interval: 2s
      timeout: 10s
      retries: 30
    networks:
      - storage

  management_api:
    image: ${APIM_REGISTRY:-graviteeio}/apim-management-api:${APIM_TAG:-3}
    container_name: gio_apim_management_api
    restart: always
    links:
      - mongodb
      - elasticsearch
    depends_on:
      mongodb:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
    ports:
      - "8083:8083"
    volumes:
      - ./.logs/apim-management-api:/opt/graviteeio-management-api/logs
      - ./jacoco:/opt/jacoco
    environment:
      - gravitee_management_mongodb_uri=mongodb://mongodb:27017/gravitee?serverSelectionTimeoutMS=5000&connectTimeoutMS=5000&socketTimeoutMS=5000
      - gravitee_analytics_elasticsearch_endpoints_0=http://elasticsearch:9200
      - gravitee_newsletter_enabled=false
      - gravitee_security_providers[0].users[0].email=user@gravitee.io
      - gravitee_security_providers[0].users[1].email=admin@gravitee.io
      - "JAVA_OPTS=-javaagent:/opt/jacoco/lib/org.jacoco.agent-0.8.8-runtime.jar=destfile=/opt/jacoco/jacoco.exec"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://admin:adminadmin@localhost:18083/_node" ]
      interval: 2s
      timeout: 10s
      retries: 30
    networks:
      - storage
      - apim

  gateway:
    image: ${APIM_REGISTRY:-graviteeio}/apim-gateway:${APIM_TAG:-3}
    container_name: gio_apim_gateway
    restart: always
    links:
      - mongodb
      - elasticsearch
    depends_on:
      mongodb:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
    ports:
      - "8082:8082"
    volumes:
      - ./.logs/apim-gateway:/opt/graviteeio-gateway/logs
      - ./jacoco:/opt/jacoco
    environment:
      - gravitee_management_mongodb_uri=mongodb://mongodb:27017/gravitee?serverSelectionTimeoutMS=5000&connectTimeoutMS=5000&socketTimeoutMS=5000
      - gravitee_ratelimit_mongodb_uri=mongodb://mongodb:27017/gravitee?serverSelectionTimeoutMS=5000&connectTimeoutMS=5000&socketTimeoutMS=5000
      - gravitee_reporters_elasticsearch_endpoints_0=http://elasticsearch:9200
      - "JAVA_OPTS=-javaagent:/opt/jacoco/lib/org.jacoco.agent-0.8.8-runtime.jar=destfile=/opt/jacoco/jacoco.exec"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://admin:adminadmin@localhost:18082/_node" ]
      interval: 2s
      timeout: 10s
      retries: 30
    networks:
      - storage
      - apim
