.form {
  display: flex;
  flex-direction: column;

  mat-form-field {
    flex: 1 1 auto;
  }
  .kafka {
    display: flex;
    gap: 8px;

    &__port {
      flex: 1;
    }
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
