@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use '../../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-full-width-content-container;
}

mat-card {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 16px;
  }
}

.card {
  mat-card-content {
    > .mat-body-strong {
      display: block;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 16px;
    gap: 16px;

    > .mat-h3 {
      width: 100%;
      margin-bottom: 0;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    flex: 1 1 400px;
    min-width: 0;
    box-sizing: border-box;
    border: 1px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker20');
    border-radius: 8px;
    padding: 16px;

    &__kv {
      display: grid;
      grid-template-columns: 160px 1fr;
      gap: 6px 0;
      font-size: 14px;
      overflow-wrap: break-word;
      word-break: break-all;

      > dd {
        margin-left: 0;
      }
    }
  }
}

.payload__empty {
  margin-top: 16px;
}

.failure__header {
  border: 1px solid mat.m2-get-color-from-palette(gio.$mat-error-palette, 'default');
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
}

.delivery-attempts-panel {
  border-radius: 8px;
  overflow: hidden;
  .mat-h3 {
    margin: 0;
  }
  .mat-expansion-panel-header {
    padding: 16px;
  }
}

.editor {
  border: 1px solid mat.m2-get-color-from-palette(gio.$mat-space-palette, 'lighter60');
  border-radius: 4px;
  height: 180px;
  overflow: hidden;
  margin-top: 16px;
}

.empty-card {
  text-align: center;
  margin-top: 16px;

  .icon {
    border-radius: 30px;
    background-color: mat.m2-get-color-from-palette(gio.$mat-primary-palette, 'lighter');
    color: mat.m2-get-color-from-palette(gio.$mat-primary-palette, 'darker20');
    height: 60px;
    width: 60px;
    padding: inherit;
    margin-bottom: 10px;
  }

  &__body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__subtitle {
      color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'lighter40');
      display: flex;
      justify-content: center;
      width: 60%;
      margin-bottom: 10px;
    }
  }

  &__actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__button {
      display: flex;
      justify-content: center;
    }
  }
}

::ng-deep {
  .delivery-attempts-panel {
    .mat-expansion-panel-body {
      padding: 0 !important;
    }
  }
}
