@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

.subscription-creation {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 600px;

    &__plans {
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;
      align-items: flex-start;
      gap: 8px;
    }

    &__keymode {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 12px;

      &__warning {
        color: mat.m2-get-color-from-palette(gio.$mat-warning-palette, default);
      }
    }

    &__applications__option {
      &__title {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
      }
    }
  }
}

.actions {
  justify-content: flex-end;
}
