@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

.api-creation-v4-step-6 {
  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;

    &__info-icon {
      width: 13px;
      color: mat.get-color-from-palette(gio.$mat-space-palette, 'lighter40');
    }
    &__message {
      color: mat.get-color-from-palette(gio.$mat-space-palette, 'lighter40');
      font-weight: 700;
      margin-bottom: 0;
      margin-right: 8px;
    }
    &__button {
      &__content {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        align-items: center;
      }
      &__content > mat-icon {
        margin: 0;
      }
    }
  }
}
