.application-general-container {
	position: relative;
	border-radius: 3px;
	margin-bottom: 30px;
}

.application-data-table {
	margin-top: 20px;
}

.application-general-container > h3 {
	background-color: #F5F5F5;
	margin: 0px;
	border-radius: 3px 3px 0px 0px;
	border-width: 1px 1px 0px;
	border-style: solid solid none;
	border-color: #D8D8D8 #D8D8D8;
	border-image: none;
	padding: 9px 10px 10px;
	font-size: 14px;
	line-height: 17px;
	display: block;
}

.application-general-container h4 {

}

.application-general-container.dangerzone > h3 {
	background-color: #DF3E3E;
	border: 1px solid #A00;
	color: #FFF;
	text-shadow: 0px -1px 0px #900;
}

.application-general-content {
	padding: 1px 10px;
	background: #FFF none repeat scroll 0% 0%;
	border: 1px solid #D8D8D8;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	color: #666;
	font-size: 13px;
}
