.widget-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  & > md-card-title {
    flex: none;
    padding: 16px;
    span.md-title {
      font-size: 12px;
    }
    span.md-subhead {
      font-size: 11px;
    }

    & > md-card-title-media {
      margin-top: 0;
    }
  }

  & > md-card-content {
    flex: 1;
    padding-bottom: 0;
  }

  a {
    //color: #ccc;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover {
    color: #5a646d;
  }

  & > md-card-content md-input-container, & > .gravitee-widget-draggable md-input-container {
    margin-bottom: 0;
    margin-top: 15px;
    label {
      margin-bottom: 0;
    }
    md-checkbox {
      margin: 0;
    }
  }
}

.gv-widget-content {
  height: 100%;
}

.gravitee-widget-draggable {
  cursor: move;
}

.gv-widget-stats {
  border: 1px solid;
  border-radius: 8px;
  margin: 15px;
  padding: 15px;
}

.gv-widget-stats-sm {
  margin: 10px;
  padding: 10px;
}

.gv-widget-stats-value {
  font-size: 30px;
  text-align: center;
}

.gv-widget-stats-value-sm {
  font-size: 25px;
}

.gv-widget-stats-label {
  font-size: 15px;
  text-align: center;
}

.gravitee-widget-table {
  flex: 1;
}

.test {
  display: flex;
  flex-direction: column;
  height: 100%;
}
