.widget-card {
  & > md-card-title {
    padding-bottom: 0px;
    span.md-title {
      font-size: 12px;
    }
    span.md-subhead {
      font-size: 11px;
    }

    & > md-card-title-media {
      margin-top: 0px;
    }
  }

  & > md-card-content {
    padding-bottom: 0px;
    padding-top: 16px;
  }

  a {
    //color: #ccc;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover {
    color: #5a646d;
  }
}

.gravitee-widget-draggable {
  cursor: move;
}

.gravitee-widget-pagination {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;

  .buttons {
    margin-right: 10px !important;
  }
}
