# Copyright (C) 2015 The Gravitee team (http://gravitee.io)
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
openapi: 3.1.0
info:
  title: Gravitee.io GKO - Automation API
  description: |-
    The APIM automation API. 

  contact:
    email: team-gko@graviteesource.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
security:
  - BearerAuth: []
  - BasicAuth: []
servers:
  - url: "https://apim-master-api.team-apim.gravitee.dev/automation"
tags:
  - name: APIs
    description: Everything about APIs
  - name: Shared Policy Group
    description: Everything about Shared Policy Groups
paths:
  # APIs
  /organizations/{orgId}/environments/{envId}/apis/:
    put:
      operationId: createOrUpdateApis
      tags:
        - APIs
      summary: Create or update APIs from API Spec
      description: Create or update APIs from API Spec
      parameters:
        - $ref: "#/components/parameters/orgIdParam"
        - $ref: "#/components/parameters/envIdParam"
        - $ref: "#/components/parameters/dryRunQueryParam"
      requestBody:
        content:
          "application/json":
            schema:
              $ref: "#/components/schemas/ApiV4Spec"
        required: true
      responses:
        "200":
          description: State of the successfully created API
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiV4State"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          description: No credential provided
        "403":
          description: Wrong credentials
        "500":
          description: Internal server error
  /organizations/{orgId}/environments/{envId}/apis/{hrid}:
    parameters:
      - $ref: "#/components/parameters/orgIdParam"
      - $ref: "#/components/parameters/envIdParam"
      - $ref: "#/components/parameters/hridParam"
    get:
      operationId: getApi
      tags:
        - APIs
      summary: Get one API
      description: Get one API
      parameters:
        - $ref: "#/components/parameters/orgIdParam"
        - $ref: "#/components/parameters/envIdParam"
        - $ref: "#/components/parameters/hridParam"
      responses:
        "200":
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiV4State"
        "401":
          description: No credential provided
        "403":
          description: Wrong credentials
        "500":
          description: Internal server error
    delete:
      operationId: deleteApi
      tags:
        - APIs
      summary: Delete one API
      description: Delete one API
      parameters:
        - $ref: "#/components/parameters/orgIdParam"
        - $ref: "#/components/parameters/envIdParam"
        - $ref: "#/components/parameters/hridParam"
      responses:
        "204":
          description: API successfully deleted
        default:
          $ref: "#/components/responses/Error"

  # Shared Policy Groups
  /organizations/{orgId}/environments/{envId}/shared-policy-groups/{hrid}:
    parameters:
      - $ref: "#/components/parameters/orgIdParam"
      - $ref: "#/components/parameters/envIdParam"
      - $ref: "#/components/parameters/hridParam"
    get:
      operationId: getPolicyGroup
      tags:
        - Shared Policy Group
      summary: Get one policy group
      description: Get one policy group
      responses:
        "200":
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SharedPolicyGroupState"
        "401":
          description: No credential provided
        "403":
          description: Wrong credentials
        "500":
          description: Internal server error
    delete:
      operationId: deletePolicyGroup
      tags:
        - Shared Policy Group
      summary: Delete one policy group
      description: Delete one shared policy group
      parameters:
        - $ref: "#/components/parameters/dryRunQueryParam"
      responses:
        "204":
          description: Shared Policy Group successfully deleted
        default:
          $ref: "#/components/responses/Error"
  /organizations/{orgId}/environments/{envId}/shared-policy-groups:
    put:
      operationId: createOrUpdatePolicyGroup
      tags:
        - Shared Policy Group
      summary: Create or update Shared Policy Group from spec
      description: Create or update Shared Policy Group from spec
      parameters:
        - $ref: "#/components/parameters/orgIdParam"
        - $ref: "#/components/parameters/envIdParam"
        - $ref: "#/components/parameters/dryRunQueryParam"
      requestBody:
        content:
          "application/json":
            schema:
              $ref: "#/components/schemas/SharedPolicyGroupSpec"
        required: true
      responses:
        "200":
          description: State of the successfully created / updated Shared Policy Group
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SharedPolicyGroupState"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          description: No credential provided
        "403":
          description: Wrong credentials
        "500":
          description: Internal server error

components:
  schemas:
    ApiV4Spec:
      description: ApiV4DefinitionSpec defines the desired state of ApiDefinition.
      type: object
      properties:
        id:
          type: string
          description: API's uuid.
          example: 00f8c9e7-78fc-4907-b8c9-e778fc790750
          readOnly: true
        crossId:
          type: string
          description: >-
            When promoting an API from one environment to the other,
            this ID identifies the API across those different
            environments.
          readOnly: true
        hrid:
          type: string
          description: A unique human readable id identifying the api
          example: echo_api
        definitionContext:
          $ref: "#/components/schemas/DefinitionContext"
        name:
          type: string
          description: API's name. Duplicate names can exists.
          example: My Api
          minLength: 1
        version:
          type: string
          description: API's version. It's a simple string only used in the portal.
          example: 1.0.0
          minLength: 1
        type:
          $ref: "#/components/schemas/ApiType"
        description:
          type: string
          description: API's description. A short description of your API.
          example: I can use many characters to describe this API.
        tags:
          type: array
          description: The list of sharding tags associated with this API.
          example:
            - public
            - private
          items:
            type: string
          uniqueItems: true
        listeners:
          type: array
          description: The list of listeners associated with this API.
          items:
            $ref: "#/components/schemas/Listener"
          minItems: 1
        endpointGroups:
          type: array
          items:
            $ref: "#/components/schemas/EndpointGroupV4"
          minItems: 1
        analytics:
          $ref: "#/components/schemas/Analytics"
        failover:
          $ref: "#/components/schemas/FailoverV4"
        properties:
          type: array
          items:
            $ref: "#/components/schemas/Property"
        resources:
          type: array
          items:
            $ref: "#/components/schemas/Resource"
        plans:
          $ref: '#/components/schemas/PlansMap'
        flowExecution:
          $ref: "#/components/schemas/FlowExecution"
        flows:
          default: []
          description: List of flows for the API
          items:
            $ref: "#/components/schemas/FlowV4"
          type: array
        responseTemplates:
          type: object
          description:
            A list of Response Templates for the API (Not applicable for Native
            API)
          additionalProperties:
            type: object
            additionalProperties:
              $ref: "#/components/schemas/ResponseTemplate"
        services:
          $ref: "#/components/schemas/ApiServices"
        groups:
          default: []
          description: >-
            List of groups associated with the API.

            This groups are id or name references to existing groups in
            APIM.
          items:
            type: string
          type: array
        visibility:
          $ref: "#/components/schemas/Visibility"
        state:
          $ref: "#/components/schemas/LifecycleState"
        primaryOwner:
          $ref: "#/components/schemas/PrimaryOwner"
        labels:
          default: []
          description: List of labels of the API
          items:
            type: string
          type: array
        metadata:
          type: array
          description: The list of API's metadata.
          items:
            $ref: "#/components/schemas/Metadata"
          uniqueItems: true
        lifecycleState:
          $ref: "#/components/schemas/ApiLifecycleState"
        categories:
          type: array
          description: The list of category keys associated with this API.
          example:
            - health
            - media
          items:
            type: string
        members:
          type: array
          description: Set of members associated with the plan
          items:
            $ref: '#/components/schemas/Member'
          uniqueItems: true
        notifyMembers:
          default: true
          description: |-
            If true, new members added to the API spec will
            be notified when the API is synced with APIM.
          type: boolean
          writeOnly: true
        originContext:
          $ref: "#/components/schemas/BaseOriginContext"
        pages:
          $ref: '#/components/schemas/PagesMap'
        consoleNotificationConfiguration:
          $ref: '#/components/schemas/PortalNotificationConfig'
      required:
        - name
        - type
        - listeners
        - endpointGroups
        - version

    ApiV4State:
      allOf:
        - $ref: "#/components/schemas/ApiV4Spec"
        - type: object
          properties:
            errors:
              $ref: "#/components/schemas/Errors"
        - type: object
          properties:
            id:
              type: string
              description: API's uuid.
            crossId:
              type: string
              description: >-
                When promoting an API from one environment to the other,
                this ID identifies the API across those different
                environments.
            environmentId:
              description:
                The environment ID of the API.
              type: string
            organizationId:
              description:
                The organization ID of the API.
              type: string
    Errors:
      description: >-
        When a resource has been created regardless of errors, this field
        is used to persist the error message encountered during
        admission
      properties:
        severe:
          description: >-
            severe errors do not pass admission and will block
            reconcile hence, this field should always be populated during the admission
            phase and is very unlikely to be persisted in the status
          items:
            type: string
          type: array
        warning:
          description: >-
            warning errors do not block object reconciliation,

            most of the time because the value is ignored or
            defaulted

            when the resource gets synced with APIM
          items:
            type: string
          type: array
      type: object

    SharedPolicyGroupState:
      allOf:
        - $ref: "#/components/schemas/SharedPolicyGroupSpec"
        - type: object
          properties:
            errors:
              $ref: "#/components/schemas/Errors"
        - type: object
          properties:
            crossId:
              description:
                The Cross ID is used to identify a shared policy group that has been promoted from
                one environment to another.
              type: string
            id:
              description:
                The id of the shared policy group.
              type: string
            environmentId:
              description:
                The environment ID of the shared policy group.
              type: string
            organizationId:
              description:
                The organization ID of the shared policy group.
              type: string
    SharedPolicyGroupSpec:
      description: Shared Policy Group Spec
      type: object
      properties:
        apiType:
          $ref: "#/components/schemas/ApiType"
        hrid:
          type: string
          pattern: '^[a-zA-Z][a-zA-Z0-9_-]{2,}$'
          description: A unique human readable id identifying the shared policy group
          example: products
        description:
          type: string
          description: The description of the shared policy group
          example: this is a shared policy group
          maxLength: 1024
        prerequisiteMessage:
          type: string
          description: The prerequisite message of the shared policy group. This message is displayed to the user to help understand the prerequisite to use the shared policy group.
          example: the resource cache "my-cache" is required
          maxLength: 1024
        name:
          type: string
          description: The name of the shared policy group
          example: My Shared Policy Group
          maxLength: 512
        phase:
          $ref: "#/components/schemas/FlowPhase"
        steps:
          description: SharedPolicyGroup Steps
          items:
            $ref: "#/components/schemas/FlowStep"
          type: array
      required:
        - apiType
        - name
        - phase
    SharedPolicyGroupLifecycleState:
      type: string
      description: The lifecycle state of a shared policy group
      enum:
        - DEPLOYED
        - UNDEPLOYED
        - PENDING
    ApiV4DefinitionVersion:
      type: string
      description: The definition version of the API.
      enum:
        - V4
      default: V4
    Status:
      description: ApiV4DefinitionStatus defines the observed state of API Definition.
      properties:
        id:
          description:
            The ID of the API definition in the Gravitee API Management
            instance (if an API context has been configured).
          type: string
        crossId:
          description:
            The Cross ID is used to identify an API that has been promoted from
            one environment to another.
          type: string
        organizationId:
          description:
            The organization ID, if a management context has been defined to
            sync with an APIM instance
          type: string
        environmentId:
          description:
            The environment ID, if a management context has been defined to
            sync with an APIM instance
          type: string
        errors:
          description: >-
            When API has been created regardless of errors, this field
            is

            used to persist the error message encountered during
            admission
          properties:
            severe:
              description: >-
                severe errors do not pass admission and will block
                reconcile

                hence, this field should always be during the admission
                phase

                and is very unlikely to be persisted in the status
              items:
                type: string
              type: array
            warning:
              description: >-
                warning errors do not block object reconciliation,

                most of the time because the value is ignored or
                defaulted

                when the API gets synced with APIM
              items:
                type: string
              type: array
          type: object
        plans:
          additionalProperties:
            type: string
          description: >-
            This field is used to store the list of plans that have been
            created

            for the API definition if a management context has been
            defined

            to sync the API with an APIM instance
          type: object
        processingStatus:
          description: The processing status of the API definition.
          type: string
        state:
          description: The state of the API. Can be either STARTED or STOPPED.
          enum:
            - STARTED
            - STOPPED
          type: string
        subscriptions:
          description: The number of subscriptions that reference the API
          type: integer
    FlowPhase:
      type: string
      description: The execution phase of a policy.
      enum:
        - REQUEST
        - RESPONSE
        - INTERACT
        - CONNECT
        - PUBLISH
        - SUBSCRIBE
    FlowStep:
      type: object
      properties:
        condition:
          description: FlowStep condition
          type: string
        configuration:
          description: FlowStep configuration is a map of arbitrary key-values
          type: object
          x-kubernetes-preserve-unknown-fields: true
        description:
          description: FlowStep description
          type: string
        enabled:
          default: true
          description: Indicate if this FlowStep is enabled or not
          type: boolean
        messageCondition:
          description: The message condition (supports EL expressions)
          type: string
        name:
          description: FlowStep name
          type: string
        policy:
          description: FlowStep policy
          type: string
      required:
        - enabled

    PlansMap:
      type: object
      description: Map of plan IDs to Plan objects
      additionalProperties:
        $ref: '#/components/schemas/Plan'
    Plan:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the plan
          readOnly: true
        crossId:
          type: string
          description: Cross-reference ID
          readOnly: true
        name:
          type: string
        description:
          type: string
        security:
          $ref: '#/components/schemas/PlanSecurity'
        characteristics:
          type: array
          items:
            type: string
        excludedGroups:
          type: array
          items:
            type: string
        generalConditions:
          type: string
        order:
          type: integer
        selectionRule:
          type: string
        status:
          $ref: '#/components/schemas/PlanStatus'
        tags:
          type: array
          items:
            type: string
        type:
          $ref: '#/components/schemas/PlanType'
        validation:
          $ref: '#/components/schemas/PlanValidation'
        flows:
          type: array
          items:
            $ref: '#/components/schemas/FlowV4'
        mode:
          $ref: '#/components/schemas/PlanMode'
      required:
        - status
        - type
        - mode

    Member:
      type: object
      properties:
        id:
          type: string
        source:
          type: string
        sourceId:
          type: string
        role:
          type: string
    PortalNotificationConfig:
      type: object
      properties:
        config_type:
          type: string
          enum:
            - PORTAL
            - GENERIC
        name:
          type: string
        referenceType:
          type: string
        referenceId:
          type: string
        user:
          type: string
        hooks:
          type: array
          items:
            type: string
        groups:
          type: array
          items:
            type: string
      required:
        - config_type
        - name

    Analytics:
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether or not analytics is enabled.
          default: true
        sampling:
          $ref: "#/components/schemas/Sampling"
        logging:
          $ref: "#/components/schemas/LoggingV4"
        tracing:
          $ref: "#/components/schemas/TracingV4"

    ApiLifecycleState:
      type: string
      description: The status of the API regarding the console.
      example: CREATED
      enum:
        - ARCHIVED
        - CREATED
        - DEPRECATED
        - PUBLISHED
        - UNPUBLISHED
    ApiServices:
      type: object
      properties:
        dynamicProperty:
          $ref: "#/components/schemas/ServiceV4"
    ApiSearchQuery:
      type: object
      properties:
        query:
          type: string
          description: The query to search for.
          example: my api
        ids:
          type: array
          items:
            type: string
          description: List of ids to find
          example:
            - apiId-1
            - apiId-2
        definitionVersion:
          $ref: "#/components/schemas/DefinitionVersion"
        definitionVersions:
          type: array
          items:
            $ref: "#/components/schemas/DefinitionVersion"
    ApiType:
      type: string
      description: API's type.
      example: MESSAGE
      enum:
        - MESSAGE
        - PROXY
        - NATIVE
    Visibility:
      type: string
      description: The visibility of the resource regarding the portal.
      example: PUBLIC
      enum:
        - PUBLIC
        - PRIVATE

    ApiWorkflowState:
      type: string
      description: The status of the API regarding the review feature.
      example: DRAFT
      enum:
        - DRAFT
        - IN_REVIEW
        - REQUEST_FOR_CHANGES
        - REVIEW_OK
      readOnly: true
    ChannelSelector:
      type: object
      title: "ChannelSelector"
      required:
        - type
        - channel
        - channelOperator
      allOf:
        - $ref: "#/components/schemas/BaseSelector"
        - type: object
          properties:
            operations:
              type: array
              description: The list of operations associated with this channel selector.
              items:
                type: string
                description: The operation associated with this channel selector.
                enum:
                  - PUBLISH
                  - SUBSCRIBE
              uniqueItems: true
            channel:
              type: string
              description: The channel of the selector
              example: /my/channel
              default: /
            channelOperator:
              $ref: "#/components/schemas/Operator"
            entrypoints:
              type: array
              items:
                type: string
              uniqueItems: true
    ConditionSelector:
      type: object
      title: "ConditionSelector"
      required:
        - type
        - condition
      allOf:
        - $ref: "#/components/schemas/BaseSelector"
        - type: object
          properties:
            condition:
              type: string
              description: The condition of the selector
              example: ${#jsonPath(payload, '$.myField') == 'myValue'}
    Cors:
      type: object
      properties:
        allowCredentials:
          type: boolean
        allowHeaders:
          uniqueItems: true
          type: array
          items:
            type: string
        allowMethods:
          uniqueItems: true
          type: array
          items:
            type: string
        allowOrigin:
          uniqueItems: true
          type: array
          items:
            type: string
        enabled:
          type: boolean
        exposeHeaders:
          uniqueItems: true
          type: array
          items:
            type: string
        maxAge:
          type: integer
          format: int32
          default: -1
        runPolicies:
          type: boolean
    Dlq:
      type: object
      properties:
        endpoint:
          type: string
          description: The endpoint of the DLQ.
    OriginContext:
      oneOf:
        - $ref: "#/components/schemas/ManagementOriginContext"
        - $ref: "#/components/schemas/KubernetesOriginContext"
        - $ref: "#/components/schemas/IntegrationOriginContext"
      discriminator:
        propertyName: origin
        mapping:
          MANAGEMENT: "#/components/schemas/ManagementOriginContext"
          KUBERNETES: "#/components/schemas/KubernetesOriginContext"
          INTEGRATION: "#/components/schemas/IntegrationOriginContext"
    BaseOriginContext:
      type: object
      properties:
        origin:
          type: string
          description: The origin of the API.
          example: MANAGEMENT
          enum:
            - MANAGEMENT
            - KUBERNETES
            - INTEGRATION
      discriminator:
        propertyName: origin
        mapping:
          MANAGEMENT: "#/components/schemas/ManagementOriginContext"
          KUBERNETES: "#/components/schemas/KubernetesOriginContext"
          INTEGRATION: "#/components/schemas/IntegrationOriginContext"
    ManagementOriginContext:
      type: object
      title: "ManagementOriginContext"
      description: Indicates the API has been created by the Management API
      allOf:
        - $ref: "#/components/schemas/BaseOriginContext"
    KubernetesOriginContext:
      type: object
      title: "KubernetesOriginContext"
      description: Indicates the API has been created by the Gravitee Kubernetes Operator
      allOf:
        - $ref: "#/components/schemas/BaseOriginContext"
        - properties:
            mode:
              type: string
              description: |-
                The mode of the API.
                fully_managed: Mode indicating the api is fully managed by the origin and so, only the origin should be able to manage the api.
              example: FULLY_MANAGED
              enum:
                - FULLY_MANAGED
            syncFrom:
              type: string
              description: |-
                syncFrom stands for where the Gateway should source the API definition from. 
                If the value is KUBERNETES, then the gateway will sync the definition by listening to changes
                issued on a kubernetes config map. If the value is MANAGEMENT, then the gateway will sync
                the definition using the same datastore as APIM. 
                Defining MANAGEMENT as source for sync is useful e.g. when a single operator should operate
                on gateways deployed on multiple kubernetes clusters.
              example: MANAGEMENT
              enum:
                - MANAGEMENT
                - KUBERNETES
    IntegrationOriginContext:
      type: object
      title: "IntegrationOriginContext"
      description: Indicates the API has been created through an Integration
      allOf:
        - $ref: "#/components/schemas/BaseOriginContext"
        - properties:
            integrationId:
              type: string
              description: |-
                The id of the integration that created the API.
              example: b300b445-8bbb-4034-865c-d2113ba5b768
            provider:
              type: string
              description: Provider of this Federated API.
              example: solace
            integrationName:
              type: string
              description: Name of integration of this Federated API.
              example: My Solace env

    DefinitionContext:
      deprecated: true
      type: object
      description: the context where the api definition was created. Deprecated in favor of OriginContext.
      properties:
        origin:
          type: string
          description: The origin of the API.
          example: MANAGEMENT
          enum:
            - MANAGEMENT
            - KUBERNETES
        mode:
          deprecated: true
          type: string
          description: |-
            The mode of the API.
            fully_managed: Mode indicating the api is fully managed by the origin and so, only the origin should be able to manage the api.
            api_definition_only: Mode indicating the api is partially managed by the origin and so, only the origin should be able to manage the api definition part of the api. This includes everything regarding the definition of the apis (plans, flows, metadata, ...)
          example: FULLY_MANAGED
          enum:
            - FULLY_MANAGED
            - API_DEFINITION_ONLY
        syncFrom:
          type: string
          description: |-
            syncFrom stands for where the Gateway should source the API definition from. 
            If the value is KUBERNETES, then the gateway will sync the definition by listening to changes
            issued on a kubernetes config map. If the value is MANAGEMENT, then the gateway will sync
            the definition using the same datastore as APIM. 
            Defining MANAGEMENT as source for sync is useful e.g. when a single operator should operate
            on gateways deployed on multiple kubernetes clusters.
          example: MANAGEMENT
          enum:
            - MANAGEMENT
            - KUBERNETES
      readOnly: true
    DefinitionVersion:
      type: string
      description: API's gravitee definition version.
      example: V4
      enum:
        - V1
        - V2
        - V4
        - FEDERATED
    EndpointV4:
      type: object
      properties:
        name:
          type: string
          description: The name of the endpoint
          example: default-endpoint
          nullable: false
        type:
          type: string
          description: The type of the endpoint
          example: mock
          nullable: false
        weight:
          type: integer
          format: int32
          description: The weight of the endpoint
          default: 1
        inheritConfiguration:
          type: boolean
          description: Is the configuration of the endpoint inherited from the endpoint group it belongs to.
          default: false
        configuration:
          type: object
        sharedConfigurationOverride:
          type: object
        services:
          $ref: "#/components/schemas/EndpointServices"
        secondary:
          type: boolean
          description: Is the endpoint a secondary endpoint.
          default: false
        tenants:
          type: array
          description: The list of tenants associated to the endpoint.
          items:
            type: string
      required:
        - type
    EndpointGroupV4:
      type: object
      properties:
        name:
          type: string
          description: The name of the endpoint group
          example: default-endpoint-group
          nullable: false
        type:
          type: string
          description: The type of the endpoint group
          example: default
          nullable: false
        loadBalancer:
          $ref: "#/components/schemas/LoadBalancer"
        sharedConfiguration:
          type: object
        endpoints:
          type: array
          items:
            $ref: "#/components/schemas/EndpointV4"
        services:
          $ref: "#/components/schemas/EndpointGroupServices"
      required:
        - type
    EndpointGroupServices:
      type: object
      properties:
        discovery:
          $ref: "#/components/schemas/ServiceV4"
        healthCheck:
          $ref: "#/components/schemas/ServiceV4"
    EndpointServices:
      type: object
      properties:
        healthCheck:
          $ref: "#/components/schemas/ServiceV4"
    Entrypoint:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          description: The type of the entrypoint
          example: http-get
          nullable: false
        qos:
          $ref: "#/components/schemas/Qos"
        dlq:
          $ref: "#/components/schemas/Dlq"
        configuration:
          type: object
    Error:
      type: object
      properties:
        httpStatus:
          type: integer
          format: int32
          description: The error code
          example: 400
        message:
          type: string
          description: The error message
          example: Bad request
        technicalCode:
          type: string
          description: A technical code to identify the error
          example: invalid.import.definition
        parameters:
          type: object
          description: A map of parameters to be used in the error message
          additionalProperties:
            type: string
        details:
          type: array
          description: A list of details about the error
          items:
            type: object
            properties:
              message:
                type: string
                description: The error message
                example: Bad request
              location:
                type: string
                description: The json path of the field in error.
                example: updateApi.properties[0].key
              invalidValue:
                description: The invalid value.

    FlowV4:
      type: object
      properties:
        id:
          type: string
          description: Flow's uuid.
          example: 4e6abbd2-c0c6-462d-be9e-6371209af34b
          readOnly: true
        name:
          type: string
          description: Flow's name.
          example: My Flow
        enabled:
          type: boolean
          description: Is the flow enabled.
          default: true
        selectors:
          type: array
          items:
            $ref: "#/components/schemas/Selector"
        request:
          type: array
          description: Flow step used for PROXY and MESSAGE APIs
          items:
            $ref: "#/components/schemas/StepV4"
        response:
          type: array
          description: Flow step used for PROXY and MESSAGE APIs
          items:
            $ref: "#/components/schemas/StepV4"
        subscribe:
          type: array
          description: Flow step used for MESSAGE and NATIVE APIs
          items:
            $ref: "#/components/schemas/StepV4"
        publish:
          type: array
          description: Flow step used for MESSAGE and NATIVE APIs
          items:
            $ref: "#/components/schemas/StepV4"
        connect:
          type: array
          description: Flow step used for NATIVE APIs
          items:
            $ref: "#/components/schemas/StepV4"
        interact:
          type: array
          description: Flow step used for NATIVE APIs
          items:
            $ref: "#/components/schemas/StepV4"
        tags:
          type: array
          items:
            type: string
          description: Flow's tags.
          example:
            - tag1
            - tag2
          uniqueItems: true
    FlowExecution:
      type: object
      properties:
        mode:
          $ref: "#/components/schemas/FlowMode"
        matchRequired:
          type: boolean
          description: Is the flow execution match required.
          default: false
    FlowMode:
      type: string
      description: API's flow mode.
      example: BEST_MATCH
      default: DEFAULT
      enum:
        - BEST_MATCH
        - DEFAULT
    HttpListener:
      type: object
      title: "HttpListener"
      required:
        - type
      allOf:
        - $ref: "#/components/schemas/BaseListener"
        - type: object
          properties:
            paths:
              type: array
              minItems: 1
              items:
                $ref: "#/components/schemas/PathV4"
            pathMappings:
              type: array
              items:
                type: string
            cors:
              $ref: "#/components/schemas/Cors"
    HttpMethod:
      type: string
      description: The method of the selector
      example: GET
      enum:
        - CONNECT
        - DELETE
        - GET
        - HEAD
        - OPTIONS
        - PATCH
        - POST
        - PUT
        - TRACE
        - OTHER
    HttpSelector:
      type: object
      title: "HttpSelector"
      required:
        - type
        - path
        - pathOperator
      allOf:
        - $ref: "#/components/schemas/BaseSelector"
        - type: object
          properties:
            path:
              type: string
              description: The path of the selector
              example: /my/path
              default: /
            pathOperator:
              $ref: "#/components/schemas/Operator"
            methods:
              type: array
              items:
                $ref: "#/components/schemas/HttpMethod"
              uniqueItems: true

    Links:
      description: List of links for pagination
      properties:
        self:
          type: string
          description: Link to current resource
        first:
          type: string
          description: In a paginated response, link to the first page
        last:
          type: string
          description: In a paginated response, link to the last page
        previous:
          type: string
          description: In a paginated response, link to the previous page. Maybe null if current is the first page
        next:
          type: string
          description: In a paginated response, link to the next page. Maybe null if current is the last page
    Listener:
      oneOf:
        - $ref: "#/components/schemas/HttpListener"
        - $ref: "#/components/schemas/SubscriptionListener"
        - $ref: "#/components/schemas/TcpListener"
        - $ref: "#/components/schemas/KafkaListener"
      discriminator:
        propertyName: type
        mapping:
          HTTP: "#/components/schemas/HttpListener"
          TCP: "#/components/schemas/TcpListener"
          SUBSCRIPTION: "#/components/schemas/SubscriptionListener"
          KAFKA: "#/components/schemas/KafkaListener"
    BaseListener:
      type: object
      required:
        - type
      properties:
        type:
          $ref: "#/components/schemas/ListenerType"
        entrypoints:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/Entrypoint"
        servers:
          type: array
          items:
            type: string
      discriminator:
        propertyName: type
        mapping:
          HTTP: "#/components/schemas/HttpListener"
          TCP: "#/components/schemas/TcpListener"
          SUBSCRIPTION: "#/components/schemas/SubscriptionListener"
          KAFKA: "#/components/schemas/KafkaListener"
    ListenerType:
      type: string
      description: Listener type.
      example: HTTP
      enum:
        - HTTP
        - SUBSCRIPTION
        - TCP
        - KAFKA
    LoadBalancer:
      type: object
      properties:
        type:
          type: string
          description: Load balancer type.
          example: ROUND_ROBIN
          default: ROUND_ROBIN
          enum:
            - RANDOM
            - ROUND_ROBIN
            - WEIGHTED_RANDOM
            - WEIGHTED_ROUND_ROBIN
    LoggingV4:
      type: object
      properties:
        condition:
          type: string
        messageCondition:
          type: string
        content:
          $ref: "#/components/schemas/LoggingContentV4"
        phase:
          $ref: "#/components/schemas/LoggingPhase"
        mode:
          $ref: "#/components/schemas/LoggingModeV4"
    LoggingContentV4:
      type: object
      properties:
        headers:
          type: boolean
        messageHeaders:
          type: boolean
        payload:
          type: boolean
        messagePayload:
          type: boolean
        messageMetadata:
          type: boolean
    LoggingModeV4:
      type: object
      properties:
        endpoint:
          type: boolean
        entrypoint:
          type: boolean
    LoggingPhase:
      type: object
      properties:
        request:
          type: boolean
        response:
          type: boolean
    TracingV4:
      type: object
      properties:
        enabled:
          type: boolean
          description: Enable OpenTelemetry tracing
        verbose:
          type: boolean
          description: Enable technical tracing to get more details on request execution. Be careful this settings would generate more noise and would impact performance.
    ResponseMetadata:
      description: Generic object to handle additional information about an entity. Can also be used for pagination data.
      type: object
    MoreInformation:
      type: object
      properties:
        description:
          type: string
          description: Plugin's description.
          example: Let your consumers send synchronous, on-demand requests for events via a standard HTTP GET requests. Use a standard HTTP proxy to mediate between client applications as data consumers and event brokers such as Kafka.
        documentationUrl:
          type: string
          description: Plugin's documentation URL.
          example: https://documentation.gravitee.io
        schemaImg:
          type: string
          description: Plugin's schema image as base64.
          format: base64
          example: data:image/png;base64,aFDqfda
    Operator:
      type: string
      description: The path operator of the selector
      example: EQUALS
      default: STARTS_WITH
      enum:
        - EQUALS
        - STARTS_WITH
    PagesMap:
      type: object
      description: >-
        A map of pages objects.
        
        Keys uniquely identify pages and are used to keep them in
        sync with APIM when using a management context.
        
        Renaming a key is the equivalent of deleting the page and
        recreating it holding a new ID in APIM.
      additionalProperties:
        $ref: '#/components/schemas/Page'
    Page:
      description: Documentation page. Can be of multiple formats.
      type: object
      properties:
        id:
          type: string
          description: Page's uuid.
          example: 00f8c9e7-78fc-4907-b8c9-e778fc790750
          readOnly: true
        crossId:
          type: string
          description: Page's cross uuid.
          example: 00f8c9e7-78fc-4907-b8c9-e778fc790750
          readOnly: true
        name:
          type: string
          description: Page's name.
          example: My Page
        type:
          $ref: "#/components/schemas/PageType"
        content:
          type: string
          description: Page's content.
          example: My Page content
        order:
          type: integer
          description: Page's order.
          example: 1
        lastContributor:
          type: string
          description: Page's last contributor. Id of a user.
          example: 00f8c9e7-78fc-4907-b8c9-e778fc790750
        published:
          type: boolean
          description: Page's published status.
          example: true
        visibility:
          $ref: "#/components/schemas/Visibility"
        updatedAt:
          type: string
          format: date-time
          description: Page's last update date.
          example: 2018-01-01T00:00:00.000Z
        contentType:
          type: string
          description: Page's content type.
          example: application/json
        source:
          $ref: "#/components/schemas/PageSource"
        configuration:
          type: object
          description: Page's configuration.
          additionalProperties:
            type: string
        homepage:
          type: boolean
          description: Page's homepage status.
          example: true
        parentId:
          type: string
          description: Page's parent id.
          example: 00f8c9e7-78fc-4907-b8c9-e778fc790750
        parentPath:
          type: string
          description: Page's parent path.
          example: /parent
        excludedAccessControls:
          type: boolean
          description: Flag to restrict access to user matching the restrictions.
        accessControls:
          type: array
          description: List of access controls.
          items:
            $ref: "#/components/schemas/AccessControl"
        attachedMedia:
          type: array
          description: List of attached media.
          items:
            $ref: "#/components/schemas/PageMedia"
        metadata:
          type: object
          description: Page's metadata.
          additionalProperties:
            type: string
        translations:
          type: array
          description: List of page translations.
          items:
            $ref: "#/components/schemas/Page"
        contentRevision:
          $ref: "#/components/schemas/Revision"
        hidden:
          type: boolean
          description: If folder is published but not shown in Portal.
        generalConditions:
          type: boolean
          description: If page is used as General Conditions of an active plan.
    PageType:
      type: string
      description: The type of the page.
      example: MARKDOWN
      enum:
        - ASCIIDOC
        - ASYNCAPI
        - MARKDOWN
        - MARKDOWN_TEMPLATE
        - SWAGGER
        - FOLDER
        - LINK
        - ROOT
        - SYSTEM_FOLDER
        - TRANSLATION

    # Documentation pages
    AccessControl:
      type: object
      properties:
        referenceId:
          type: string
          description: The id of the resource used to check the access control
          example: 00f8c9e7-78fc-4907-b8c9-e778fc790750
        referenceType:
          type: string
          description: The type of the resource used to check the access control
          example:
            - GROUP
            - ROLE
    PageSource:
      type: object
      properties:
        type:
          type: string
          description: The type of the page source (=fetcher type).
          example:
            - http-fetcher
            - git-fetcher
            - gitlab-fetcher
            - github-fetcher
            - bitbucket-fetcher
        configuration:
          type: object
          description: Page source's configuration.
    PageMedia:
      type: object
      properties:
        name:
          type: string
          description: Media's name.
          example: My Media
        hash:
          type: string
          description: Media's hash.
          example: 00f8c9e7-78fc-4907-b8c9-e778fc790750
        attachedAt:
          type: string
          format: date-time
          description: Media's attachment date.
          example: 2018-01-01T00:00:00.000Z
    Revision:
      type: object
      properties:
        id:
          type: string
          description: Id of the page used to fill the content attributes.
          example: 00f8c9e7-78fc-4907-b8c9-e778fc790750
        revision:
          type: integer
          description: Revision number.
          example: 1
    Pagination:
      description: Generic object to handle pagination data.
      type: object
      properties:
        page:
          type: integer
          description: The current page.
        perPage:
          type: integer
          description: The number of items requested per page.
        pageCount:
          type: integer
          description: The total number of pages.
        pageItemsCount:
          type: integer
          description: The number of items for the current page.
        totalCount:
          type: integer
          format: int64
          description: The total number of items.

    Path:
      type: object
      properties:
        host:
          type: string
        path:
          type: string
          default: "/"
        overrideAccess:
          type: boolean
          default: false

    PathV4:
      type: object
      properties:
        host:
          type: string
        path:
          type: string
          default: "/"
        overrideAccess:
          type: boolean
          default: false

    ApiReview:
      type: object
      properties:
        message:
          type: string
          description: Optional message from the API reviewer.

    PlanSecurity:
      type: object
      properties:
        type:
          $ref: "#/components/schemas/PlanSecurityType"
        configuration:
          type: object
      required:
        - type
    PlanSecurityType:
      type: string
      description: Plan security type.
      example: KEY_LESS
      enum:
        - KEY_LESS
        - API_KEY
        - OAUTH2
        - JWT
        - MTLS
    PlanStatus:
      type: string
      description: Plan status.
      example: STAGING
      enum:
        - STAGING
        - PUBLISHED
        - DEPRECATED
        - CLOSED
    PlanType:
      type: string
      description: Plan type.
      example: API
      enum:
        - API
        - CATALOG
    PlanValidation:
      type: string
      description: Plan validation type.
      example: AUTO
      enum:
        - AUTO
        - MANUAL
    PlanMode:
      type: string
      description: The behavioural mode of the Plan (Standard for classical plan, Push for subscription plan).
      example: STANDARD
      enum:
        - STANDARD
        - PUSH

    PrimaryOwner:
      type: object
      properties:
        id:
          type: string
          description: Owner's uuid.
          example: 00f8c9e7-78fc-4907-b8c9-e778fc790750
        email:
          type: string
          description: Owner's email. Can be null if owner is a group.
        displayName:
          type: string
          description: Owner's name.
          example: John Doe
          minLength: 1
        type:
          $ref: "#/components/schemas/MembershipMemberType"
    Property:
      type: object
      required:
        - key
        - value
      properties:
        key:
          type: string
        value:
          type: string
        encrypted:
          type: boolean
        dynamic:
          type: boolean
        encryptable:
          type: boolean
          writeOnly: true
    Qos:
      type: string
      description: Type of the quality of service.
      example: NONE
      default: AUTO
      enum:
        - NONE
        - AUTO
        - AT_MOST_ONCE
        - AT_LEAST_ONCE
    Resource:
      type: object
      required:
        - name
        - type
        - configuration
      properties:
        name:
          type: string
        type:
          type: string
        configuration:
          type: object
        enabled:
          type: boolean
    ResponseTemplate:
      type: object
      properties:
        status:
          type: integer
        headers:
          type: object
          additionalProperties:
            type: string
        body:
          type: string
        propagateErrorKeyToLogs:
          type: boolean
    Sampling:
      type: object
      properties:
        type:
          type: string
          description: The type of the sampling
          enum:
            - PROBABILITY
            - TEMPORAL
            - COUNT
        value:
          type: string
          description: The value of the sampling
      required:
        - type
    MembershipMemberType:
      type: string
      description: The type of membership
      enum:
        - USER
        - GROUP
    Selector:
      oneOf:
        - $ref: "#/components/schemas/HttpSelector"
        - $ref: "#/components/schemas/ChannelSelector"
        - $ref: "#/components/schemas/ConditionSelector"
      discriminator:
        propertyName: type
        mapping:
          HTTP: "#/components/schemas/HttpSelector"
          CHANNEL: "#/components/schemas/ChannelSelector"
          CONDITION: ConditionSelector
    BaseSelector:
      properties:
        type:
          type: string
          description: Selector type.
          example: HTTP
          enum:
            - HTTP
            - CHANNEL
            - CONDITION
      discriminator:
        propertyName: type
        mapping:
          HTTP: "#/components/schemas/HttpSelector"
          CHANNEL: "#/components/schemas/ChannelSelector"
          CONDITION: "#/components/schemas/ConditionSelector"
      required:
        - type
    ServiceV4:
      type: object
      properties:
        overrideConfiguration:
          type: boolean
          description: Override the configuration of the service
          default: false
        configuration:
          type: object
          description: The configuration of the service
        enabled:
          type: boolean
          description: Is the service enabled or not.
          default: true
        type:
          type: string
    BaseStep:
      type: object
      properties:
        name:
          type: string
          description: The name of the step
        description:
          type: string
          description: The description of the step
        enabled:
          type: boolean
          description: Is the step enabled or not.
          default: true
        policy:
          type: string
          description: The policy of the step
        configuration:
          type: object
          description: The configuration of the step
        condition:
          type: string
          description: The condition of the step
    StepV4:
      allOf:
        - $ref: "#/components/schemas/BaseStep"
        - properties:
            messageCondition:
              type: string
              description: The message condition of the step
    SubscriptionListener:
      title: "SubscriptionListener"
      required:
        - type
      allOf:
        - $ref: "#/components/schemas/BaseListener"
    TcpListener:
      title: "TcpListener"
      required:
        - type
      allOf:
        - $ref: "#/components/schemas/BaseListener"
        - type: object
          properties:
            hosts:
              description: >-
                A list of hostnames for which the API will match against SNI. 
                This must be unique for all TCP listener for a given server id. See 'servers' attribute
              type: array
              minItems: 1
              items:
                type: string
                minLength: 1
          required:
            - "hosts"
    KafkaListener:
      title: "KafkaListener"
      required:
        - type
      allOf:
        - $ref: "#/components/schemas/BaseListener"
        - type: object
          properties:
            host:
              description: A hostname for which the API will match against SNI.
              type: string
            port:
              type: integer
              minimum: 0
              description: The port of the listener
              example: 8080
          required:
            - "host"
    VerifyApiPaths:
      title: "VerifyApiPaths"
      properties:
        apiId:
          type: string
        paths:
          type: array
          items:
            $ref: "#/components/schemas/Path"
      required: [paths]

    VerifyApiHosts:
      title: "VerifyApiHosts"
      properties:
        apiId:
          type: string
        listenerType:
          $ref: "#/components/schemas/ListenerType"
        hosts:
          type: array
          example:
            - foo.example.com
          items:
            type: string
      required: [hosts]

    # Failover v4
    FailoverV4:
      type: object
      properties:
        enabled:
          type: boolean
          description: Is the failover enabled.
          default: false
        maxRetries:
          type: integer
          format: int32
          description: The maximum number of retries.
          default: 2
          minimum: 0
        slowCallDuration:
          type: integer
          format: int64
          description: The duration in milliseconds to consider a request as slow.
          default: 2000
          minimum: 50
        openStateDuration:
          type: integer
          format: int64
          description: The duration in milliseconds to indicate how long the circuit breaker should stay open, before it switches to half open.
          default: 10000
          minimum: 500
        maxFailures:
          type: integer
          format: int32
          description: The maximum number of failures allowed before the circuit breaker can calculate the error rate.
          default: 5
          minimum: 1
        perSubscription:
          type: boolean
          description: If true, a circuit breaker breaker will be dedicated for each subscriber, else, one and only circuit breaker will be used for the API.
          default: true

    # Metadata Page
    Metadata:
      type: object
      properties:
        key:
          type: string
          description: The key of the metadata.
          minLength: 1
        name:
          type: string
          description: The name of the metadata.
        format:
          $ref: "#/components/schemas/MetadataFormat"
        value:
          type: string
          description: The value of the metadata.
          minLength: 1
        defaultValue:
          type: string
          description: The default value of the metadata.
    MetadataFormat:
      type: string
      description: The format of the metadata.
      example: DATE
      enum:
        - STRING
        - NUMERIC
        - BOOLEAN
        - DATE
        - MAIL
        - URL
    Rule:
      type: object
      properties:
        methods:
          type: array
          items:
            $ref: "#/components/schemas/HttpMethod"
        description:
          type: string
          description: The description of the rule
        enabled:
          type: boolean
          description: Is the rule enabled or not.
          default: true
        operation:
          type: string
          description: The operation of the rule
        configuration:
          type: object
          description: The configuration of the rule
      additionalProperties:
        type: object
    LifecycleState:
      type: string
      description: The state of the API regarding the gateway(s).
      example: STARTED
      enum:
        - CLOSED
        - INITIALIZED
        - STARTED
        - STOPPED
        - STOPPING

  responses:
    ApisResponse:
      description: Page of apis
      content:
        application/json:
          schema:
            title: "ApisResponse"
            type: object
            properties:
              data:
                description: List of Apis.
                type: array
                items:
                  $ref: "#/components/schemas/ApiV4State"
              pagination:
                $ref: "#/components/schemas/Pagination"
              links:
                $ref: "#/components/schemas/Links"
    SharedPolicyGroupsResponse:
      description: Page of shared policy groups
      content:
        application/json:
          schema:
            title: "SharedPolicyGroupsResponse"
            properties:
              data:
                description: List of SharedPolicyGroup.
                type: array
                items:
                  $ref: "#/components/schemas/SharedPolicyGroupState"
              pagination:
                $ref: "#/components/schemas/Pagination"
              links:
                $ref: "#/components/schemas/Links"

    Error:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              httpStatus:
                type: integer
                format: int32
                description: The error code
                example: "400"
              message:
                type: string
                description: The error message
                example: Bad request
              technicalCode:
                type: string
                description: A technical code to identify the error
                example: invalid.import.definition
              parameters:
                type: object
                description: A map of parameters to be used in the error message
                additionalProperties:
                  type: string
              details:
                type: array
                description: A list of details about the error
                items:
                  type: object
                  properties:
                    message:
                      type: string
                      description: The error message
                      example: Bad request
                    location:
                      type: string
                      description: The json path of the field in error.
                      example: updateApi.properties[0].key
                    invalidValue:
                      type: string
                      description: The invalid value.
  parameters:
    envIdParam:
      name: envId
      in: path
      required: true
      description: Id of an environment.
      schema:
        type: string
        default: DEFAULT
    orgIdParam:
      name: orgId
      in: path
      required: true
      description: Id of an organization.
      schema:
        type: string
        default: DEFAULT
    dryRunQueryParam:
      name: dryRun
      in: query
      description: |
        For modifying requests, this parameter allow you to test the result of an endpoint without actually persisting 
        the state of the underlying spec.
      schema:
        type: boolean
        default: false
    apiIdParam:
      name: apiId
      in: path
      required: true
      description: Id of an API.
      schema:
        type: string
    hridParam:
      name: hrid
      in: path
      required: true
      description: Human-readable ID of a spec
      schema:
        type: string
    pageParam:
      name: page
      in: query
      required: false
      description: The page number for pagination.
      schema:
        type: integer
        default: 1
    perPageParam:
      name: perPage
      in: query
      required: false
      description: |
        The number of items per page for pagination.
      schema:
        type: integer
        default: 10
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Gravitee service account ID
