.landing-header {
	padding: 8px 16px 0px 16px;

  h3 {
    color: #006CAB;
	  font-size: 32px;

	  small {
	    font-size: 40%;
	  }
	}

  p {
    color: #707070;
    font-size: 16px;
    margin: 0 0 20px;
  }
}

.apis-box {
  a, a:link, a:visited, a:hover, a:active {
  	text-decoration: none;
    color: black;
  }

  .api-box {
    md-card-header {
      padding: 0px 0px 20px 0px;
    }
    md-card-avatar {
      width: 35px;
      height: 20px;
    }
    md-card-content {
      padding: 0px;
    }
    md-card-footer {
      padding: 0px 5px 5px 5px;
    }
    .api-box-description {
      text-align: center;
    }
    .api-box-icon {
      height: 80px;
      &.api-box-icon-figure {
        width: 150px;
      }
      img {
        display: block;
        max-width: 150px;
        max-height: 80px;
        width: auto;
        height: auto;
      }
      &.default {
        background: url('../app/images/GRAVITEE_LOGOsstxtclair-05.png') no-repeat center center;
        background-size: auto 100%;
      }
    }
    .api-box-name-version {
      font-size: 14px;
      font-weight: 700;
      color: grey;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      small {
        padding: 0px;
      }
    }
    .api-box-state {
      font-size: 12px;
    }
    .api-box-footer {
      color: #cdcdcd;
    }
  }
}

.icon-circle {
	display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border: 2px solid #45aed6;
	border-radius: 100px;
	position: relative;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

md-content, .main-content {
	background: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 12px;
}

table[md-data-table]>thead:not([md-table-progress])>tr>th>div {
	height: 30px;
}

v-pane-header {
  legend {
    border-bottom: none;
    margin-bottom: 0;
  }

  ng-md-icon {
    top: 4px;
  }
}

md-card.no-box-shadow {
  box-shadow: none;
}
