@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

.alert-filters {
  &__table {
    width: 100%;

    &__th {
      color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker40');
      text-transform: none;
      @include mat.m2-typography-level($typography, 'subtitle-2');
    }
  }
}

.form-card {
  margin: 20px 6px;
}
