.gravitee-api-container {
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  width: 80%;
}

.gravitee-api-save-button {
  display: block;
}

.content-header {
  margin-top: 60px;
  position: relative;
  padding: 15px 15px 0px;
}

.content-header h1 {
  margin: 10px;
  font-size: 24px;
}

.content-header h1 > small {
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
}

.demo-container {
  border-radius: 4px;
  margin-bottom: 16px;
  -webkit-transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  position: relative;
  padding-bottom: 0;
}

.md-button.md-icon-button.md-icon-right {
  right: 0;
  position: absolute;
  border-radius: 0;
}

.gravitee-api-page-menu-item {
  cursor: pointer;
  margin-left: 0;
  min-width: 0;
  padding: 0 10px;
}

.gravitee-api-visibility {
  display: inline;
}

.gravitee-api-explanation {
  color: rgba(0, 0, 0, 0.26);
  text-align: center;
  position: relative;
  top: -20px;
}

.gravitee-api-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 400px;
  @media screen and (max-width: 1320px) {
    width: 260px;
  }
  @media screen and (max-width: 960px) {
    width: 200px;
  }
  @media screen and (max-width: 768px) {
    width: 100px;
  }
}

.gravitee-api-header {
  height: $graviteeHeader;
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
}

.gravitee-api-header-content {
  color: grey;
  padding-left: 20px;
  padding-right: 8px;
  width: 100%;
}

.gravitee-api-header-content ng-md-icon {
  fill: grey;
}

.gravitee-api-header-description {
	background-color: transparent;
}

.gravitee-api-header-read-more {
	height: 40px;
	color: grey;
}

.gravitee-api-header-image {
  background: #ffffff no-repeat center center;
  background-size: contain;
  margin: 0 20px 15px 0;
  min-width: 110px;
  max-width: 110px;
  min-height: 110px;
  max-height: 110px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(25,25,34,0.12);
}

.gravitee-api-documentation-empty {
  font-size: 30px;
  opacity: 0.5;
  padding: 30px;
}

.gravitee-api-banner {
  position: fixed;
  font-weight: bold;
  left: $sidenavWidth;
  width: calc(100% - #{$sidenavWidth});
  z-index: 10;
}

.gravitee-api-banner-min {
  left: $sidenavMinWidth;
  width: calc(100% - #{$sidenavMinWidth});
}

.gravitee-api-banner-content {
  background:#dfa941;
  padding: .5rem;
  text-align:center;
  color:white;
  line-height: 1.5rem;
  text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

.gravitee-api-banner-content:hover {
  background:#e8ac3c;
}

.gravitee-api-banner-content a {
  color: white;
  text-decoration: underline;
}

.gravitee-api-general-tabs md-tabs-content-wrapper {
  padding: 10px;
}

.inset .gravitee-api-general-tabs {
  margin: -10px;
}

.hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: -5px;
  /* Copy styles from ng-messages */
  font-size: 11px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey;
}

.gravitee-api-menu-action {
  padding-top: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}

.gravitee-api-card {
  box-shadow: none;
  background:#f7f7f7;
}

.gravitee-api-card:hover {
  box-shadow:0 1px 6px 1px rgba(0,0,0,.17);
}

.apis-view-mode {
  position:absolute;
  top: 24px;
  right: 30px;
  text-align: right;
  width: 100%;

  button {
    padding: 2px 6px;
    border-radius: 0px;
  }
}

.apis-header-filter {
  width: 100%;

  input:focus {
    box-shadow: none;
    outline: 0 none;
  }
}

.gravitee-api-picture-container {
  margin-bottom: 20px;

  label {
    color: rgba(0,0,0,0.54);
    font-size: 11px;
    margin-left: 3px;
    margin-bottom: 10px;
  }

  div.button {
    margin-left: 50px;
  }
}

.md-subheader .md-subheader-inner {
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  margin-bottom: 5px;
  font-weight: bold;
}

.md-subheader .md-subheader-inner md-checkbox {
  margin-bottom: 0px;
}

span.proxy-activated {
  font-size: 11px;
  font-weight: normal;
  color: #00AA00;
}

span.proxy-deactivated {
  font-size: 11px;
  font-weight: normal;
  color: grey;
}

.md-subheader .md-subheader-inner .hints {
  /* Position the hint */
  left: 2px;
  right: auto;
  bottom: -5px;
  /* Copy styles from ng-messages */
  line-height: 14px;
  font-size: 11px;
  font-weight: normal;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: darkslategrey;
}

.gravitee-view-description {
  color: #757575;
  margin: 5px;
  padding: 10px;
}

.gravitee-general-view-description {
  font-size: 12px;
}

.gravitee-api-definition-dialog {
  span {
    text-transform: uppercase;
    line-height: 48px;
  }
  input[type="file"]{
    cursor: pointer;
  }
}


.highlight{
  color: black !important ;
  font-weight: bolder !important ;
}
