$flowHeight: 200px;
$flowRadius: 120px;

.gravitee-api-container {
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  width: 80%;
}

.gravitee-flow-container {
  display: inline;

  .gravitee-flow-logo-container {
    width: 20%;
  }

  .gravitee-flow-logo {
    max-height: 150px;
  }

  .gravitee-flow-inbound, .gravitee-flow-outbound {
    border-top: 1px solid;
    border-right: 0;
    border-bottom: 1px solid;
    border-left: 0;
    width: 20%;
    vertical-align: top;
  }

  .gravitee-flow-inbound {
    border-radius: $flowRadius 0 0 $flowRadius;
  }

  .gravitee-flow-outbound {
    border-radius: 0 $flowRadius $flowRadius 0;
  }

  .gravitee-flow-request-title {
    color: #333;
  }

  .gravitee-flow-link-container {
    width: 20%;
  }

  .gravitee-flow-link {
    font-size: 15px;
    max-width: 300px;
    word-wrap: break-word;
  }
}

.gravitee-api-save-button {
  display: block;
}

.content-header {
  margin-top: 60px;
  position: relative;
  padding: 15px 15px 0px;
}

.content-header h1 {
  margin: 10px;
  font-size: 24px;
}

.content-header h1 > small {
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
}

.demo-container {
  border-radius: 4px;
  margin-bottom: 16px;
  -webkit-transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  position: relative;
  padding-bottom: 0;
}

.md-button.md-icon-button.md-icon-right {
  right: 0;
  position: absolute;
  border-radius: 0;
}

.gravitee-api-page-menu-item {
  cursor: pointer;
  margin-left: 0;
  min-width: 0;
  padding: 0 10px;
}

.gravitee-api-visibility {
  display: inline;
}

.gravitee-api-explanation {
  color: rgba(0, 0, 0, 0.26);
  text-align: center;
  position: relative;
  top: -20px;
}

.gravitee-api-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 400px;
  @media screen and (max-width: 1200px) {
    width: 260px;
  }
  @media screen and (max-width: 960px) {
    width: 200px;
  }
  @media screen and (max-width: 768px) {
    width: 100px;
  }
}

.gravitee-api-header {
  height: 220px;
  background: url('../app/images/api-header-background.png') center center no-repeat;
  background-size: cover;
}

.gravitee-api-header-content {
  color: white;
  padding-left: 20px !important;
  width: 100%;
}

.gravitee-api-header-content ng-md-icon {
  fill: white;
}

.gravitee-api-header-description {
	background-color: transparent;
}

.gravitee-api-header-read-more {
	height: 40px;
	color: white;
}

.gravitee-api-documentation-empty {
  font-size: 30px;
  opacity: 0.5;
  padding: 30px;
}

.gravitee-api-banner {
  position: fixed;
  top: 50px;
  width: 100%;
  cursor: pointer;
  font-weight: 900;
}

.gravitee-api-banner-content {
  background:#dfa941;
  padding: .5rem;
  text-align:center;
  color:white;
  line-height: 1.5rem;
  text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

.gravitee-api-banner-content:hover {
  background:#e8ac3c;
}

.gravitee-api-banner-content a {
  color: white;
  text-decoration: underline;
}

v-pane-header {
  border-bottom: none !important;
  margin-bottom: 0 !important;

  &:focus, &:hover {
    color: inherit !important;
  }
}
