:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-height: 100%;
  min-height: 0;
}

.api-import-v4-form-dialog__content {
  flex: 1 1 auto;
  min-height: 0;
  padding-top: 0;
  overflow: auto;
}
