.api-analytics-logs-log {
  tr.log-error {
    background-color: #f9f2f4;
    color: #c7254e;
  }

  .gv-request-response-table {
    height: 270px;

    > div {
      height: 100%;

      md-table-container {
        height: 100%;
      }
    }
  }

  .log-header {
    font-weight: bold;
    font-size: 14px;
  }

  .log-table {
    table {
      margin-bottom: 0;
    }

    .vertical-text {
      //hack: on FF, width is calculated before transformation
      width: 19px;
      writing-mode: vertical-lr;
      text-orientation: sideways;
    }

    .log-header {
      font-weight: bold;
      font-size: 14px;
    }

    .log-section-title {
      margin-bottom: 4px;
      margin-left: 4px;
    }

    table.md-table td.md-cell {
      border: 0;
      font-size: 12px;
    }
  }

  .logs-filters-container {
    md-input-container.md-block {
      margin-top: 0px;
    }
  }

  .gv-log-filter-dates {
    border: 1px dashed silver;
    border-radius: 10px;
    padding: 10px;
  }

  .log-body {
    position: relative;

    .copy {
      z-index: 2;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #eee;
      background-size: 15px;
      padding: 6px 12px;
      border: 1px solid #d5d5d5;
      border-top: 0;
      border-right: 0;
      width: 30px;
      height: 30px;
      vertical-align: middle;

      ng-md-icon {
        cursor: pointer;
        position: relative;
        top: -2px;
        right: 8px;
      }
    }
  }

  .api-analytics-logging-configuration {
    .gv-page-draft-banner {
      margin: 0 0 2rem;
    }

    .gv-form-content {
      max-width: 750px;
    }

    gv-button[link] {
      --gv-icon--c: var(--gv-theme-color-darker);
    }

    gv-option {
      --gv-button--p: 14px;
      --gv-option-button--maw: 200px;
      --gv-option-icon--s: 32px;
      width: 100%;
      margin: 0;
    }

    gv-switch {
      display: block;
    }
  }
}

.api-analytics-logging-configuration_form-details {
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 50ms ease-in-out;
}

.api-analytics-logging-configuration_form-details_options {
  margin: 0 5%;
  width: 90%;
}

.logging-configuration__input-container {
  width: 100%;

  &__expression-container {
    display: flex;
    flex: 1 1 auto;

    &__input {
      flex-grow: 1;
      overflow: hidden;
    }
  }
}

.api-analytics-logging-configuration_enabled {
  .api-analytics-logging-configuration_form-details {
    visibility: visible;
    opacity: 1;
    max-height: none;
    transition: all 350ms ease-in-out;
  }
}
