@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use '../../../../../scss/gio-layout' as gio-layout;

$typography: map.get(gio.$mat-theme, typography);

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.settings {
  &__headerRightBtn {
    margin: auto 0 auto auto;
  }

  &__form-control {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;

    &__toggle {
      margin-left: 0;
    }

    &__title {
      display: flex;
      justify-items: center;
      margin-bottom: 0;
      color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'default');
      @include mat.m2-typography-level($typography, 'subtitle-2');
    }

    &__subtitle {
      margin-bottom: 16px;
      color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'lighter40');
      @include mat.m2-typography-level($typography, 'body-2');
    }

    &__info {
      display: flex;
      flex-direction: row;
      justify-items: center;

      mat-icon {
        height: 20px;
        width: 20px;
        margin-right: 8px;
      }
    }

    mat-checkbox[formcontrolname='entrypoint'],
    mat-checkbox[formcontrolname='request'],
    mat-checkbox[formcontrolname='messageContent'],
    mat-checkbox[formcontrolname='messageHeaders'],
    mat-checkbox[formcontrolname='messageMetadata'] {
      margin-bottom: 16px;
    }

    .sampling-type {
      @include gio.gio-button-toggle-group;
    }
  }

  &__save {
    margin-top: 24px;
  }

  gio-banner-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }
}
