@use '../../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-content-container;
  overflow: visible;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 24px;
  gap: 8px;
}
