$container-padding-top: 24px;
$container-padding-bottom: 48px;

@mixin application-metadata-content-container {
  display: block;
  padding: $container-padding-top 0 $container-padding-bottom 0;
}

:host {
  @include application-metadata-content-container;
}
