@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

@use '../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
}

$typography: map.get(gio.$mat-theme, typography);
$foreground: map.get(gio.$mat-theme, foreground);

.failover-card {
  &__enable-toggle {
    padding-bottom: 16px;
    width: 100%;

    mat-slide-toggle {
      margin: 0 8px;
    }
  }

  &__max-attempts,
  &__timeout {
    margin-top: 16px;

    &__label,
    &__hint {
      padding: 0 0.75em 0 0.75em;
    }

    &__label {
      @include mat.typography-level($typography, body-2);
    }

    &__form-field,
    &__enable-toggle {
      width: 100%;
    }

    &.disabled {
      color: mat.get-color-from-palette($foreground, disabled);
    }
  }
}
