@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

.table-wrapper {
  border-top: 0;
}

.table {
  width: 100%;
}

.log-timestamp-link {
  cursor: pointer;
  text-decoration: underline;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: mat.m2-get-color-from-palette(gio.$mat-primary-palette, default);

  &:hover {
    text-decoration: none;
  }
}
