.gv-sub-content {
  padding: 24px 32px 0 32px;
  position: relative;
  @media screen and (max-width: 1000px) {
    padding: 0 8px;
  }
}

.gv-sub-content-fullscreen {
  position: relative;
  @media screen and (max-width: 1000px) {
    padding: 0 8px;
  }
}

.gv-sub-content-design {
  height: calc(100vh - 68px);
}

.api-navigation__content__view.breadcrumb {
  .gv-sub-content-design {
    height: calc(100vh - 68px - 62px);
  }
}
