@use '../../scss/theme' as theme;
@use '@angular/material' as mat;

.search-input {
  width: 240px;

  &--mobile {
    width: 100%;
  }
}

.search-input__form {
  --mat-form-field-container-height: 40px;
  --mat-form-field-container-vertical-padding: 0px;
  --mat-form-field-subscript-text-line-height: 0;
  --mat-form-field-subscript-text-size: 0;
  width: 100%;

  @include mat.form-field-overrides(
    (
      outlined-outline-color: theme.$search-bar-border-color,
      outlined-hover-outline-color: theme.$search-bar-border-color,
      outlined-container-shape: 4px,
    )
  );
}


.search-input__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
}

.search-input__wrapper input {
  width: 100%;
  min-width: 0;
  text-align: left;     
  padding-right: 90px; 
}

.search-input__shortcut {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 4px;
  pointer-events: none;
}

.search-input__key {
  padding: 2px 8px;
  font-size: 12px;
  font-family: inherit;
  color: theme.$keyboard-shortcut-text-color;
  background-color: theme.$keyboard-shortcut-background-color;
  border-radius: 6px;
  white-space: nowrap;
}

.search-input__separator {
  font-size: 12px;
  color: theme.$keyboard-shortcut-text-color;
}
