@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use 'sass:map';

$typography: map.get(gio.$mat-theme, typography);

mat-dialog-content {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.title {
  @include mat.m2-typography-level($typography, headline-6);
}

.form-field-title {
  @include mat.m2-typography-level($typography, subtitle-2);
  color: mat.m2-get-color-from-palette(gio.$mat-smoke-palette, darker80);
}

.section-editor-dialog__page-types {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 8px;
}
