.gravitee-upload-image {
  height: 110px;
  line-height: 110px;
  margin-right: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(25, 25, 34, 0.12);

  img {
    width: 110px;
  }
}

.gravitee-upload-image-button {
  p {
    text-align: center;
    margin: 5px 20px 5px 0;
  }
}
