<div class="content">
  <!-- Header with inline create button -->
  <div class="apps-list__header">
    <div class="title next-gen-h1" i18n="@@applicationsTitle">Applications</div>

    @if (canCreate()) {
      <button mat-stroked-button class="secondary-button create-button" [routerLink]="['/applications/create']">
        <mat-icon>add</mat-icon>
        <span i18n="@@applicationsCreateButton">Create</span>
      </button>
    }
  </div>

  <!-- GRID VIEW -->
  <app-cards-grid [cards]="applicationPaginator()?.data">
    <ng-container slot="cards">
      @for (app of applicationPaginator()?.data ?? []; track app.id) {
        <app-application-card
          [applicationId]="app.id"
          [title]="app.name"
          [description]="app.description"
          (select)="navigateToApplication($event)"
        />
      }
    </ng-container>

    <div slot="empty-state">
      <span class="material-icons icon-with-background m3-headline-large" aria-hidden="true">search</span>
      <h2 class="m3-title-large" i18n="@@noAppsAvailable">No applications available yet</h2>
      <p i18n="@@noAppsDescription">You haven't created any applications yet.</p>
    </div>
  </app-cards-grid>

  <!-- SHARED PAGINATION -->
  @if (applicationPaginator()?.totalResults ?? 0 > 0) {
    <div class="list-page__pagination" [class.list-page__pagination--mobile]="isMobile()">
      <app-pagination
        [totalResults]="applicationPaginator()?.totalResults ?? 0"
        [currentPage]="applicationPaginator()?.page ?? 1"
        [pageSize]="pageSize"
        (selectPage)="onPageChange($event)"
      ></app-pagination>

      <div class="list-page__pagination__page-size">
        <span class="m3-body-medium" i18n="@@showPerPage">Show per page:</span>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-select [value]="pageSize" (selectionChange)="onPageSizeChange($event.value)">
            @for (size of pageSizeOptions; track size) {
              <mat-option [value]="size">{{ size }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  }
</div>
