.add-integration {
    margin: 40px;
    border-radius: 6px;
    background-color: var(--neutrals-basic-white, #FFF);
    box-shadow: 0 1px 3px 0 rgba(17, 24, 39, 0.10), 0 1px 10px 0 rgba(17, 24, 39, 0.06);
}

.header {
    padding: 20px 24px;
    border-bottom: 1px solid var(--Neutrals-Dove-DoveDark10, #E7E8EF);
    .title {
        color: var(--Neutrals-Space-Space, #100C27);
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
    }

    .overview {
        color: var(--Neutrals-Space-SpaceLight40, #606274);
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.4px;
    }
}

.form {
    .general {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        margin-bottom: 24px;
        padding: 24px 24px 0 24px;

        .sub-title {
            margin-bottom: 0;
        }
    }

    .radio-group {
        padding: 0 24px;

        .radio-options {
            display: flex;
            gap: 24px;
            margin-bottom: 24px;
        }
    }




    .selected {
        border: 3px solid var(--Primary-Purple-PurpleDark20, #6C59BD);
    }

    .submit {
        display: flex;
        padding: 16px 24px;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;

        border-top: 1px solid var(--Neutrals-Dove-DoveDark10, #E7E8EF);
    }
}

.radio-option {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Neutrals-Dove-DoveDark20, #D3D5DC);


    .info {
        color: var(--Neutrals-Space-SpaceLight40, #606274);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }


}

.controlls {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 24px;

    .control {
        padding: 0;
        margin: 0;
    }
}

.sub-title {
    color: var(--Neutrals-Space-Space, #100C27);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

:host ::ng-deep mat-label {
    color: var(--Neutrals-Space-SpaceLight40, #606274);
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
}



:host ::ng-deep .mat-form-field-wrapper {
    padding: 0;
    margin: 0;
}

.disabled {
  color: rgba(0, 0, 0, 0.38)!important;
}

