<html>
	<body>
		<header style="text-align: center;">
			<#include "header.html" />
		</header>
		<div style="margin-top: 50px; color: #424e5a;">
			<#if user.firstname?? && user.lastname??>
				<p><b>Ticket created by ${user.firstname} ${user.lastname}</b></p>
			<#else>
				<p><b>Ticket created by ${user.username}</b></p>
			</#if>
			<#if api??>
				<p><b>API: ${api.name} (${api.version})</b></p>
			</#if>
			<#if application??>
				<p><b>Application: ${application.name} (${application.primaryOwner.username})</b></p>
			</#if>
			<p>${content}</p>
		</div>
	</body>
</html>