@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use 'sass:map';

$typography: map.get(gio.$mat-theme, typography);
$indent-base: 4px;
$folder-indent-step: 26px;
$indent-step: 26px;

.tree {
  &__row {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 6px 4px 6px calc(#{$indent-base} + #{$folder-indent-step} + (var(--level) * #{$indent-step}));
    height: 36px;

    &.folder {
      padding: 6px 4px 6px calc(#{$indent-base} + (var(--level) * #{$indent-step}));

      &.child {
        padding: 6px 4px 6px calc(#{$indent-base} + (var(--level) * #{$folder-indent-step}));
      }

      .tree__icon__type {
        margin-left: 6px;
      }
    }

    &:hover {
      background-color: mat.m2-get-color-from-palette(gio.$mat-space-palette, lighter80);

      .tree__button.more-actions {
        opacity: 1;
        visibility: visible;
      }
    }

    &.selected {
      @include mat.m2-typography-level($typography, 'subtitle-2');
      color: mat.m2-get-color-from-palette(gio.$mat-primary-palette, darker40);
      background-color: mat.m2-get-color-from-palette(gio.$mat-primary-palette, lighter80);

      .tree__button.more-actions {
        opacity: 1;
        visibility: visible;
      }
    }

    &.unpublished:not(.selected) {
      .tree__icon__type,
      .tree__label,
      .tree__icon__status {
        $unpublished-color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, darker60);
        color: $unpublished-color;
        fill: $unpublished-color;
      }

      .tree__button.more-actions,
      .tree__button.more-actions mat-icon {
        color: initial;
        fill: initial;
      }
    }
  }

  &__button {
    @include mat.icon-button-overrides(
      (
        state-layer-size: 28px,
        icon-size: 16px,
      )
    );
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    &.more-actions {
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 0.2s ease,
        visibility 0.2s ease;
      background-color: transparent;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;

    &__type {
      margin: 0 6px 0 0;
    }
  }

  &__label {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
