
.application-general-container {
	position: relative;
	border-radius: 3px;
	margin-bottom: 30px;
}

.application-general-container > h3 {
	background-color: #F5F5F5;
	margin: 0px;
	border-radius: 3px 3px 0px 0px;
	border-width: 1px 1px 0px;
	border-style: solid solid none;
	border-color: #D8D8D8 #D8D8D8;
	border-image: none;
	padding: 9px 10px 10px;
	font-size: 14px;
	line-height: 17px;
	display: block;
}

.application-general-container.dangerzone > h3 {
	background-color: #DF3E3E;
	border: 1px solid #A00;
	color: #FFF;
}

.application-general-content {
	padding: 1px 10px;
	background: #FFF none repeat scroll 0% 0%;
	border: 1px solid #D8D8D8;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	color: #666;
	font-size: 13px;
}

.gravitee-application-header {
	height: $graviteeHeader;
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12)
}

.gravitee-application-header-content-right {
	color: grey;
	fill: grey;
}

.gravitee-application-header-content {
	color: grey;
	padding-left: 20px;
}

.gravitee-application-header-content ng-md-icon {
	fill: grey;
}

.gravitee-application-header-image {
  background: #ffffff url('assets/GRAVITEE_LOGOsstxtclair-05.png') no-repeat center center;
  background-size: contain;
  margin-right: 20px;
  min-width:110px;
  max-width: 110px;
  min-height: 110px;
  max-height: 110px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(25,25,34,0.12);
}
