@use 'sass:map';
@use '../../../../../scss/gio-layout' as gio-layout;
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$foreground: map.get(gio.$mat-theme, foreground);

:host {
  @include gio-layout.gio-responsive-content-container;
}

.endpoint-list {
  &__action {
    margin: 0 4px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__card {
    margin: 8px 0;
  }

  &__table {
    &__actions {
      display: flex;
      justify-content: center;
    }

    &__hc {
      display: flex;
      flex-direction: row;
    }
  }
}
