@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use '../../../../scss/gio-layout' as gio-layout;

$typography: map.get(gio.$mat-theme, typography);

:host {
  @include gio-layout.gio-responsive-content-container;
}

.card {
  &__header {
    margin-bottom: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &__title {
      margin-bottom: 0;
    }
  }

  &__details {
    margin-top: 16px;
  }

  &__codeblock {
    position: relative;

    &__form {
      width: 100%;
    }
    &__copy-to-clipboard {
      position: absolute;
      right: 40px;
      top: 20px;
    }
  }
}
