.gio-metadata {
  &__header {
    display: flex;
    justify-content: space-between;

    &__title {
      display: flex;
      flex-direction: column;
    }

    &__action {
      align-self: center;
    }
  }

  &__actions {
    display: flex;
  }
}

.mat-column-actions {
  width: 1%;
  padding: 0 4px;
}
