.gio-metadata {
  &__header {
    display: flex;
    justify-content: space-between;

    &__title {
      display: flex;
      flex-direction: column;
    }

    &__action {
      align-self: center;
    }
  }

  &__actions {
    display: flex;
  }

  &__form {
    &__filters {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}

.mat-column-actions {
  width: 120px;
  max-width: 120px;
}
