$graviteeHeader: 140px;
$bgColor: #333;
$fontColor: #fafafa;
$sidenavWidth: 200px;
$sidenavMinWidth: 60px;
$sidenavItemLeftWidth: 15px;
$sidenavItemBorderSize: 4px;
$sidenavFooterHeight: 100px;
$sidenavHeaderHeight: 60px;
