/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

$backgroundColor: #fafafa;

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.user-avatar {
  border-radius: 99%;
}

.md-toolbar-tools-bottom {
  font-size: small;
}

.gravitee-table {
  width: 100%;

  th {
    text-align: center;
  }
}

.gravitee-logo {
  height: 200px;
  padding-right: 10px;
  vertical-align: middle;
}

.gravitee-navbar-logo {
  height: 50px;
  padding-right: 10px;
  vertical-align: middle;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-users {
  width: 1.125em;
}

.flex {
  flex: 1;
}

.face {
  margin: 0px 16px;
}

md-toolbar{
  font-size: 18px;
  min-height: 49px;
  .md-tall {
    min-height: 100px;
  }
}

a, tr[ui-sref], .gravitee-link {
  cursor: pointer;
}

md-switch {
  display: inline-flex;
}

md-progress-linear {
  position: fixed;
  z-index: 50;
  color: #333;
}

.color3 {
  cursor: pointer;
  font-size: 12px;
  text-decoration: underline;
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

ng-md-icon {
  position: relative;
  top: 7px;

  &[icon=delete] {
    svg {
      width: 100%;
    }
  }
}

table {
  ng-md-icon {
    position: relative;
    top: 0px;
  }
  code {
    position: relative;
    top: -6px;
  }
}

.btn-group ng-md-icon {
  position: relative;
  top: 3px;
}

md-radio-button ng-md-icon {
  position: relative;
  top: 2px;
}

.gravitee-card:hover {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 12px 17px 2px rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .12);
}

.gravitee-add-button {
  position: fixed;
}

header {
  display: flex;
}

.gravitee-clipboard .ng-hide:not(.ng-hide-animate) {
  visibility: collapse;
  display: inherit;
}

body {
  background: #fff;
}

table[md-data-table] {
  background-color: $backgroundColor;
}

table {
  background: #fff;
  border: solid 1px #ddd;
  margin-bottom: 1.25rem;
  table-layout: auto;
}

table thead {
  background: #F5F5F5;
}

table thead tr th, table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
  display: table-cell;
  line-height: 1.125rem;
}
table thead tr th, table thead tr td {
  color: #222;
  font-weight: bold;
  padding: 0.5rem 0.625rem 0.625rem;
}
table tr th, table tr td {
  color: #222;
  padding: 0.5625rem 0.625rem;
  text-align: left;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #F9F9F9;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

md-toast {
  &.md-toast-success-theme .md-toast-content {
    background-color: #4ea44d;
  }
  &.md-toast-error-theme .md-toast-content {
    background-color: #bd362f;
  }
}

gravitee-sidenav {
  z-index: 20;
}

.gravitee-pie-chart-container {
  height: 150px;
  margin: 0 auto;
  text-align: center;
  width: 150px;
}

.form-control {
  padding-right: 30px;
}

.form-control-feedback, .has-feedback label ~ .form-control-feedback {
  position: relative;
  float: right;
  top: -35px;
}

.gravitee-placeholder {
  opacity: 0.4;
}

.md-container {
  display: inline-block;
}

.gravitee-no-sidenav-container {
  background: #333;
  padding-top: 100px;
}

.gravitee-no-sidenav-content {
  background-color: #fafafa;
  border-radius: 7px;
  width: 400px;
  margin: 40px auto 10px;
  overflow: hidden;
  padding: 10px 30px 30px;
  position: relative;

  & md-input-container {
    margin-top: 0px;
  }
}

.gravitee-no-sidenav-header {
   padding-bottom: 30px;
   text-align: center;

   & a {
     margin: 10px auto;

     & img {
       height: 100px;
     }
   }

   & label {
     font-size: 28px;
     font-weight: 400;
     margin: 0 auto;
   }
 }

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
