/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

$backgroundColor: #fafafa;

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.user-avatar {
  border-radius: 99%;
}

.md-toolbar-tools-bottom {
  font-size: small;
}

.gravitee-table {
  width: 100%;

  th {
    text-align: center;
  }
}

.gravitee-logo {
  height: 200px;
  padding-right: 10px;
  vertical-align: middle;
}

.gravitee-navbar-logo {
  height: 50px;
  padding-right: 10px;
  vertical-align: middle;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-users {
  width: 1.125em;
}

.flex {
  flex: 1;
}

.face {
  margin: 0px 16px;
}

md-toolbar{
  font-size: 18px;
  min-height: 49px;
  .md-tall {
    min-height: 100px;
  }
}

a, tr[ui-sref] {
  cursor: pointer;
}

md-switch {
  display: inline-flex;
}

md-progress-linear {
  position: fixed;
  z-index: 50;
  color: #333;
}

.color3 {
  cursor: pointer;
  font-size: 12px;
  text-decoration: underline;
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

ng-md-icon {
  position: relative;
  top: 7px;
}

.btn-group ng-md-icon {
  position: relative;
  top: 3px;
}

.gravitee-card:hover {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 12px 17px 2px rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .12);
}

.gravitee-add-button {
  position: fixed;
}

header {
  display: flex;
}

.gravitee-clipboard .ng-hide:not(.ng-hide-animate) {
  visibility: collapse;
  display: inherit;
}

body {
  background: #fff;
}

table[md-data-table] {
  background-color: $backgroundColor;
}

md-toast {
  &.md-toast-success-theme .md-toast-content {
    background-color: #4ea44d;
  }
  &.md-toast-error-theme .md-toast-content {
    background-color: #bd362f;
  }
}

gravitee-sidenav {
  z-index: 20;
}

.gravitee-pie-chart-container {
  height: 150px;
  margin: 0 auto;
  text-align: center;
  width: 150px;
}

.form-control {
  padding-right: 30px;
}

.form-control-feedback, .has-feedback label ~ .form-control-feedback {
  position: relative;
  float: right;
  top: -35px;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
