@use '../../scss/gio-layout' as gio-layout;
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use '@gravitee/gravitee-markdown' as gmd;

:host {
  @include gio-layout.gio-responsive-content-container;

  & {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.actions {
  display: flex;
  gap: 8px;

  &__toggle-publish {
    width: 100px;
  }
}

gmd-editor {
  @include gmd.editor-overrides(
    (
      container-outline-color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker20'),
    )
  );
  height: 100%;
  overflow: hidden;
}
