@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

.step-connector-menu-item {
  display: flex;
  align-items: center;
  font-weight: bold;

  &__icon {
    height: 16px;
    width: 16px;
    margin-right: 8px;
  }

  &:not(:last-child) {
    border-bottom: 2px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker10');
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
}
