$graviteeHeader: 140px;
$navbarHeaderHeight: 54px;
$sidenavWidth: 200px;
$sidenavMinWidth: 60px;
$sidenavItemLeftWidth: 18px;
$sidenavItemBorderSize: 4px;
$sidenavFooterHeight: 100px;
$sidenavHeaderHeight: 54px;
$apiPortalBgColor: rgb(239, 244, 249);
$backgroundColor: #fdfdfd;
