@use 'sass:map';
@use 'material/index' as mat;
@use 'ui-particles-angular/index' as gio;
$typography: map.get(gio.$mat-theme, typography);

.visibility {
  @include mat.typography-level($typography, body-2);

  &__subtitle {
    @include mat.typography-level($typography, body-1);
    color: mat.get-color-from-palette(gio.$mat-space-palette, 'lighter40');
    padding-top: 8px;
    padding-bottom: 16px;
  }
}
