@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

.tabs {
  &__body {
    background-color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'default');
    padding: 12px 16px;
    white-space: pre-wrap;
  }
}
