@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use 'src/scss/gio-layout' as gio-layout;
$typography: map.get(gio.$mat-theme, typography);

.header {
  display: flex;
  padding: 20px 24px;
  justify-content: space-between;
  border-bottom: 1px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker10');
  align-items: center;

  &__actions {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 8px;
  }
}

.tab {
  &__content {
    padding: 16px 0;
  }

  &__actions {
    padding-top: 16px;
    display: flex;
    gap: 8px;
  }
}

.open-api-configuration {
  display: flex;
  flex-flow: column;
}
