@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use '../../../../../scss/gio-layout' as gio-layout;

$typography: map.get(gio.$mat-theme, typography);

.step-4-security-1-plans-list {
  &__header {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    padding-bottom: 8px;

    &__title {
      @include mat.m2-typography-level($typography, subtitle-1);
    }
  }
  &__table {
    width: 100%;
    @include mat.elevation(1);

    &__actions {
      display: flex;
      justify-content: flex-end;
    }
  }
}
