:host {
  display: flex;
  flex-flow: column;
  gap: 16px;
}

mat-expansion-panel {
  border-width: var(--mdc-outlined-card-outline-width);
  border-style: solid;
  border-color: var(--mdc-outlined-card-outline-color);
}

.application-log-request-response {
  &__row-one {
    &__content {
      display: flex;
      flex-flow: column;
      gap: 22px;

      &__panel {
        display: flex;
        flex-flow: column;
        gap: 6px;
      }
    }
  }

  &__column {
    width: 50%;

    &__content {
      display: flex;
      flex-flow: column;
      gap: 22px;

      &__panel {
        display: flex;
        flex-flow: column;
        gap: 6px;
      }
    }
  }

  &__row-two {
    display: flex;
    gap: 16px;
  }

}
