<mat-card>
  <mat-card-content class="application-log-request-response__row-one">
    <div class="m3-body-medium application-log-request-response__row-one__content__panel">
      <div>
        <span class="m3-title-small" i18n="@@applicationLogTimestamp">Timestamp</span>:
        {{ logVM().timestamp | date: 'YYYY-MM-dd HH:mm:ss.SSS' }}
      </div>
      <div><span class="m3-title-small" i18n="@@applicationLogApi">API</span>: {{ logVM().apiName }}</div>
      <div><span class="m3-title-small" i18n="@@applicationLogPlan">Plan</span>: {{ logVM().planName }}</div>
    </div>
  </mat-card-content>
</mat-card>
<div class="application-log-request-response__row-two">
  <mat-card appearance="outlined" class="application-log-request-response__column">
    <mat-card-content class="application-log-request-response__column__content">
      <div class="m3-title-medium" i18n="@@applicationLogRequest">Request</div>
      <div class="m3-body-medium application-log-request-response__column__content__panel">
        <div><span class="m3-title-small" i18n="@@applicationLogRequestId">Request ID</span>: {{ logVM().id }}</div>
        <div><span class="m3-title-small" i18n="@@applicationLogRequestMethod">Method</span>: {{ logVM().method }}</div>
        <div><span class="m3-title-small" i18n="@@applicationLogRequestPath">Path</span>: {{ logVM().path }}</div>
        <div>
          <span class="m3-title-small" i18n="@@applicationLogContentLength">Content Length</span>: {{ logVM().requestContentLength }}
        </div>
      </div>
      <mat-expansion-panel [expanded]="false" class="mat-elevation-z0" aria-label="Request Headers">
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@applicationLogHeaders">Headers</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="m3-body-medium application-log-request-response__column__content__panel">
          @for (header of logVM().requestHeaders; track header) {
            <div>
              <span class="m3-title-small">{{ header.key }}: </span>{{ header.value }}
            </div>
          } @empty {
            <span i18n="@@applicationLogNoHeaders">No headers logged.</span>
          }
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="false" class="mat-elevation-z0" aria-label="Request Body">
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@applicationLogBody">Body</mat-panel-title>
        </mat-expansion-panel-header>
        @if (logVM().request?.body) {
          <app-copy-code class="m3-body-medium" [text]="logVM().request?.body ?? ''" />
        } @else {
          <div class="m3-body-medium" i18n="@@applicationLogNoBody">No content logged.</div>
        }
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined" class="application-log-request-response__column">
    <mat-card-content class="application-log-request-response__column__content">
      <div class="m3-title-medium" i18n="@@applicationLogResponse">Response</div>
      <div class="m3-body-medium application-log-request-response__column__content__panel">
        <div><span class="m3-title-small" i18n="@@applicationLogTransactionId">Transaction ID</span>: {{ logVM().id }}</div>
        <div><span class="m3-title-small" i18n="@@applicationLogStatus">Status</span>: {{ logVM().status }}</div>
        <div>
          <span class="m3-title-small" i18n="@@applicationLogResponseTime">Response Time</span>: {{ logVM().responseTime
          }}<span i18n="@@applicationLogMillisecond">ms</span>
        </div>
        <div>
          <span class="m3-title-small" i18n="@@applicationLogContentLength">Content Length</span>: {{ logVM().responseContentLength }}
        </div>
      </div>
      <mat-expansion-panel [expanded]="false" class="mat-elevation-z0" aria-label="Response Headers">
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@applicationLogHeaders">Headers</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="m3-body-medium application-log-request-response__column__content__panel">
          @for (header of logVM().responseHeaders; track header) {
            <div>
              <span class="m3-title-small">{{ header.key }}: </span>{{ header.value }}
            </div>
          } @empty {
            <span i18n="@@applicationLogNoHeaders">No headers logged.</span>
          }
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="false" class="mat-elevation-z0" aria-label="Response Body">
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@applicationLogBody">Body</mat-panel-title>
        </mat-expansion-panel-header>
        @if (logVM().response?.body) {
          <app-copy-code class="m3-body-medium" [text]="logVM().response?.body ?? ''" />
        } @else {
          <div class="m3-body-medium" i18n="@@applicationLogNoBody">No content logged.</div>
        }
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>
