@use 'sass:map';
@use '@angular/material/index' as mat;
@use '@gravitee/ui-particles-angular/index' as gio;
@use '../src/scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-full-width-content-container;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.widgets {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
