@use 'sass:map';
@use '@angular/material/index' as mat;
@use '@gravitee/ui-particles-angular/index' as gio;
@use '../src/scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.stats-cards {
  display: block;
  margin-top: 16px;
}

.row-two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 16px;

  @media (max-width: 959px) {
    grid-template-columns: 1fr;
  }
}

.full-bleed {
  display: block;
  width: 100%;
  margin-top: 16px;
}

.gridContent {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 16px;
  margin-top: 16px;
}
