@use 'sass:map';
@use '@angular/material/index' as mat;
@use '@gravitee/ui-particles-angular/index' as gio;
@use 'src/scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-full-width-content-container;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.widgets {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 24px;
  margin-bottom: 24px;
}

.top-row {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}
