@use 'sass:map';
@use '@angular/material/index' as mat;
@use '@gravitee/ui-particles-angular/index' as gio;
@use '../src/scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.api-analytics {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    margin: 0;
  }

  .actions {
    display: flex;
    gap: 8px;
  }
}

.widgets {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
