@use 'sass:map';
@use '@angular/material/index' as mat;
@use '@gravitee/ui-particles-angular/index' as gio;
@use 'src/scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.gridContent {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 16px;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 3;
}
