.documentation-pages-list {
  &__container {
    display: flex;
    flex-flow: column;
    gap: 24px;
    padding: 24px;
  }

  &__footer {
    display: flex;
    flex-flow: row;
  }

  &__table {
    &__name {
      display: flex;
      cursor: pointer;
      gap: 8px;
      align-items: center;
      p {
        margin-bottom: 0;
      }
    }

    &__actions {
      display: flex;
      gap: 8px;
    }
  }
}

.empty-icon-button {
  width: 40px;
}

.no-pointer {
  cursor: initial;
}
