.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}

.item {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid var(--neutrals-dove-dove-dark-20, #D3D5DC);
}

.item-head {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;

  .logo-box {
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid var(--neutrals-dove-dove-dark-20, #D3D5DC);
  }

  .title {
    margin: 0;
  }

  .badges {
    margin-left: auto;
    display: flex;
    gap: 8px;
  }
}

.badge {
  font-weight: 700;
  margin: 0;
  text-transform: none;
}

.add-button, .comming-soon {
  margin-top: auto;
}

.comming-soon {
  height: 36px;
  padding: 0 8px;
}
