input[type="number"] + div.md-errors-spacer + .hint {
  bottom: -5px;
}
md-select + .hint {
  bottom: -17px;
}
.hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey; }
.hint.ng-hide,
.hint.ng-enter,
.hint.ng-leave.ng-leave-active {
  bottom: 26px;
  opacity: 0; }
.hint.ng-leave,
.hint.ng-enter.ng-enter-active {
  bottom: 7px;
  opacity: 1; }

md-steppers-canvas {
  background-color: #Fbfbfc;
}
