$border-radius: 10px;

.gravitee-plan-box {
  border-radius: $border-radius;
  margin: 20px;
  width: 90%;

  md-card-header {
    background-color: #fafafa;
    border-radius: $border-radius $border-radius 0 0;
    h3 {
      margin: 0 auto;
    }
  }

  md-card-content {
    height: 300px;
    overflow: auto;
  }

  md-card-footer {
    padding: 16px 0;
  }

  button {
    width: 100%;
  }
}

.gravitee-plan-content {
  color: #79848d;
  line-height: 30px;
  text-align: center;
}

.gravitee-plan-application-card {
  text-align: center;
}

.gravitee-plan-application-image {
  height: 80px;
  background-image: url('../app/images/GRAVITEE_LOGOsstxtclair-05.png');
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
