@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

.gio-form-qos {
  padding: 8px;
  border: 1px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker20');
  border-radius: 8px;
  box-shadow: none;

  &__select {
    width: 100%;
  }
}
