@use 'node_modules/@angular/material/index' as mat;
@use 'node_modules/@gravitee/ui-particles-angular/index' as gio;

.api-creation-v4-step-1 {
  &__row {
    display: flex;
    flex-direction: row;
    gap: 45px;

    :first-child {
      flex-grow: 1;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
  }
}
