.content {
  &__header {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      display: flex;
      align-items: flex-start;
      gap: 8px;
    }
  }

  &__editor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
  }
}

:host ::ng-deep .markdown-content table td {
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: normal;
}

:host ::ng-deep .markdown-content p {
  word-wrap: break-word;
}
