.gravitee-instances-container {
  margin: 20px;
}

.gravitee-instances-content {
  border: 1px solid silver;
  margin-bottom: 20px;
}

.gravitee-instances-table-title {
  background-color: $bgColor;
  color: $fontColor;
  fill: $fontColor;
  height: 35px;
  padding: 0 5px 5px 5px;
}

.gravitee-instances-table-search {
  top: 1px;
  position: relative;
  height: 100%;
}

.gravitee-instances-started {
  color: #429f46 !important;
  text-transform: capitalize;
}

.gravitee-instances-stopped {
  color: red !important;
  text-transform: capitalize;
}

.gravitee-monitoring-icon-title {
  top: 22px;
  margin-right: 10px;
}

.gravitee-monitoring-gauge {
  position: relative;
  width: 80%;
  padding-bottom: 30px;
}

.gravitee-monitoring-indicator-value {
  font-size: 30px;
  line-height: 30px;
  color: #1f77b4;
}

.gravitee-pie-chart-title {
  color: #1f77b4;
  font-size: 15px;
  padding-top: 50px;
}

.gravitee-instances-box{
  min-width: 320px;
  width: 320px;
  max-width: 320px;
  margin: 14px;
  a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
  }

  md-card-header {
    padding: 0px 0px 20px 0px;
  }
  md-card-avatar {
    width: 35px;
    height: 20px;
  }
  md-card-content {
    padding: 0px;
  }
  md-card-footer {
    padding: 0px 5px 5px 5px;
  }
  .api-box-description {
    text-align: center;
  }
  .api-box-name-version {
    font-size: 14px;
    font-weight: 700;
    color: grey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    small {
      padding: 0px;
    }
  }
  .api-box-state {
    font-size: 12px;
  }
  .api-box-footer {
    color: #cdcdcd;
  }
}
