@use 'sass:map';
@use 'node_modules/@angular/material' as mat;

@use '../../../scss/gio-material-theme' as gio;

$background: map.get(gio.$gio-theme, background);
$foreground: map.get(gio.$gio-theme, foreground);
$typography: map.get(gio.$gio-theme, typography);

.gio-table-wrapper {
  &__header-bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 56px;
    background: mat.get-color-from-palette($background, 'card');
    padding: 8px 16px 8px 16px;
    border-top: 1px solid mat.get-color-from-palette($foreground, divider);
    border-bottom: 1px solid mat.get-color-from-palette($foreground, divider);

    &__search-field {
      font-family: mat.font-family($typography, caption);
      font-size: mat.font-size($typography, caption);

      & > .mat-form-field-wrapper {
        padding-bottom: 0;
      }
    }
  }

  &__footer-bar {
    background: mat.get-color-from-palette($background, 'card');
  }
}

::ng-deep {
  // Force mat-table to full width only inside gio-table-wrapper
  gio-table-wrapper {
    .mat-table {
      width: 100%;
    }

    // ⚠️ Material deep override
    // Remove form field padding provided to display mat-hint and mat-error. Not used here
    .gio-table-wrapper__header-bar__search-field {
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
    }
  }
}
