@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

::ng-deep {
  api-runtime-logs-quick-filters {
    .quick-filters__chip_list .mdc-evolution-chip-set__chips {
      align-items: center;
    }
  }
}

.quick-filters {
  display: flex;
  flex-direction: column;

  padding: 16px 24px;
  border-bottom: 1px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, darker10);

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__selectors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  &__plans {
    padding: 0;
    margin-right: 16px;
  }

  &__period,
  &__methods,
  &__entrypoints {
    display: inline;
    width: 132px;
    padding: 0;
    margin-right: 16px;
  }

  &__methods {
    width: 142px;
  }

  .action {
    &__button {
      height: 48px;
      margin-right: 16px;
      mat-icon {
        margin-right: 4px;
      }
    }
  }

  &__chip {
    background-color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, darker10);
    color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, darker10-contrast);
    min-height: 24px;
    height: 24px;
    padding: 0;

    &__key {
      @include mat.m2-typography-level($typography, body-2);
    }

    &__value {
      @include mat.m2-typography-level($typography, subtitle-2);
      margin-left: 2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px;
    }
  }

  &__applied {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__reset {
    margin-left: 12px;
  }
}
