@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use 'src/scss/gio-layout' as gio-layout;

$typography: map.get(gio.$mat-theme, typography);

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.card {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    &__title {
      @include mat.m2-typography-level($typography, subtitle-1);
    }

    &__subtitle {
      color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'lighter40');
      @include mat.m2-typography-level($typography, body-2);
    }
  }

  &__footer {
    margin: 0 -16px;
    padding: 16px;
    border-top: 1px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker10');
  }
}
