.chipsdemoBasicUsage .custom-chips md-chip {
  position: relative; }
.chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container {
  position: absolute;
  right: 4px;
  top: 4px;
  margin-right: 0;
  height: 24px; }
.chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip {
  position: relative;
  height: 24px;
  width: 24px;
  line-height: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  transition: background 0.15s linear;
  display: block; }

.chipsdemoBasicUsage .custom-chips .md-chips {
  font-size: 12px; }
.chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip ng-md-icon {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(0.7);
  color: white;
  fill: white; }
.chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip:hover, .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip:focus {
  background: rgba(63, 70, 76, 0.8); }

.chipsdemoBasicUsage .custom-chips md-chips-wrap.md-removable md-chip md-chip-template {
  padding-right: 5px; }
