.api-general {
  color: #fff;
  h1 {
    font-size: 40px;
    font-weight: 300;
    line-height: 52px;
    margin: 0;
  }
  p {
    font-size: 20px;
    line-height: 28px;
    margin: 16px 0 32px;
    max-width: 440px;
  }
}
.api-description {
  color: grey;
  p {
    padding: 0px 5px 0px 5px;
    i {
      float: left;
    }
  }
}
