@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

.accordion {
  display: block;

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    width: 100%;
    cursor: pointer;

    &__titles {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__title {
        margin: 0 8px 0 0;
      }

      &__subtitle {
        @include mat.m2-typography-level($typography, body-2);
        color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'lighter40');
      }
    }
  }

  &__form {
    &__row {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 2%;
    }

    .days-form-field,
    .time-range-form-field,
    .business-days-form-field,
    .office-hours-form-field {
      width: 49%;
    }

    .gio-form-slide-toggle__description {
      @include mat.m2-typography-level($typography, body-2);
      color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'lighter40');
    }
  }
}
