@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

@use '../../../scss/gio-layout' as gio-layout;

$typography: map.get(gio.$mat-theme, typography);
$background: map.get(gio.$mat-theme, background);

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.org-settings-notification-templates {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__content {
    // Hack to match place not used by the Table of Content
    // Classic flex setup aren't working because of list's mat-line
    width: 81%;

    &__card {
      margin-bottom: 32px;
    }

    &__list {
      &__item {
        cursor: pointer !important;
        &:hover {
          background-color: mat.m2-get-color-from-palette($background, hover);
        }
      }
    }
  }
}
