@import '../../../scss/gio-layout';

:host {
  @include gio-responsive-content-container;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__form-field {
    flex: 0 1 auto;
    margin-right: 48px;
  }

  &__add-btn {
    flex: 0 1 auto;
    padding-bottom: 1.34375em;
  }
}

.mat-column-userPicture,
.mat-column-displayName,
.mat-column-status,
.mat-column-email,
.mat-column-source,
.mat-column-actions {
  padding: 0 4px;
}

.mat-column-displayName {
  cursor: pointer;
}

.badge {
  margin-left: 8px;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777777;
  border-radius: 10px;
}
