@import '../../../scss/gio-layout';

:host {
  @include gio-responsive-content-container;
}

.search-bar {
  &__form-field {
    width: 100%;
  }
}

.mat-column-userPicture {
  padding: 0px 8px;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777777;
  border-radius: 10px;
}
