@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use '../../../../scss/gio-layout' as gio-layout;

$error-color: mat.m2-get-color-from-palette(gio.$mat-error-palette, default);

:host {
  display: flex;
  flex-direction: column;
  @include gio-layout.gio-responsive-content-container;
}

::ng-deep .delete-action {
  button,
  .mat-icon {
    color: $error-color;
  }
}
