@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

@use '../../../../../scss/gio-layout' as gio-layout;

$typography: map.get(gio.$mat-theme, typography);

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.apiDynamicProperties {
  &__enableField {
    width: 100%;
    padding-bottom: 24px;
  }

  &__field {
    width: 100%;
    padding-bottom: 0px;
  }

  &__methodUrl {
    display: flex;
    gap: 16px;

    &__methodField {
      flex: 0 1 200px;
      padding-bottom: 0px;
    }
    &__urlField {
      flex: 1 1 auto;
      padding-bottom: 0px;
    }
  }

  &__scheduleField {
    width: 100%;
    padding-bottom: 24px;
  }

  &__headersField {
    padding-bottom: 24px;

    &__label {
      @include mat.typography-level($typography, 'body-2');
      margin-bottom: 12px;
    }
  }
}

.bannerTransformationJOLTExample {
  &__title {
    flex: 1 1 auto;
  }
  &__collapse {
    flex: 0 0 auto;
    height: 14px;
    display: flex;
    align-items: center;

    .collapse-open {
      transform: rotate(180deg);
      transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .collapse-close {
      transform: rotate(0deg);
      transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
