@use 'src/scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
}
.time-frame {
  padding-bottom: 0;
}

.mat-column-picture {
  width: 0%;
  padding-right: 16px;
}
.mat-column-name {
  padding-right: 16px;
}
.mat-column-states {
  width: 120px;
  padding-right: 16px;
}
.mat-column-status {
  width: 356px;
  padding-right: 16px;
  padding: 2px 0;

  .chart {
    display: flex;
    &__gauge {
      width: 56px;
      height: 56px;
    }
  }
}
.mat-column-actions {
  width: 0%;
}
