@use 'src/scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.mat-column-picture {
  width: 0%;
  padding-right: 16px;
}

.mat-column-actions {
  width: 0%;
}

.mat-column-status {
  .status__gauge {
    width: 56px;
    height: 56px;
    padding: 8px;
  }
}
