@use 'src/scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
}
.time-frame {
  padding-bottom: 0;
}

.mat-column-picture {
  width: 0%;
  padding-right: 16px;
}
.mat-column-name {
  padding-right: 16px;
}
.mat-column-states {
  padding-right: 16px;
}
.mat-column-status {
  padding-right: 16px;
  .status__gauge {
    width: 56px;
    height: 56px;
    margin: 2px 0;
  }
}
.mat-column-actions {
  width: 0%;
}
