@use '@angular/material/index' as mat;
@use '@gravitee/ui-particles-angular/index' as gio;

.gio-form-listeners__table {
  tr th:nth-last-child(2) {
    display: table-cell;
    width: 220px;
  }

  &__field {
    &__host {
      display: inline-block;
      max-width: 200px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
