.gravitee-fixed-button {
  bottom: 0;
  position: fixed;
  margin: 0;
  width: 97%;
  z-index: 1;

  &:disabled {
    background-color: silver !important;
  }
}

.gravitee-api-plans-container {
  height: calc(100% - 100px);
  overflow: scroll;
}

.gravitee-api-plans-remove-button {
  float: right;
  z-index: 1;
}

.gravitee-api-plans-add-button {
  margin-bottom: 40px;
}

.strike {
 text-decoration: line-through;
}

.italic {
  font-style: italic;
}

.plans .md-toolbar-tools {
  background: #fafafa;
  color: black;
}

.plans .md-button.md-fab {
  box-shadow: none;
  background: none;
}

.plans a.md-button.md-default-theme.md-fab:not([disabled]):hover, .plans a.md-button.md-fab:not([disabled]):hover, .plans .md-button.md-default-theme.md-fab:not([disabled]):hover, .plans .md-button.md-fab:not([disabled]):hover {
  background-color: #ccdae3;
}

md-menu-content.md-menu-bar-menu.md-dense md-menu-item.md-indent > .md-button, md-menu-content.md-menu-bar-menu.md-dense md-menu-item.md-indent .md-menu > .md-button {
  padding-left: 10px;
}

md-menu-content.md-menu-bar-menu.md-dense .md-button span {
  padding-left: 10px;
}

md-menu-bar {
  padding-right: 0px;
}

md-menu-bar md-menu button ng-md-icon {
  top: 0px;
}
