@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

@use '../../../scss/gio-layout' as gio-layout;

$foreground: map.get(gio.$mat-theme, foreground);
$typography: map.get(gio.$mat-theme, typography);

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.settings-general {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__form {
    &__info {
      display: flex;
      align-items: center;
    }

    &__card {
      margin-bottom: 16px;

      &__form-field {
        width: 100%;

        &__icon {
          color: mat.m2-get-color-from-palette($foreground, disabled);
        }

        &.margin-top {
          margin-top: 16px;
        }
        &.margin-bottom {
          margin-bottom: 32px;
        }
      }

      &__label {
        @include mat.m2-typography-level($typography, subtitle-2);

        & ~ & {
          padding-top: 8px;
        }
      }

      &__h3 {
        margin-top: 8px;
      }
    }
  }
}
