.subscription-creation {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 600px;

    &__plans {
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;
      align-items: flex-start;
      gap: 8px;
    }

    &__applications__option {
      border: solid 1px lightgrey;

      &__title {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
      }
    }
  }
}

.actions {
  justify-content: flex-end;
}
