@use 'sass:map';
@use '../../../../../../node_modules/@angular/material/index' as mat;
@use '../../../../../../node_modules/@gravitee/ui-particles-angular/index' as gio;

@use '../../../../../scss/gio-layout' as gio-layout;

$typography: map.get(gio.$mat-theme, typography);

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.apiDynamicProperties {
  &__enableField {
    width: 100%;
    padding-bottom: 24px;
  }

  &__field {
    width: 100%;
    padding-bottom: 0px;
  }

  &__methodUrl {
    display: flex;
    gap: 16px;

    &__methodField {
      flex: 0 1 200px;
      padding-bottom: 0px;
    }
    &__urlField {
      flex: 1 1 auto;
      padding-bottom: 0px;
    }
  }

  &__scheduleField {
    width: 100%;
    padding-bottom: 24px;
  }

  &__headersField {
    padding-bottom: 24px;
  }

  &__header {
    &__title {
      display: flex;
      flex-direction: row;
      padding-bottom: 16px;
      border-bottom: 1px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker10');

      &__button {
        margin: auto 12px;
        flex: 1 0 auto;
      }
    }

    &__banner {
      margin-top: 16px;
    }
  }
}
