@use 'sass:map';
@use 'node_modules/@angular/material' as mat;

@import '../../../scss/gio-material-theme';

$primary: map.get($gio-theme, primary);
$accent: map.get($gio-theme, accent);
$warn: map.get($gio-theme, warn);
$background: map.get($gio-theme, background);
$foreground: map.get($gio-theme, foreground);
$is-dark-theme: map.get($gio-theme, is-dark);
$typography: map.get($gio-theme, typography);

:host {
  font-size: 13px;
  // Width is container width minus content width
  width: 19%;
  position: sticky;
  top: 0;
  padding-left: 25px;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
}

.toc {
  width: 100%;
  padding: 5px 0 10px 10px;
  border-left: solid 4px mat.get-color-from-palette($accent);

  & + .toc {
    padding-top: 8px;
  }

  &__section-name {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: bold;
    text-transform: capitalize;
  }

  &__link {
    @include mat.typography-level($typography, body-1);

    color: mat.get-color-from-palette($foreground, secondary-text);
    transition: color 100ms;
    line-height: 16px;
    margin: 8px 0 0;
    position: relative;
    text-decoration: none;
    display: block;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;

    &:hover,
    &.active {
      font-weight: mat.font-weight($typography, body-2);
      line-height: 16px;

      color: mat.get-color-from-palette($accent, if($is-dark-theme, light, dark));
    }

    &--level-h3 {
      margin-left: 12px;
    }

    &--level-h4 {
      margin-left: 24px;
    }
  }
}

.docs-toc-container {
  border-left: solid 4px mat.get-color-from-palette($accent);

  .docs-link {
    @include mat.typography-level($typography, body-1);
    color: mat.get-color-from-palette($foreground, secondary-text);
    transition: color 100ms;
    line-height: 16px;

    &:hover,
    &.docs-active {
      @include mat.typography-level($typography, body-2);
      line-height: 16px;

      color: mat.get-color-from-palette($accent, if($is-dark-theme, light, dark));
    }
  }
}
