.content {
  &__path__form-field {
    width: 100%;
  }

  &__tab {
    padding-top: 16px;

    .radio-group {
      display: flex;
      flex-direction: column;

      .mat-mdc-radio-button {
        padding: 8px;
      }

      &__button {
        margin: 8px 0 0 0;
      }
    }
  }
}

.actions {
  justify-content: end;
}
