@import 'plan/api-plan';
@import 'rating/api.rating';
@import "../../constants";

#header {
  color: #000;
  background-color: $apiPortalBgColor;
  padding-top: 70px;
  padding-bottom: 18px;

  .api-title {
    color: rgb(51, 51, 51);
    font-size: 26px;
    padding-left: 24px;
  }

  .api-description {
    text-align: left;
    text-size-adjust: 100%;
    white-space: pre-line;
    word-wrap: break-word;
    font-size: 12px;

    span {
      margin-top: 4px;
    }
  }

  .api-rating {
    margin-left: 25px;
  }

  .md-button {
    width: 180px;
  }
}

.api-general {
  color: #fff;
  h1 {
    font-size: 40px;
    font-weight: 300;
    line-height: 52px;
    margin: 0;
  }
  p {
    font-size: 20px;
    line-height: 28px;
    margin: 16px 0 0;
    max-width: 440px;
  }
}

.api-gallery {
  background-color: inherit;
  max-width: 508px;
  min-width: 508px;
  width: 508px;
  @media screen and (min-width: 1016px) {
    max-width: 1016px;
    min-width: 1016px;
    width: 1016px;
  }
}

.main-content-api-gallery {
  background: #F5F5F6;
}

.api-metadata {
  color: silver;
  text-align: center;

  h4 {
    margin-top: 0;
  }

  p {
    margin-bottom: 5px;
  }
}

.api-metadata-dialog {
  background-color: #FFF;
  max-height: 80%;
  overflow-y: scroll;

  table {
    margin: 50px;
    width: inherit;
  }

  .md-toolbar-tools {
    background-color: #34A0D4;
  }
}

.md-panel-outer-wrapper {
  position: fixed;
}


.apis-sidenav {
  margin-left: 30px;

  ul {
    list-style-type: none;
    position: fixed;

    li {
      outline: none;
    }

    li.sidenav_item {
      display: list-item;
      position: relative;
      margin-bottom: 0;
      padding: 1px 0;

      span {
        line-height: 1.2;
        color: #000000;
        display: block;
        margin: 10px;
        padding-left: 8px;
        text-decoration: none;
        font-size: 14px;
      }
    }

    li.active {
      border-left: 2px solid #34A0D4;
    }

    li.active span, li.sidenav_item:hover span {
      -webkit-transition: all .4s ease!important;
      font-weight: 600;
      color: #34A0D4;
    }
  }
}

.apis-filter {
  margin: 12px;
}

md-card-content {
  small {
    font-size: 12px;
  }
}

.api-infos {
  > p {
    height: 45px;
    position: relative;
    overflow: hidden;
  }

  :after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom,rgba(255,255,255,0),#fff 100%,#fff);
  }

  p {
    margin: 0;
  }
}

.gravitee-media img {
  width: 100%;
  max-width: 100px;
  max-height: 75px;
}

.api-views {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 10px;
  height: 34px;
}

.ui.label {
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  margin: 0 .14285714em;
  background-color: #E8E8E8;
  background-image: none;
  padding: .5833em .833em;
  color: rgba(0,0,0,.6);
  text-transform: none;
  font-weight: 700;
  border: 0 solid transparent;
  border-radius: .28571429rem;
  -webkit-transition: background .1s ease;
  transition: background .1s ease;
}

.ui.label>a {
  cursor: pointer;
  opacity: .5;
  -webkit-transition: .1s opacity ease;
  transition: .1s opacity ease
}

.ui.label>a:hover {
  opacity: 0;
}

a.ui.label:focus, a.ui.label:hover {
  color: rgba(0,0,0,.8);
  background-color: #E0E0E0;
  text-decoration: none;
  cursor: pointer;
}

.api-table-rating {
  padding-top: 12px !important;
  line-height: normal;
  .star-rating-title {
    top: 2px !important;
  }

  .stars-outer {
    font-size: 12px;
  }
}

/**
 * API navigation
 */
/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.api-nav {
  background: rgb(45, 50, 62);
  height: 47px;
  position: relative;

  ul {
    display: initial;
  }
}

.sticky {
  width: 100% !important;
  position: fixed !important;
  z-index: 10;
}

#pageHeader .container {
  min-height: 104px;
  max-height: 250px;
}

#pageHeader.sticky .container {
  min-height: 0;
  max-height: 68px;
}

#pageHeader #header-detail {
  opacity: 100;
  overflow-y: hidden;
  max-height: 190px;
  max-width: 800px;
}

div#api-navbar {
  z-index: 2;
}

div#api-navbar:before{
  position: absolute;
  bottom: 47px;
  height: 190px;
  right: 0px;
  width: 100%;
  content: "";
  background: linear-gradient(to top, rgba(239, 244, 249, 1) 0%, rgba(255, 255, 255, 0) 19%);
  pointer-events: none;
}

#main-content-subcontent{
  z-index: 1;
}


#pageHeader.sticky #header-detail,
#pageHeader.sticky #header-tags,
#pageHeader.sticky #header-views,
#pageHeader.sticky #header-entry-points {
  opacity: 0;
}

#header-entry-points {
  input {
    width: 100%;
    border: none;
    background: transparent;
  }
}

.api-header-detail {
  margin-top: 18px;
}

.api-nav.sticky {
  top: 147px !important;
}
.header-fixed {
  margin-top: 197px;
}

.api-nav ul li:first-child {
  margin-left: 0;
}

.api-nav ul li {
  font-size: .75em;
  float: left;
  margin-left: 20px;
  box-sizing: border-box;

  @media (min-width: 768px) {
      font-size: 1em;
      margin-left: 60px;
  }
}

.api-nav ul li a {
  border-bottom: 4px solid transparent;
  color: #fafafa;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 3;
  box-sizing: border-box;
}

.api-nav ul li.active a {
  border-color: #63d0e6;
  box-sizing: border-box;
}

.api-nav ul li.header-button {
  float: right;
}

.api-nav .container {
  padding-top: 0;
  padding-bottom: 0;
}

.api-nav ul li.header-button button.oui-button.thin-button {
  margin: 10px 0 8px;
  line-height: 28px;
  padding: 2px 2ex;
  background-color: transparent;
  color: #fafafa;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 4px;
  border: 2px solid #63d0e6;

  @media (min-width: 768px) {
    margin: 6px 0;
    line-height: 24px;
    padding: 1px 2ex;
  }
}

#header-metadata{
  padding-left: 20px;
}

.api-header-metadata {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-width: 30%;
  max-height: 200px;
  h2 {
    font-size: 12px;
    margin: 5px 0 8px 0;
  }
}

.api-header-metadata::-webkit-scrollbar {
  display: none;
}

.layout-align-space-between-center.layout-row{
  align-items: normal;
}

/**
 * subscriptions
 */

/*!
 * SmartWizard v4.x
 * jQuery Wizard Plugin
 * http://www.techlaboratory.net/smartwizard
 *
 * Created by Dipu Raj
 * http://dipuraj.me
 *
 * Licensed under the terms of MIT License
 * https://github.com/techlab/SmartWizard/blob/master/LICENSE
 */

/* SmartWizard Theme: Circles */
.sw-theme-circles{

}
.sw-theme-circles .sw-container {
  min-height: 300px;
}
.sw-theme-circles .step-content {
  padding: 10px 0;
  background-color: #FFF;
  text-align: left;
}
.sw-theme-circles .sw-toolbar{
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0 !important;
}
.sw-theme-circles .sw-toolbar-top{

}
.sw-theme-circles .sw-toolbar-bottom{
  border-top-color: #ddd !important;
  border-bottom-color: #ddd !important;
}
.sw-theme-circles > ul.step-anchor{
  position: relative;
  background: #fff;
  display: block;
  border: none;
  list-style: none;
  top: 50%;
  transform: translate(0, -50%);
}

.sw-theme-circles > ul.step-anchor > li{
  border: none;
}
.sw-theme-circles > ul.step-anchor > li > a{
  border: 2px solid #f5f5f5;
  background: #f5f5f5;
  width: 75px;
  height: 75px;
  text-align: center;
  padding: 14px 22px;
  font-size: 28px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 3px #fff !important;
  text-decoration: none;
  outline-style:none;
  z-index: 99;
  color: #bbb;
}
.sw-theme-circles > ul.step-anchor > li > a:hover  {
  color: #bbb;
  background: #f5f5f5;
  border-width: 2px;
}
.sw-theme-circles > ul.step-anchor > li > a > small{
  position: absolute;
  bottom: -40px;
  display: block;
  color: #ccc;
}
.sw-theme-circles > ul.step-anchor > li.clickable > a:hover {
  color: #4285F4 !important;
}
.sw-theme-circles > ul.step-anchor > li.active > a {
  border-color: #5bc0de;
  color: #fff;
  background: #5bc0de;
}
.sw-theme-circles > ul.step-anchor > li.active > a > small{
  color: #5bc0de;
}
.sw-theme-circles > ul.step-anchor > li.done > a {
  border-color: #5cb85c;
  color: #fff;
  background: #5cb85c;
}
.sw-theme-circles > ul.step-anchor > li.done > a > small{
  color: #5cb85c;
}
.sw-theme-circles > ul.step-anchor > li.danger > a {
  border-color: #d98d1a;
  color: white;
  background: #d98728;
}
.sw-theme-circles > ul.step-anchor > li.danger > a > small{
  color: #d98728;
}
.sw-theme-circles > ul.step-anchor > li.disabled > a, .sw-theme-circles > ul.step-anchor > li.disabled > a:hover {
  color: #eee !important;
}

.subscription-step {
  background-color: #fff;
  border: 1px solid #9a9a9a;
  border-radius: 3px;
}

.subscription-content {
  background-color: $apiPortalBgColor;
  min-height: calc(100vh - 327px);
}

.tag-or-view {
  text-align: center;
  border: 1px solid #ccc;
  padding: 4px 6px;
  border-radius: 3px;
  margin: 0 6px 4px 0;
  display: inline-block;
  color: #333;
  background-color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tag-or-view.fixed {
  min-width: 20%;
  max-width: 20%;
}
