@import 'plan/api-plan';

.api-general {
  color: #fff;
  h1 {
    font-size: 40px;
    font-weight: 300;
    line-height: 52px;
    margin: 0;
  }
  p {
    font-size: 20px;
    line-height: 28px;
    margin: 16px 0 0;
    max-width: 440px;
  }
}
.api-description {
  color: grey;
  p {
    padding: 0px 5px 0px 5px;
    i {
      float: left;
    }
  }
}

.api-gallery {
  background-color: inherit;
  max-width: 508px;
  min-width: 508px;
  width: 508px;
  @media screen and (min-width: 1016px) {
    max-width: 1016px;
    min-width: 1016px;
    width: 1016px;
  }
}

.main-content-api-gallery {
  background: #F5F5F6;
}