ul {
  list-style-type: none;
}

.gravitee-link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.gravitee-user-input {
  width: 100%;
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

ng-md-icon {
  position: relative;
  top: 5px; // adjust for svg viewbox
}
