@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

.empty-card {
  text-align: center;

  .icon {
    border-radius: 30px;
    background-color: mat.m2-get-color-from-palette(gio.$mat-primary-palette, 'lighter');
    color: mat.m2-get-color-from-palette(gio.$mat-primary-palette, 'darker20');
    height: 60px;
    width: 60px;
    padding: inherit;
    margin-bottom: 10px;
  }

  &__body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__subtitle {
      color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'lighter40');
      display: flex;
      justify-content: center;
      width: 60%;
      margin-bottom: 10px;
    }
  }

  &__actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__button {
      display: flex;
      justify-content: center;
    }
  }
}
