@use 'sass:map';
@use 'src/scss/gio-layout' as gio-layout;
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

.endpoint-group-card {
  margin-bottom: 24px;

  &__header {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    width: 100%;
    height: 36px;

    mat-icon {
      margin-right: 6px;
    }

    &__title {
      display: flex;
      flex-direction: row;
      width: 70%;

      .mat-h3 {
        margin: auto 8px auto 0;
        font-size: 1.25rem;
      }

      .gio-badge-primary {
        margin: auto 4px auto 0;
        text-transform: unset;
      }
    }

    &__actions {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .mat-mdc-outlined-button {
        margin-right: 8px;
      }
    }
  }

  .gio-table-light {
    width: 100%;
    margin-bottom: 16px;

    th {
      text-transform: none;
    }
  }

  .capabilities-badges {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    .gio-badge-neutral {
      font-size: 0.75rem;
      white-space: nowrap;
    }
  }
}
