@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

.gio-request-stats {
  display: flex;
  flex-flow: column;
  gap: 18px;

  &__body {
    display: flex;
    flex-flow: column;

    &__title {
      @include mat.typography-level($typography, body-2);
      padding: 4px 0 4px 4px;
    }

    &__rows {
      padding-left: 8px;
      :first-child {
        border: none;
      }
    }

    &__row {
      gap: 20px;
      display: flex;
      border-top: 1px mat.get-color-from-palette(gio.$mat-dove-palette, 'darker10') solid;
      padding: 2px 0;

      > span {
        flex: 1 1 100%;
      }

      :last-child {
        @include mat.typography-level($typography, body-2);
        color: mat.get-color-from-palette(gio.$mat-accent-palette, 'darker20');
      }
    }
  }
}
