@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

.policy-studio-debug {
  display: flex;
  flex-direction: row;
  min-height: 100%;

  &__request {
    flex: 0 1 350px;
    min-height: 100%;

    border-right: 2px solid mat.get-color-from-palette(gio.$mat-decorative-palette, 'divider');
  }

  &__response {
    flex: 1 1 auto;
    min-height: 100%;
  }

  &__response__container {
    width: 100%;
    position: relative;
  }

  policy-studio-debug-response {
    position: absolute;
    width: 100%;
  }
}
