.kafka-configuration {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
  padding: 0 8px 8px 8px;

  &__host {
    flex: 1;
  }

  &__domain {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
    justify-content: space-between;
    padding-top: 8px;

    gio-clipboard-copy-icon {
      padding-right: 6px;
      margin-top: 6px;
    }
  }
}
