@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

.quick-filters {
  display: flex;
  flex-direction: column;
  padding: 16px 24px 0 24px;

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__selectors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  &__search,
  &__period,
  &__status,
  &__applications {
    padding: 0;
    margin-right: 16px;
  }

  &__search {
    width: 320px;
  }

  &__period,
  &__status {
    display: inline-flex;
    width: 180px;
  }

  &__status {
    display: inline-flex;
    min-width: 260px;
    width: 260px;
  }

  &__applications {
    min-width: 220px;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  .action {
    display: flex;
    align-items: center;

    &__button {
      height: 48px;
      margin-right: 16px;

      mat-icon {
        margin-right: 4px;
      }
    }
  }
  .quick-filters__status-panel {
    min-width: 320px;
    max-width: 480px;
  }

  &__chip_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }
  &__applied-label {
    display: inline-flex;
    align-items: center;
    margin-right: 4px;
  }
  &__chip {
    display: inline-flex;
    align-items: center;
    background-color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, darker10);
    color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, darker10-contrast);
    min-height: 24px;
    height: 24px;
    padding: 0;

    &__key {
      @include mat.m2-typography-level($typography, body-2);
    }

    &__value {
      @include mat.m2-typography-level($typography, subtitle-2);
      margin-left: 2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px;
    }
  }

  &__applied {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  &__reset {
    margin-left: 12px;
  }
}
