.promotion-task {
  width: 100%;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &__left,
    &__right {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__icon {
        --gv-icon--c: hsl(183, 75%, 47%);
        --gv-icon--s: 22px;
      }

      &__title {
        margin-left: 8px;
        font-size: 16px;
        color: hsl(0, 0%, 20%);
      }

      &__date {
        align-self: flex-end;
        color: hsl(0, 0%, 45%);
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin: 16px 0 8px 0;
    font-size: 14px;

    &__details {
      margin-top: 2px;
      font-size: 12px;
      color: hsl(0, 0%, 45%);
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    &__reject,
    &__accept {
      --gv-icon--s: 22px;
    }
  }
}
