a.md-button:not([disabled]).selected, .md-button:not([disabled]).selected {
  background-color: rgba(158, 158, 158, 0.2);
}

.documentation-content-header {
  position: relative;
  padding: 15px 15px 0px;
}

.documentation-content-header > h1 {
  margin: 0px;
  font-size: 24px;
}

.documentation-content-header > h1 > small {
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
}

.icon-button-nothomepage {
  fill: #676a6c;
}

.icon-button-homepage {
  fill: rgb(68,138,255);
}

sup.icon-button-homepage, sup.icon-button-nothomepage {
  top: -1em;
}