@use '@angular/material/index' as mat;
@use '@gravitee/ui-particles-angular/index' as gio;

.portal-header {
  display: flex;
  flex-flow: column;
  gap: 18px;

  margin-bottom: 28px;

  &__subtitle {
    color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'lighter40');
  }
}
