@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use '../../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-content-container;
}

.plans {
  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__filters {
    margin-bottom: 0.5rem;
  }
}
