.new-api-import {
  .selected {
    .card,
    .card-import {
      opacity: 1;
      transform: translateY(-4px);
      box-shadow: 0 10px 20px -10px var(--gv-theme-neutral-color-dark, #bfbfbf);
      cursor: pointer;
      background-color: var(--gv-theme-color-darker);
      color: #ffffff;
      position: relative;
    }
  }

  .card-import {
    min-width: 490px;
  }

  .card-import {
    border-radius: 2px;
    opacity: 0.6;
    box-shadow: 0 0 0 1px var(--gv-theme-neutral-color, #f5f5f5), 0 1px 3px var(--gv-theme-neutral-color-dark, #bfbfbf);

    margin: 0 1rem;
    padding: 1rem;
    color: #262626;
    transition: all 0.3s ease-in-out;

    .title {
      padding: 0.5rem;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      font-size: 18px;
      text-align: center;
    }

    .description {
      text-align: center;
      padding: 0.5rem;
      font-size: 14px;
    }

    &:hover {
      opacity: 1;
      transform: translateY(-4px);
      box-shadow: 0 10px 20px -10px var(--gv-theme-neutral-color-dark, #bfbfbf);
      cursor: pointer;
    }
  }

  abbr {
    font-style: italic;
    font-weight: bold;
  }

  .import-container {
    visibility: visible;
    opacity: 1;
    position: relative;
  }

  gv-api-import {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
  }
}
