.validate-subscription {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__row {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__message {
      flex: 1 1 100%;
    }
  }
}
