@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

:host {
  display: block;
}

.gio-select-search {
  &__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border: 1px solid var(--mdc-outlined-text-field-outline-color);
    border-radius: 4px;
    cursor: pointer;
    min-height: var(--mat-form-field-container-height);
    transition: border-color 0.2s ease;

    &:hover:not(.disabled) {
      border-color: mat.m2-get-color-from-palette(gio.$mat-smoke-palette, darker80);
    }

    &.disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    &__label {
      flex: 1;
      display: flex;
      gap: 8px;
      align-items: center;
    }

    &__count {
      color: mat.m2-get-color-from-palette(gio.$mat-primary-palette, default-contrast);
      background-color: mat.m2-get-color-from-palette(gio.$mat-primary-palette, default);
      border-radius: 50%;
      height: 24px;
      width: 24px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__arrow {
      margin-left: 8px;
      color: var(--mat-select-enabled-arrow-color);
    }
  }
}
.opened {
  border-color: mat.m2-get-color-from-palette(gio.$mat-smoke-palette, darker80);
  border-width: 2px;
  padding: 7px 11px;
}

.opened-icon {
  color: mat.m2-get-color-from-palette(gio.$mat-smoke-palette, darker80);
}
