@import '../../constants';
@import './details/subscribe/application-subscribe';
@import './details/subscriptions/application-subscriptions';

.application-type-box {
  border: 1px solid #bdbdbd;
  background-color: rgb(226, 226, 226);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  opacity: 0.3;
  height: 200px;
  margin-right: 12px;

  .title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .description {
    text-align: center;
    font-size: 12px;
  }

  .icon {
    height: 70px;
    margin: 0 auto;
    padding: 10px 0 0;
    width: 4em;

    ng-md-icon {
      top: 0;
    }
  }
}

.application-type-box-selected {
  opacity: 1;
  border-color: #187b9c;
  border-width: 2px;
}

.application-creation {
  &__timeline-badge-container {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
      --gv-icon--s: 22px;
      --gv-icon--c: var(--gv-theme-color-darker);
    }
  }
}
