@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__icon {
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
  }

  &__title {
    @include mat.typography-level($typography, subtitle-1);

    margin-bottom: 8px;
  }

  &__subtitle {
    @include mat.typography-level($typography, body-2);
  }
}
