apiVersion: v1
name: apim
# Also update CHANGELOG.md
version: 4.10.0-alpha.5
appVersion: 4.10.0-alpha.5
description: Official Gravitee.io Helm chart for API Management
home: https://gravitee.io
sources:
  - https://github.com/gravitee-io
icon: https://avatars2.githubusercontent.com/u/12655666?s=200&v=4
keywords:
  - gravitee.io
  - gravitee
  - graviteeio
  - API
  - API Management
kubeVersion: ">=1.14.0-0"
annotations:
  # List of changes for the release in artifacthub.io
  # https://artifacthub.io/packages/helm/graviteeio/apim?modal=changelog
  # example:
  #     - kind: added
  #      description: 'Allow to customize Kafka Gateway bootstrap and brokers domain patterns'
  #      links:
  #        - name: Github Issue
  #          url: https://github.com/gravitee-io/issues/issues/xxx
  ###########
  # WARNING #
  ###########
  # "changes" must be the last section in this file, because a CI job clean it after each release
  ###########
  artifacthub.io/changes: |
    - kind: changed
      description: 'BREAKING CHANGE: fix(scraping): Introduce modular utilities for performance and concurrency with default concurrent limit 3'
    - kind: added
      description: 'Allow to configure Expression Language whitelist.'
      links:
        - name: GitHub Issue
          url: https://github.com/gravitee-io/issues/issues/10533
    - kind: added
      description: 'allow redis rate limit configuration to use username for acl configuration'
      links:
        - name: Github Issue
          url: https://github.com/gravitee-io/issues/issues/10966
    - kind: added
      description: 'allow configuration of httpClient proxy excludes'
      links:
        - name: Github Issue
          url: https://github.com/gravitee-io/issues/issues/10855
    - kind: added
      description: 'Kafka console: allow to define volumes & volume mounts'
    - kind: added
      description: 'Kafka console: allow to define a custom mAPI base URL instead of relying on "organization" and "environment" fields'
    - kind: changed
      description: 'BREAKING CHANGE: Kafka console: allow to use secrets for "jwt.secret" and "apim.security.token". Use "jwt.secret.value" instead of "jwt.secret" and "apim.security.token.value" instead of "apim.security.token"'

