apiVersion: v1
name: apim
# Also update CHANGELOG.md
version: 4.2.0-alpha.2
appVersion: 4.2.0
description: Official Gravitee.io Helm chart for API Management
home: https://gravitee.io
sources:
  - https://github.com/gravitee-io
icon: https://avatars2.githubusercontent.com/u/12655666?s=200&v=4
keywords:
  - gravitee.io
  - gravitee
  - graviteeio 
  - API
  - API Management
kubeVersion: ">=1.14.0-0"
annotations:
  # List of changes for the release in artifacthub.io
  # https://artifacthub.io/packages/helm/graviteeio/apim?modal=changelog
  artifacthub.io/changes: |
    - Update regex for portal and console base_href
    - 'fix: license deleted after helm upgrade https://github.com/gravitee-io/issues/issues/9411'
    - 'fix AE system mail notification without keystore'
    - Add networkPolicy
    - Add support for Secret Manager's configuration
