apiVersion: v1
name: apim
# Also update CHANGELOG.md
version: 4.7.0
appVersion: 4.7.0
description: Official Gravitee.io Helm chart for API Management
home: https://gravitee.io
sources:
  - https://github.com/gravitee-io
icon: https://avatars2.githubusercontent.com/u/12655666?s=200&v=4
keywords:
  - gravitee.io
  - gravitee
  - graviteeio
  - API
  - API Management
kubeVersion: ">=1.14.0-0"
annotations:
  # List of changes for the release in artifacthub.io
  # https://artifacthub.io/packages/helm/graviteeio/apim?modal=changelog
  ###########
  # WARNING #
  ###########
  # "changes" must be the last section in this file, because a CI job clean it after each release
  ###########
  artifacthub.io/changes: |
    - kind: added
      description: 'Add support of the kubernetes service account token projection'
      links:
        - name: Github Issue
          url: https://github.com/gravitee-io/issues/issues/10225
    - kind: fixed
      description: 'fix Kafka Gateway configuration'
      links:
        - name: Github Issue
          url: https://github.com/gravitee-io/issues/issues/10330
    - kind: added
      description: 'Allow to customize Kafka Gateway bootstrap and brokers domain patterns'
      links:
        - name: Github Issue
          url: https://github.com/gravitee-io/issues/issues/10337
    - kind: fixed
      description: 'fix typo and indentation about mapping of user.anonymize-on-delete.enabled (APIM-8628)'
    - kind: fixed
      description: 'remove nginx `configuration-snippet` by default (APIM-8630)'
    - kind: added
      description: 'Allow users to define which portal should be used by default'