.user {
  min-height: 50px;

  .md-avatar {
    width: 50px;
    height: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    border-radius: 50%;
    box-sizing: content-box;
  }
}

.inline-multiple-select > .md-select-value > span {
  max-width: 250px;

  .md-text {
    display: inline !important;
  }
}

md-select.md-table-select {
  .md-select-value {
    span {
      .md-text {
        padding-top: 2px;
      }
    }
  }
}
