@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

.settings-content {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 24px;
    gap: 16px;
  }

  &__description {
    margin: 0;
    flex: 1;
  }

  &__toggle {
    flex-shrink: 0;
  }
}

.settings {
  &__form-control {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;

    &__title {
      margin-bottom: 0;
      @include mat.m2-typography-level($typography, 'subtitle-2');
    }

    &__toggles {
      display: flex;
      flex-direction: column;
      padding-left: 8px;
    }
  }
}

.logging-banner {
  margin: 24px 0;
}

.sampling-summary {
  &__description {
    margin: 8px 0 16px;
  }

  &__card {
    background-color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'lighter40');
    border: 1px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'default');
    border-radius: 8px;
    padding: 12px 16px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
  }

  &__label {
    font-weight: bold;
  }

  &__value {
    display: flex;
    gap: 24px;

    &-item {
      white-space: nowrap;
    }
  }
}
