@use 'sass:map';
@use 'node_modules/@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$primary: map.get(gio.$mat-theme, primary);

.icon {
  margin-left: 4px;
  cursor: pointer;
  color: mat.get-color-from-palette($primary);

  &:not(.clicked) {
    opacity: 0.42;
  }

  &.clicked {
    opacity: 1;
    color: mat.get-color-from-palette(gio.$mat-success-palette, 'default');
  }
}

:host(:hover) {
  .icon {
    &:hover {
      opacity: 1;
    }
  }
}
