$graviteeHeader: 140px;
$bgColor: rgb(45,50,62);
$fontColor: rgba(255,255,255,.7);
$sidenavWidth: 200px;
$sidenavMinWidth: 60px;
$sidenavItemLeftWidth: 15px;
$sidenavItemBorderSize: 4px;
$sidenavFooterHeight: 100px;
$sidenavHeaderHeight: 54px;
