.autocomplete-search-user li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  white-space: normal;
}
.autocomplete-search-user li:last-child {
  border-bottom-width: 0;
}

.autocomplete-search-user md-content.autocomplete {
  min-height: 250px; }
.autocomplete-search-user md-content.autocomplete input {
  min-width: 500px; }

.autocomplete-search-user .md-item-text.compact {
  padding-top: 8px;
  padding-bottom: 8px; }

.autocomplete-search-user .contact-item {
  box-sizing: border-box; }
.autocomplete-search-user .contact-item.selected {
  opacity: 0.5; }
.autocomplete-search-user .contact-item.selected h3 {
  opacity: 0.5; }
.autocomplete-search-user .contact-item .md-list-item-text {
  padding: 14px 0;
  max-width: 250px; }
.autocomplete-search-user .contact-item .md-list-item-text h3 {
  margin: 0 !important;
  padding: 0;
  line-height: 1.2em !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

@media (min-width: 960px) {
  .autocomplete-search-user .contact-item {
    float: left; }
}

.searchMembers md-content.autocomplete {
  min-height: 250px; }
.searchMembers md-content.autocomplete input {
  min-width: 400px; }

.searchMembers .md-item-text.compact {
  padding-top: 8px;
  padding-bottom: 8px; }

.searchMembers .contact-item {
  box-sizing: border-box; }
.searchMembers .contact-item.selected {
  opacity: 0.5; }
.searchMembers .contact-item.selected h3 {
  opacity: 0.5; }
.searchMembers .contact-item .md-list-item-text {
  padding: 14px 0;
  max-width: 190px; }
.searchMembers .contact-item .md-list-item-text h3 {
  margin: 0 !important;
  padding: 0;
  line-height: 1.2em !important; }
.searchMembers .contact-item .md-list-item-text h3, .searchMembers .contact-item .md-list-item-text p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
@media (min-width: 960px) {
  .searchMembers .contact-item {
    float: left;
    width: 50%; } }

.searchMembers .fixedRows {
  height: 250px;
  overflow: hidden; }
