.virtual-host {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
  }

  &__table {
    .mat-row {
      .mat-column-host,
      .mat-column-path,
      .mat-column-override_entrypoint {
        padding: 8px 8px 40px 8px;
      }
    }

    &__path-field,
    &__host-field {
      width: 100%;
    }
  }
}
