@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

:host {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rateLimit-card,
.quota-card,
.resourceFiltering-card {
  display: flex;
  flex-direction: column;

  &__schema-form {
    border-top: 1px solid mat.get-color-from-palette(gio.$mat-space-palette, lighter80);
    padding: 0 8px;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -20px;
}
