@use 'sass:map';
@use '@angular/material/index' as mat;
@use '@gravitee/ui-particles-angular/index' as gio;
@use 'src/scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
}

@mixin gridContent {
  padding-top: 16px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 16px;
}

.filterBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.loader {
  padding: 24px;
}

.entrypoints {
  &__rows {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__row {
      padding-top: 8px;

      &:first-child {
        padding-top: 0;
      }

      &__gridContent {
        @include gridContent;
      }
    }
  }
}
