<h2 mat-dialog-title class="title">
  @if (isPageType) {
    Add Page
  } @else if (isLinkType) {
    Add Link
  } @else if (isFolderType) {
    Add Folder
  }
</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required />
      @if (form.controls.title.hasError('required')) {
        <mat-error>Title is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Is Public</mat-label>
      <mat-select formControlName="isPublic">
        <mat-option [value]="true">Public</mat-option>
        <mat-option [value]="false">Private</mat-option>
      </mat-select>
    </mat-form-field>

    @if (isLinkType && form.contains('settings')) {
      <div formGroupName="settings">
        <mat-form-field>
          <mat-label>URL</mat-label>
          <input matInput formControlName="url" type="url" required />
          @if (form.get('settings')?.get('url')?.hasError('required')) {
            <mat-error>URL is required</mat-error>
          }
        </mat-form-field>
      </div>
    }
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!form.valid">Add</button>
</mat-dialog-actions>
