.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}
.autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2;
}
.autocomplete-custom-template .item-title i.material-icons {
  float: left;
  margin-left: -5px;
  margin-right: 10px;
}
md-card {
  border-radius: 2px;
  &.blue {
    color: #fff;
    background-color: #34A0D4;
  }
}

a.views-links {
  text-decoration: none;
  color: #757575;
  padding: 40px;
  i {
    font-size: 32px;
  }
}

#portal-homepage {
  background-color: white;
  color: black;
}
