.search-bar { background-color: rgb(251, 251, 251); }
.search-bar * { color: black !important; }
.search-bar input { border-bottom-color: black; }

.search-input {
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: none;
  background: white;
  width: 100%;
  padding: 0 15px;
  line-height: 40px;
  height: 40px;
  display: flex;
}

md-card {
  border-radius: 2px;
  &.blue {
    color: #fff;
    background-color: #34A0D4;
  }
}

a.views-links {
  text-decoration: none;
  color: #757575;
  padding: 40px;
  i {
    font-size: 32px;
  }
}

.logo {
  max-width: 200px;
  max-height: 100px;
  border-radius: 100px;
}
