@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

.policy-studio-debug-response {
  background-color: mat.m2-get-color-from-palette(gio.$mat-basic-palette, white);
  display: flex;
  flex-direction: column;
  height: 100%;

  &__empty-response,
  &__loading-response,
  &__reached-timeout,
  &__inspector-helper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__icon {
      --gv-icon--s: 128px;
      --gv-icon--c: #{mat.m2-get-color-from-palette(gio.$mat-primary-palette, lighter)};
    }
  }

  &__loading-response {
    &__icon {
      animation-name: fly;
      animation-duration: 2500ms;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
      animation-play-state: running;
    }
  }

  @keyframes fly {
    0% {
      transform: scale(1) rotate(0deg);
    }
    50% {
      transform: scale(0.95) rotate(-4deg);
    }
    100% {
      transform: scale(1.1) rotate(3deg);
    }
  }

  &__display-response {
    &__header {
      background-color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'default');
      border-bottom: 2px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker10');
      height: 56px;
      display: flex;
      align-items: baseline;
      padding: 16px;

      @include gio.subtitle-typography();

      &__status,
      &__path,
      &__method {
        margin-left: 16px;
      }

      &__status,
      &__path {
        @include mat.m2-typography-level($typography, body-2);
      }

      .status-success {
        color: mat.m2-get-color-from-palette(gio.$mat-success-palette, darker);
      }

      .status-error {
        color: mat.m2-get-color-from-palette(gio.$mat-error-palette, darker);
      }
    }
  }
}
