.identity-provider {
  &__card {
    margin-bottom: 16px;

    &__form-field {
      width: 100%;

      &__radio-group {
        display: flex;
        flex-direction: column;

        &__button {
          margin-top: 8px;
        }
      }

      &.radio-group {
        padding: 0 0.75em 0 0.75em;
      }
    }

    &__provider-type-group {
      &__button {
        flex: 1 1 15%;
        text-align: center;

        &__logo {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}
