#page-content {
  font-size: 14px;
}

.page-as-general-conditions {
  padding: 0.5rem;
  text-align: justify;
  font-style: italic;
  color: red;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.gv-forms.gv-edit-page {
  margin-bottom: 0px;
}

.markdown-page {
  ul {
    list-style-type: disc;
  }

  p.box {
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
  }

  p.tip {
    border-left: 4px solid #004085;

    strong {
      color: #004085;
    }

    h2 {
      @extend strong;
    }

    h3 {
      @extend strong;
    }
  }

  p.warn {
    border-left: 4px solid #f0ad4e;

    strong {
      color: #f0ad4e;
    }

    h2 {
      @extend strong;
    }

    h3 {
      @extend strong;
    }
  }

  p.alert {
    position: relative;
    border-left: 4px solid #dc3545;

    strong {
      color: #dc3545;
    }

    h2 {
      @extend strong;
    }

    h3 {
      @extend strong;
    }

    :before {
      background-color: #dc3545;
      border-radius: 100%;
      color: #fff;
      content: '!';
      font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
      font-size: 14px;
      font-weight: 700;
      left: -12px;
      line-height: 20px;
      position: absolute;
      size: 20px;
      text-align: center;
      top: 11px;
      width: 20px;
      height: 20px;
    }
  }
}

.gv-page-info-banner {
  $color: #45aed6;
  border: 1px solid #eee;
  border-left: 5px solid #45aed6;
  border-radius: 3px;
  color: $color;
  padding: 2px 10px 10px 10px;
}

.gv-page-draft-banner {
  $color: #ce4844;
  border: 1px solid #eee;
  border-left: 5px solid #ce4844;
  border-radius: 3px;
  color: $color;
  padding: 2px 10px 10px 10px;
  margin-top: 20px;
}

/* Remove all previous style for swagger documentation */
#swagger-container {
  all: initial;
  thead,
  tbody,
  tr,
  td {
    background: initial;
  }

  td {
    line-height: 15px;
  }

  select {
    padding: initial;
  }

  li {
    min-width: 80px;
  }

  code {
    background: initial;
    color: green;
    top: initial;
  }

  table {
    border: initial;
    background: initial;
    padding: initial;
  }

  .info .title small pre {
    background: initial;
    padding: initial;
    border: initial;
  }

  @import '~swagger-ui-dist/swagger-ui.css';

  a.tablelinks {
    color: #3b4151;
  }

  .description {
    line-height: 1.4em;
  }

  a.tablinks {
    margin-right: 1em;
  }

  div.response-content-type.controls-accept-header small {
    font-size: 0.8em;
  }

  td.col.parameters-col_description {
    font-size: 0.8em;
  }

  th.header-col {
    min-width: 120px;
  }
}

#editSection {
  margin-top: 20px;
}

.CodeMirror {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

.newPageEditor {
  height: 400px;
}

.editPageEditor {
  height: calc(100vh - 400px);
}

.editPanel {
  height: 100%;
  overflow-y: scroll;
}

.tui-editor-contents *:not(table) {
  line-height: 160%;
  box-sizing: content-box;
}

.tui-editor-contents i,
.tui-editor-contents cite,
.tui-editor-contents em,
.tui-editor-contents var,
.tui-editor-contents address,
.tui-editor-contents dfn {
  font-style: italic;
}

.tui-editor-contents strong {
  font-weight: bold;
}

.tui-editor-contents p {
  margin: 10px 0;
  color: #555;
}

.tui-editor-contents h1 {
  margin-top: 14px !important;
  padding-bottom: 30px;
  border-bottom: 1px solid #dbdbdb;
}

.tui-editor-contents h1,
.tui-editor-contents h2,
.tui-editor-contents h3,
.tui-editor-contents h5 {
  display: block !important;
  font-weight: bold;
  font: 200 36px 'Raleway', Helvetica, sans-serif;
}

.tui-editor-contents h1 {
  font-size: 3rem !important;
  line-height: 1.2;
  margin-bottom: 2rem !important;
  color: #3572b0;
  font-weight: 500;
}

.tui-editor-contents h2 {
  font-size: 2.2rem;
  line-height: 23px;
  border-bottom: 1px solid #dbdbdb;
  margin: 30px 0 15px 0;
  padding-bottom: 7px;
  /*color: #333;*/
  color: #3572b0;
}

.tui-editor-contents h3,
.tui-editor-contents h4 {
  font-size: 1.9rem;
  line-height: 30px;
  margin: 20px 0 0.7em;
  /*color: #333;*/
  color: #3572b0;
}

.tui-editor-contents h4 {
  font-size: 1.7rem;
  line-height: 18px;
}

.tui-editor-contents h5,
.tui-editor-contents h6 {
  font-size: 1.2rem;
  line-height: 17px;
  margin: 10px 0 -4px;
  /*color: #333;*/
  color: #3572b0;
}

.tui-editor-contents blockquote {
  margin: 15px 0;
}

.tui-editor-contents blockquote {
  /*border-left: 4px solid #dddddd;*/
  /*padding: 0 15px;*/
  color: #777777;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left: 4px solid #3572b0;
  border-left-width: 5px;
  border-radius: 3px;
}

.tui-editor-contents blockquote > :first-child {
  margin-top: 0;
}

.tui-editor-contents blockquote > :last-child {
  margin-bottom: 0;
}

.tui-editor-contents pre,
.tui-editor-contents code {
  font-family: Consolas, Courier, 'Apple SD 산돌고딕 Neo', -apple-system, 'Lucida Grande', 'Apple SD Gothic Neo', '맑은 고딕',
    'Malgun Gothic', 'Segoe UI', '돋움', dotum, sans-serif;
  border: 0;
  border-radius: 0;
}

.tui-editor-contents pre {
  margin: 2px 0 8px;
  padding: 18px;
  background-color: #f5f7f8;
}

.tui-editor-contents code {
  color: #c1788b;
  padding: 4px 4px 2px 0;
  letter-spacing: -0.3px;
}

.tui-editor-contents pre code {
  padding: 0;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
}

.tui-editor-contents table code {
  top: 0;
}

.tui-editor-contents pre.addon {
  border: 1px solid #e8ebed;
  background-color: #fff;
}

.tui-editor-contents img {
  margin: 4px 0 10px;
  box-sizing: border-box;
  vertical-align: top;
  max-width: 100%;
}

.tui-editor-contents table {
  margin: 2px 0 14px;
  color: #555;
  width: auto;
  border-collapse: collapse;
  box-sizing: border-box;
}

.tui-editor-contents table th,
.tui-editor-contents table td {
  height: 32px;
  padding: 5px 14px 5px 12px;
}

.tui-editor-contents table td {
  border: 1px solid #eaeaea;
}

.tui-editor-contents table th {
  border: 1px solid #72777b;
  border-top: 0;
  background-color: #7b8184;
  font-weight: 300;
  color: #fff;
  padding-top: 6px;
}

.tui-editor-contents ul,
.tui-editor-contents menu,
.tui-editor-contents ol,
.tui-editor-contents dir {
  display: block;
  list-style-type: disc;
  padding-left: 17px;
  margin: 6px 0 10px;
  color: #555;
}

.tui-editor-contents ol {
  list-style-type: decimal;
}

.tui-editor-contents ul ul,
.tui-editor-contents ul ol,
.tui-editor-contents ol ol,
.tui-editor-contents ol ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.tui-editor-contents ul li {
  position: relative;
}

.tui-editor-contents ul p,
ol p {
  margin: 0;
}

.tui-editor-contents ul li.task-list-item:before,
.tui-editor-contents pre ul li:before {
  content: '';
}

.tui-editor-contents hr {
  border-top: 1px solid #eee;
  margin: 16px 0;
}

.tui-editor-contents a {
  text-decoration: underline;
  color: #5286bc;
}

.tui-editor-contents a:hover {
  color: #007cff;
}

.tui-editor-contents {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.tui-editor-contents .task-list-item {
  border: 0;
  list-style: none;
  padding-left: 22px;
  margin-left: -22px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 0 2px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAADdJREFUKBVjvHv37n8GMgALSI+SkhJJWu/du8fARJIOJMWjGpECA505GjjoIYLEB6dVUNojFQAA/1MJUFWet/4AAAAASUVORK5CYII=');
}

.tui-editor-contents .task-list-item.checked {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAAMpJREFUKBVjjJ/64D8DGYCJDD1gLbTVyM3OxJDiJMzAxcYIdyALnIWDAdJU7i/OICfCxsDMxMgwc88bwk5F1vTs/W+GFUffwY2H+1FBlI2hLliCQYCbGSyJrqlzwwuGj9//YWoMtRBgUBJnZ6gMEGeQFWaFOw9kE7omkG5GWDyCPF7mJ86gIMbO8P//fwZGRkYGXJpAGuFO/fbrP0PXppcMD179JKgJRSOIA9N8/NZXrM4DqYEBjOgAaYYFOUwRNhruVGyS+MTI1ggAx8NTGcUtFVQAAAAASUVORK5CYII=');
}

.tui-editor-contents .task-list-item input[type='checkbox'],
.tui-editor-contents .task-list-item .task-list-item-checkbox {
  margin-left: -17px;
  margin-right: 3.8px;
  margin-top: 3px;
}

.tui-editor-contents .method.get:before {
  content: 'GET';
  background-color: #3eb33e;
}

.tui-editor-contents .method.post:before {
  content: 'POST';
  background-color: #fb8c00;
}

.tui-editor-contents .method.put:before {
  content: 'PUT';
  background-color: #039be5;
}

.tui-editor-contents .method.patch:before {
  content: 'PATCH';
  background-color: #039be5;
}

.tui-editor-contents .method.delete:before {
  content: 'DELETE';
  background-color: #e53935;
}

.tui-editor-contents .method:before {
  content: 'METHOD';
  background-color: gray;
  display: block;
  color: #fff;
  float: left;
  padding: 1px 15px;
  font-size: 13px;
  font-weight: 600;
  margin: -1px 16px 0 -1px;
  border-radius: 3px 0 0 3px;
}

.tui-editor-contents .method.get {
  //border-color: #9ed99e;
  border-color: #43a047;
}

.tui-editor-contents .method.post {
  border-color: #fb8c00;
}

.tui-editor-contents .method.put {
  border-color: #039be5;
}

.tui-editor-contents .method.patch {
  border-color: #039be5;
}

.tui-editor-contents .method.delete {
  border-color: #e53935;
}

.tui-editor-contents .method {
  line-height: 41px;
  margin-bottom: 1em;
  font-size: 14px;
  border-radius: 3px;
  display: block;
  background-color: #fafafa;
  border: 1px solid #ebebeb;
  font-family: 'Source Sans Pro', Helvetica, Segoe, Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.tui-editor {
  width: 100%;
}

.no-content-page-icon {
  --gv-icon--s: 96px;
}
