@use '../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  gap: 16px;

  h1 {
    margin-bottom: 0;
  }
}

.categories {
  &__content {
    display: flex;
    flex-flow: column;
    gap: 24px;
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    &__actions {
      display: flex;
    }
  }
}

.mat-column-picture,
.mat-column-actions {
  width: 1%;
  padding: 0 8px;
  text-align: end;
}
