$healthcheckSidenavWidth: 500px;

@mixin min-max-width($width) {
  width: $width;
  height: 100%;
  min-width: $width;
  max-width: $width;
}

md-sidenav.healthcheck {
  @include min-max-width($healthcheckSidenavWidth);
  background-color: #fafafa;
  md-content {
    background-color: #fafafa;
  }
}
