@use 'node_modules/@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

.form {
  display: flex;
  flex-direction: column;

  mat-form-field {
    flex: 1 1 auto;
    margin-bottom: 8px;
  }

  &__checkbox-field {
    padding: 4px 0 24px 0;
    display: flex;
    align-items: center;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.error {
  color: mat.get-color-from-palette(gio.$mat-error-palette, default);
}
