@use '@angular/material' as mat;
@use './variables' as v;

:root {
    @include mat.sidenav-overrides((
        container-background-color: var(--sidebar-background),
        content-background-color: var(--background),
        container-divider-color: var(--sidebar-border),
        container-text-color: var(--sidebar-foreground),
        container-width: var(--sidebar-width),
    ));

    @include mat.list-overrides((
        active-indicator-color: var(--sidebar-accent),
        list-item-label-text-color: var(--sidebar-foreground),
        list-item-hover-state-layer-color: var(--sidebar-accent),
        list-item-leading-icon-size: v.$size-4,
        list-item-label-text-size: v.$text-sm-size,
        list-item-label-text-line-height: v.$text-sm-line-height,
        list-item-one-line-container-height: v.$size-8,
        list-item-leading-icon-start-space: v.$spacing-2,
        list-item-leading-icon-end-space: v.$spacing-2,
    ));

    @include mat.icon-overrides((
        color: var(--sidebar-foreground),
        size: v.$size-4,
    ));

    @include mat.divider-overrides((
        color: var(--border),
    ));
}
