@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

.env-runtime-logs-v4 {
  padding: 24px;

  &__header {
    display: flex;
    margin-bottom: 24px;
    justify-content: space-between;
    align-items: baseline;

    h1 {
      margin: auto 0;
      @include mat.m2-typography-level($typography, 'headline-6');
    }

    &__link a {
      display: inline-flex;
      align-items: center;
      gap: 4px;

      .mat-icon {
        height: 16px;
        width: 16px;
        font-size: 16px;
      }
    }
  }

  .banner-warning {
    margin-bottom: 24px;

    &__content {
      display: flex;
      flex-direction: column;
    }
  }

  .logs-section {
    border: 1px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker20');
  }

  .filters-section {
    padding: 16px;
    border-bottom: 1px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker20');
  }

  .table-section {
    padding: 16px;
  }
}
