@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use '../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.page-header {
  .title {
    margin-bottom: 8px;
  }
  .paragraph {
    margin-bottom: 0;
  }

  margin-bottom: 20px;
}

.card-header {
  margin-bottom: 20px;

  &__title {
    margin-bottom: 8px;
  }
}

.form-card {
  margin: 20px 6px;
}
