@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use '../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header {
  margin-bottom: 20px;

  &__title {
    margin-bottom: 8px;
  }
}

.form-card {
  margin: 20px 6px;
}

.timeframe-content {
  padding: 0 16px 16px 16px;
}





