@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@use '../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-margin-container;
}

.create-alert {
  &__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__forms {
    .create-alert__general-form,
    .create-alert__timeframe-form,
    .create-alert__condition-form {
      margin: 20px 0;
    }
  }
}
