@use '../../../../scss/gio-layout' as gio-layout;

:host {
  @include gio-layout.gio-responsive-content-container;
}

.response-templates-list {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__table {
    &__actions {
      display: flex;
      justify-content: center;
    }
  }
}
