@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .mat-icon {
    width: 24px;
    height: 24px;
  }
}
.new-folder-form {
  display: flex;
  flex-direction: column;

  .mat-form-field {
    width: 100%;
    padding-bottom: 0;
  }

  &__actions {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
  }
}
