name: Sync
on:
    push:
        branches:
            - test-sync-branche

jobs:
    sync-branches:
        runs-on: ubuntu-latest
        name: Syncing branches
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Set up Node
              uses: actions/setup-node@v1
              with:
                  node-version: 12
            - name: Opening pull request
              id: pull
              uses: tretuna/sync-branches@1.4.0
              with:
                  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
                  FROM_BRANCH: "test-sync-branche"
                  TO_BRANCH: "master-test"
                  PULL_REQUEST_IS_DRAFT: true
