
.properties .btn-group {
  padding: 0px 16px 0px;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;

  .CodeMirror-gutter-wrapper {
    left: -30px !important;
  }
}

.no-top {
  top: 0px;
}
