@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

$typography: map.get(gio.$mat-theme, typography);

.policy-studio-debug-timeline-legend {
  background-color: mat.m2-get-color-from-palette(gio.$mat-basic-palette, white);
  border-bottom: 2px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker10');
  height: 40px;
  display: flex;
  align-items: center;

  &__badge {
    height: 24px;
    display: inline-flex;
    align-items: center;
    background-color: mat.m2-get-color-from-palette(gio.$mat-basic-palette, white);
    margin-left: 4px;
    margin-right: 4px;
    padding: 3px 8px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker70');
    font-size: mat.m2-font-size($typography, caption);
    font-weight: mat.m2-font-weight($typography, caption);
    border: 1px solid mat.m2-get-color-from-palette(gio.$mat-dove-palette, 'darker70');
    border-radius: 16px;

    .gio-left {
      height: 16px;
      width: 16px;
      margin-right: 4px;
    }

    .color-green {
      color: mat.m2-get-color-from-palette(gio.$mat-success-palette, 'default');
    }

    .color-blue {
      color: mat.m2-get-color-from-palette(gio.$mat-accent-palette, 'default');
    }

    .color-grey {
      color: mat.m2-get-color-from-palette(gio.$mat-basic-palette, 'disabled-contrast');
    }

    .color-red {
      color: mat.m2-get-color-from-palette(gio.$mat-error-palette, 'default');
    }

    .color-black {
      color: mat.m2-get-color-from-palette(gio.$mat-space-palette, 'default');
    }
  }
}
