.gravitee-policy-dropzone {
  border-radius: 4px;
  padding: 20px;
  border: thick dotted rgba(0, 0, 0, .1);
  text-align: center;
  span.gravitee-policy-dropzone-msg {
    color: rgba(0,0,0,.2);
    font-size: 2.2em;
    font-weight: bold;
  }
  md-list-item {
    border: thin solid #546E7A;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    margin: -1px 0;
    min-height: 33px;
  }
}

.gravitee-policy-draggable {
  md-list-item {
    border-left-width: medium;
    border-left-style: dotted;
    border-left-color: #546E7A;
    margin: 15px 0;
    min-height: 33px;
    cursor: grab;
  }
  #policy-name {
    font-size: 1.4em;
  }
  #policy-version md-chips md-chip {
    font-size: 0.6em;
  }
}

.gravitee-policy-draggable-selected {
  cursor: grab;
  .gu-transit {
    background-color: #0000AA;
    color: #0000AA;
  }
}
